<svg class="d-block m-auto img-fluid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1309.68" height="833.04" viewbox="0 0 1309.68 833.04">
    <defs>
        <pattern id="pattern" preserveaspectratio="xMidYMid slice" width="100%" height="100%" viewbox="0 0 5457 3471">
            <image width="5457" height="3471" xlink:href="{{ asset('build/images/plans/r1.png') }}"/>
        </pattern>
    </defs>
    <g id="R_1_JB_Plan_de_travail_1" data-name="R+1 JB_Plan de travail 1" transform="translate(-43.208 45.065)">
        <g id="BASE_1_">
            <rect id="R_1_JB_Plan_de_travail_1_1_" data-name="R+1 JB_Plan de travail 1 (1)" width="1309.68" height="833.04" transform="translate(43.208 -45.065)" fill="url(#pattern)"/>
        </g>
        <g id="zoneCoworking" class="zoner1">
            <g class="cont">
                <path id="Tracé_5" data-name="Tracé 5" d="M476.4,265.4l-.2,14.6H366.4V265.3s19.6.5,19.6,0v-1.7h11v1.6h13.3v-1.9H419v2h15.4v-2h8.5v2.2h33.5Z" fill="#bfdaa7"/>
                <path id="Tracé_6" data-name="Tracé 6" d="M334.7,280h30V197.9H348.6s-3.7,10.6-5.6,18-4.7,19.6-5.7,27.5c-1.2,7.9-3.1,28.3-2.6,36.6" fill="#bfdaa7"/>
                <rect id="Rectangle_14" data-name="Rectangle 14" width="2.3" height="7.4" transform="translate(364 216.9)" fill="#bfdaa7"/>
                <rect id="Rectangle_15" data-name="Rectangle 15" width="12.4" height="4.7" transform="translate(351 195.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_16" data-name="Rectangle 16" width="16" height="19.6" transform="translate(366.5 152.5)" fill="#bfdaa7"/>
                <rect id="Rectangle_17" data-name="Rectangle 17" width="4" height="8.1" transform="translate(363.7 153.1)" fill="#bfdaa7"/>
                <rect id="Rectangle_18" data-name="Rectangle 18" width="30" height="36.6" transform="translate(385 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_19" data-name="Rectangle 19" width="28.9" height="35.5" transform="translate(423.8 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_20" data-name="Rectangle 20" width="20.3" height="13.5" transform="translate(456.1 193)" fill="#bfdaa7"/>
                <rect id="Rectangle_21" data-name="Rectangle 21" width="15.1" height="11.6" transform="translate(455.1 200)" fill="#bfdaa7"/>
                <rect id="Rectangle_22" data-name="Rectangle 22" width="29" height="35.5" transform="translate(479.3 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_23" data-name="Rectangle 23" width="11.6" height="5.6" transform="translate(458.5 189.7)" fill="#bfdaa7"/>
                <rect id="Rectangle_24" data-name="Rectangle 24" width="21.9" height="40.5" transform="translate(454.7 150.6)" fill="#bfdaa7"/>
                <rect id="Rectangle_25" data-name="Rectangle 25" width="4.8" height="7.6" transform="translate(474.7 159.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_26" data-name="Rectangle 26" width="2.8" height="7.6" transform="translate(452.2 159.6)" fill="#bfdaa7"/>
                <path id="Tracé_7" data-name="Tracé 7" d="M348.4,196.2,286,165.5s16.5-22.7,30.3-33.7,30-23.9,51.4-32.3,41.9-13.8,55.4-15.1C436.6,83.2,451,83,451,83H816.3l-.2,116.4-298.4-.2-.3-48.4-152.7.2.2,45Z" fill="#bfdaa7"/>
                <rect id="Rectangle_27" data-name="Rectangle 27" width="28.9" height="36.1" transform="translate(881.5 158.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_28" data-name="Rectangle 28" width="28.4" height="35.8" transform="translate(826.1 158.8)" fill="#bfdaa7"/>
            </g>

            <g id="label_coworking">
                <rect class="rectvisible" id="Rectangle_43" data-name="Rectangle 43" width="116.3" height="28" transform="translate(602.8 138.8)" fill="#fff"/>
                <g id="Groupe_1" data-name="Groupe 1">
                    <path id="Tracé_12" data-name="Tracé 12" d="M609.3,153.3a6.047,6.047,0,0,1,.4-2.2,5.927,5.927,0,0,1,1.1-1.9,6.227,6.227,0,0,1,1.8-1.4,6.042,6.042,0,0,1,2.4-.5,5.073,5.073,0,0,1,2.8.7,3.887,3.887,0,0,1,1.7,1.9l-1.8,1.2a2.177,2.177,0,0,0-.5-.8,1.794,1.794,0,0,0-.7-.5c-.3-.1-.5-.2-.8-.3a2.2,2.2,0,0,0-.8-.1,2.3,2.3,0,0,0-1.4.4,2.189,2.189,0,0,0-1,.9,3.1,3.1,0,0,0-.6,1.3,6.754,6.754,0,0,0-.2,1.4,7.716,7.716,0,0,0,.2,1.5,5.389,5.389,0,0,0,.7,1.3,3.126,3.126,0,0,0,1.1.9,3.194,3.194,0,0,0,1.4.3,2.2,2.2,0,0,0,.8-.1c.3-.1.5-.2.8-.3a1.345,1.345,0,0,0,.7-.6,2.177,2.177,0,0,0,.5-.8l1.9,1.1a4.185,4.185,0,0,1-.8,1.2,6.232,6.232,0,0,1-1.2.9,3.943,3.943,0,0,1-1.4.5,7.844,7.844,0,0,1-1.4.2,5.932,5.932,0,0,1-2.3-.5,6.228,6.228,0,0,1-1.8-1.4,6.657,6.657,0,0,1-1.2-2A9.254,9.254,0,0,1,609.3,153.3Z" fill="#bfdaa7"/>
                    <path id="Tracé_13" data-name="Tracé 13" d="M626.1,159.4a5.932,5.932,0,0,1-2.3-.5,4.887,4.887,0,0,1-1.8-1.4,7.607,7.607,0,0,1-1.2-1.9,5.7,5.7,0,0,1-.4-2.2,5.866,5.866,0,0,1,.4-2.3,6.15,6.15,0,0,1,1.2-1.9,4.628,4.628,0,0,1,1.8-1.3,5.54,5.54,0,0,1,4.6,0,6.228,6.228,0,0,1,1.8,1.4,5.242,5.242,0,0,1,1.1,1.9,5.7,5.7,0,0,1,.4,2.2,5.866,5.866,0,0,1-.4,2.3,6.151,6.151,0,0,1-1.2,1.9,4.628,4.628,0,0,1-1.8,1.3A3.982,3.982,0,0,1,626.1,159.4Zm-3.3-6a7.716,7.716,0,0,0,.2,1.5,5.389,5.389,0,0,0,.7,1.3,2.445,2.445,0,0,0,1.1.9,3.417,3.417,0,0,0,2.8,0,2.189,2.189,0,0,0,1-.9,3.1,3.1,0,0,0,.6-1.3,5.725,5.725,0,0,0,0-3,3.294,3.294,0,0,0-.7-1.3,2.836,2.836,0,0,0-1-.9,3.417,3.417,0,0,0-2.8,0,2.189,2.189,0,0,0-1,.9,5.17,5.17,0,0,0-.6,1.3A4.014,4.014,0,0,0,622.8,153.4Z" fill="#bfdaa7"/>
                    <path id="Tracé_14" data-name="Tracé 14" d="M637.3,147.5h2.1l1.3,3.9,1.3-3.9h2.2l-2,5.4,1.5,3.8,3.4-9.3h2.5l-4.9,11.9h-1.9l-2.1-5-2.1,5h-1.9l-4.8-11.9h2.5l3.4,9.3,1.5-3.8Z" fill="#bfdaa7"/>
                    <path id="Tracé_15" data-name="Tracé 15" d="M655.4,159.4a5.932,5.932,0,0,1-2.3-.5,4.887,4.887,0,0,1-1.8-1.4,7.607,7.607,0,0,1-1.2-1.9,5.7,5.7,0,0,1-.4-2.2,5.866,5.866,0,0,1,.4-2.3,6.15,6.15,0,0,1,1.2-1.9,4.628,4.628,0,0,1,1.8-1.3,5.54,5.54,0,0,1,4.6,0,6.228,6.228,0,0,1,1.8,1.4,5.242,5.242,0,0,1,1.1,1.9,5.7,5.7,0,0,1,.4,2.2,5.866,5.866,0,0,1-.4,2.3,6.151,6.151,0,0,1-1.2,1.9,4.628,4.628,0,0,1-1.8,1.3A4.193,4.193,0,0,1,655.4,159.4Zm-3.4-6a7.716,7.716,0,0,0,.2,1.5,3.294,3.294,0,0,0,.7,1.3,2.836,2.836,0,0,0,1,.9,3.417,3.417,0,0,0,2.8,0,2.189,2.189,0,0,0,1-.9,5.17,5.17,0,0,0,.6-1.3,5.725,5.725,0,0,0,0-3,5.389,5.389,0,0,0-.7-1.3,2.836,2.836,0,0,0-1-.9,3.417,3.417,0,0,0-2.8,0,2.189,2.189,0,0,0-1,.9,3.1,3.1,0,0,0-.6,1.3A7.716,7.716,0,0,0,652,153.4Z" fill="#bfdaa7"/>
                    <path id="Tracé_16" data-name="Tracé 16" d="M662.8,159.4V147.5h5.3a3.653,3.653,0,0,1,1.5.3,3.449,3.449,0,0,1,1.2.9,5.67,5.67,0,0,1,.8,1.3,3.925,3.925,0,0,1,.3,1.4,3.7,3.7,0,0,1-.6,2.1,3.638,3.638,0,0,1-1.6,1.4l2.8,4.5h-2.6l-2.5-4h-2.3v4Zm2.4-6.1h2.9a1.421,1.421,0,0,0,.6-.2,1.756,1.756,0,0,0,.5-.4l.3-.6a1.95,1.95,0,0,0,.1-.8,2.2,2.2,0,0,0-.1-.8,1.275,1.275,0,0,0-.4-.6,1.755,1.755,0,0,0-.5-.4,1.268,1.268,0,0,0-.6-.1h-2.8Z" fill="#bfdaa7"/>
                    <path id="Tracé_17" data-name="Tracé 17" d="M674.2,159.4V147.5h2.3v5.8l5.2-5.8h2.4l-4.6,5.3,4.9,6.6h-2.5l-3.8-5.3-1.6,1.7v3.6h-2.3Z" fill="#bfdaa7"/>
                    <path id="Tracé_18" data-name="Tracé 18" d="M685.4,159.4V147.5h2.3v11.9Z" fill="#bfdaa7"/>
                    <path id="Tracé_19" data-name="Tracé 19" d="M692.5,151.7v7.6h-2.3V147.4H692l6.2,7.8v-7.8h2.3v11.9h-1.9Z" fill="#bfdaa7"/>
                    <path id="Tracé_20" data-name="Tracé 20" d="M711,158a4.116,4.116,0,0,1-3.2,1.4,5.45,5.45,0,0,1-2.2-.5,4.887,4.887,0,0,1-1.8-1.4,6.657,6.657,0,0,1-1.2-2,6.812,6.812,0,0,1,0-4.6,6.15,6.15,0,0,1,1.2-1.9,5.936,5.936,0,0,1,1.8-1.3,5.45,5.45,0,0,1,2.2-.5,5.073,5.073,0,0,1,2.8.7,3.887,3.887,0,0,1,1.7,1.9l-1.7,1.3a4.071,4.071,0,0,0-1.2-1.4,2.618,2.618,0,0,0-1.7-.5,2.768,2.768,0,0,0-1.3.3,2.836,2.836,0,0,0-1,.9,5.388,5.388,0,0,0-.7,1.3,3.887,3.887,0,0,0-.2,1.5,4.145,4.145,0,0,0,.3,1.6,5.389,5.389,0,0,0,.7,1.3,2.836,2.836,0,0,0,1.1.8,3.194,3.194,0,0,0,1.4.3,3.8,3.8,0,0,0,3-1.6v-.8h-2.4v-1.7h4.3v6.1H711Z" fill="#bfdaa7"/>
                </g>
            </g>
        </g>
        <g id="zone_Sante" class="zoner1">
            <g class="cont">
                <rect id="Rectangle_29" data-name="Rectangle 29" width="136.6" height="14" transform="translate(857.3 266.1)" fill="#ea8fa9"/>
                <rect id="Rectangle_30" data-name="Rectangle 30" width="11.6" height="60.5" transform="translate(951.8 152.5)" fill="#ea8fa9"/>
                <rect id="Rectangle_31" data-name="Rectangle 31" width="28.6" height="35.1" transform="translate(919.7 159.2)" fill="#ea8fa9"/>
                <path id="Tracé_8" data-name="Tracé 8" d="M817.8,83.1l42.6.1,32.2.1,21,1.9,21.2,3.7,31,8.9,18.9,7.8,19.1,9.4,18.1,11.1,15.5,12.9,14.7,15.2,13.4,16.9,11.1,18,4.6,9.5,4.7,9.6,3.5,10.1,3.1,9.4,2.9,11.4,2,9.9,1.4,9.4-58.2,5.5h-10.5l-64.7-.3.1-112.5-15.9.1V156l-68.6.1-.2-16-53.8.2.2-13.4h-8.7l-.2-3.4h-.8Z" fill="#ea8fa9"/>
            </g>

            <g id="label_pole_sante">
                <rect class="rectvisible" id="Rectangle_44" data-name="Rectangle 44" width="116.3" height="28" transform="translate(955.5 183.2)" fill="#fff"/>
                <g id="Groupe_2" data-name="Groupe 2">
                    <path id="Tracé_21" data-name="Tracé 21" d="M962.6,203.8V191.9h5.1a3.653,3.653,0,0,1,1.5.3,3.449,3.449,0,0,1,1.2.9,5.67,5.67,0,0,1,.8,1.3,3.925,3.925,0,0,1,.3,1.4,4.012,4.012,0,0,1-.3,1.5,3.529,3.529,0,0,1-.8,1.3,2.73,2.73,0,0,1-1.2.9,4.013,4.013,0,0,1-1.5.3H965v4Zm2.4-6h2.7a1.606,1.606,0,0,0,1.1-.5,2.833,2.833,0,0,0,.3-2.2,2.092,2.092,0,0,0-.4-.6,1.755,1.755,0,0,0-.5-.4,1.268,1.268,0,0,0-.6-.1H965Z" fill="#ea8fa9"/>
                    <path id="Tracé_22" data-name="Tracé 22" d="M977.9,203.9a5.932,5.932,0,0,1-2.3-.5,4.887,4.887,0,0,1-1.8-1.4,7.607,7.607,0,0,1-1.2-1.9,5.7,5.7,0,0,1-.4-2.2,5.866,5.866,0,0,1,.4-2.3,6.15,6.15,0,0,1,1.2-1.9,4.628,4.628,0,0,1,1.8-1.3,5.54,5.54,0,0,1,4.6,0,4.887,4.887,0,0,1,1.8,1.4,5.242,5.242,0,0,1,1.1,1.9,5.7,5.7,0,0,1,.4,2.2,5.866,5.866,0,0,1-.4,2.3,6.15,6.15,0,0,1-1.2,1.9,4.628,4.628,0,0,1-1.8,1.3A5.45,5.45,0,0,1,977.9,203.9Zm-3.3-6.1a7.716,7.716,0,0,0,.2,1.5,3.294,3.294,0,0,0,.7,1.3,2.836,2.836,0,0,0,1,.9,3.417,3.417,0,0,0,2.8,0,2.189,2.189,0,0,0,1-.9,3.1,3.1,0,0,0,.6-1.3,5.725,5.725,0,0,0,0-3,5.389,5.389,0,0,0-.7-1.3,2.836,2.836,0,0,0-1-.9,3.417,3.417,0,0,0-2.8,0,2.189,2.189,0,0,0-1,.9,3.1,3.1,0,0,0-.6,1.3A8.877,8.877,0,0,0,974.6,197.8Zm.8-7.7,1.8-1.7h1.6l1.8,1.7-1.2.5-1.4-1.1-1.4,1.1Z" fill="#ea8fa9"/>
                    <path id="Tracé_23" data-name="Tracé 23" d="M985.2,203.8V191.9h2.3v9.9h6.1v2Z" fill="#ea8fa9"/>
                    <path id="Tracé_24" data-name="Tracé 24" d="M1003.3,201.8v2H995V191.9h8.1v2h-5.8v2.9h5v1.9h-5v3.1Z" fill="#ea8fa9"/>
                    <path id="Tracé_25" data-name="Tracé 25" d="M1016,195a1.38,1.38,0,0,0-.4-.3,5.937,5.937,0,0,0-.8-.4c-.3-.1-.6-.2-1-.3a3.749,3.749,0,0,0-1.1-.1,1.955,1.955,0,0,0-1.4.4,1.388,1.388,0,0,0-.5,1,1.072,1.072,0,0,0,.2.6,2.181,2.181,0,0,0,.5.4,6.891,6.891,0,0,0,.8.3,10.377,10.377,0,0,0,1.2.3c.6.2,1.1.3,1.6.5a3.458,3.458,0,0,1,1.2.7,3.916,3.916,0,0,1,.8,1,2.9,2.9,0,0,1,.3,1.4,2.726,2.726,0,0,1-.4,1.6,2.66,2.66,0,0,1-1,1.1,3.506,3.506,0,0,1-1.4.6,8.806,8.806,0,0,1-1.7.2,8.423,8.423,0,0,1-2.7-.4,8.806,8.806,0,0,1-2.4-1.1l1-2c.1.1.3.2.5.4.3.2.6.3.9.5a5.637,5.637,0,0,0,1.2.4,5.853,5.853,0,0,0,1.3.2c1.3,0,1.9-.4,1.9-1.2a1.445,1.445,0,0,0-.2-.7c-.1-.2-.4-.3-.6-.5a10.367,10.367,0,0,0-1-.4,9.288,9.288,0,0,1-1.3-.4,13.085,13.085,0,0,1-1.5-.5,4.371,4.371,0,0,1-1-.6,1.456,1.456,0,0,1-.6-.9,3.73,3.73,0,0,1-.2-1.2,4.145,4.145,0,0,1,.3-1.6,2.73,2.73,0,0,1,.9-1.2,3.694,3.694,0,0,1,1.4-.7,4.678,4.678,0,0,1,1.7-.2,5.867,5.867,0,0,1,2.3.4,15.044,15.044,0,0,1,1.8.9Z" fill="#ea8fa9"/>
                    <path id="Tracé_26" data-name="Tracé 26" d="M1017.9,203.8l4.7-11.9h1.9l4.7,11.9h-2.5l-1.1-3h-4.2l-1.1,3Zm5.6-9.4-1.7,4.8h3.4Z" fill="#ea8fa9"/>
                    <path id="Tracé_27" data-name="Tracé 27" d="M1032.6,196.2v7.6h-2.3V191.9h1.8l6.2,7.8v-7.8h2.3v11.9h-1.9Z" fill="#ea8fa9"/>
                    <path id="Tracé_28" data-name="Tracé 28" d="M1051.9,193.9h-3.8v9.9h-2.3v-9.9H1042v-2h9.9v2Z" fill="#ea8fa9"/>
                    <path id="Tracé_29" data-name="Tracé 29" d="M1061.5,201.8v2h-8.3V191.9h8.1v2h-5.8v2.9h5v1.9h-5v3.1Zm-3.4-10.9-1.4-.4.9-2h2.1Z" fill="#ea8fa9"/>
                </g>
            </g>
        </g>
        <g id="zoneBureau" class="zoner1">
            <g class="cont">
                <rect id="Rectangle_32" data-name="Rectangle 32" width="110" height="15.8" transform="translate(366.4 279.9)" fill="#f3dd80"/>
                <path id="Tracé_9" data-name="Tracé 9" d="M364.7,363.4V280h-30l.3,18.7,2.5,21.5,2.6,14.3,2.8,12,3,9.3,2.2,7.3Z" fill="#f3dd80"/>
                <path id="Tracé_10" data-name="Tracé 10" d="M364.7,364.9l-16.6-.2-34,16.8s0,1.7-1.1,2.2a2.242,2.242,0,0,1-2.6-.3c-.3-.5-25.5,12.9-25.5,12.9l5.9,7.4,1.4-.2,6.6,8.3,7.4,7.8,7.8,7.5,8,6.7,8.6,6.6,8.6,6.1,8.9,5.6,9.5,5,9.5,4.5,10,3.7,10,3.7,10.6,3,10.2,2,10.4,1.9,10.4,1.3,10.6.6,291.4-.1.1-116.5-213.2.1V410l-39.4.1v-.6h-1.5l-.1-53.2-6.7.1.2-2.1H458.5l.1,2-3.9.1v53.5l-90,.1Z" fill="#f3dd80"/>
                <rect id="Rectangle_33" data-name="Rectangle 33" width="12.2" height="2.9" transform="translate(351.1 362.7)" fill="#f3dd80"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="29.8" height="35.5" transform="translate(478.6 366.5)" fill="#f3dd80"/>
                <rect id="Rectangle_35" data-name="Rectangle 35" width="29.3" height="51.1" transform="translate(423.6 350.6)" fill="#f3dd80"/>
                <rect id="Rectangle_36" data-name="Rectangle 36" width="29.5" height="51.1" transform="translate(385.5 351)" fill="#f3dd80"/>
                <rect id="Rectangle_37" data-name="Rectangle 37" width="16" height="19.1" transform="translate(366.5 388.8)" fill="#f3dd80"/>
                <rect id="Rectangle_38" data-name="Rectangle 38" width="29.1" height="43.1" transform="translate(919.4 358.5)" fill="#f3dd80"/>
                <rect id="Rectangle_39" data-name="Rectangle 39" width="30" height="43.8" transform="translate(880.8 358.2)" fill="#f3dd80"/>
                <rect id="Rectangle_40" data-name="Rectangle 40" width="29.3" height="35.4" transform="translate(825.6 366.2)" fill="#f3dd80"/>
                <rect id="Rectangle_41" data-name="Rectangle 41" width="136.2" height="15.6" transform="translate(857.8 279.8)" fill="#f3dd80"/>
                <path id="Tracé_11" data-name="Tracé 11" d="M995.8,264.9l45.2.7,58.2-5.6.9,9.8.2,10.5-.7,10.2-.7,11-1.6,10.4-2.1,10.7-2.8,10.3-3,9.8-2.8,7.9.2,2.3-7.9,16.8-11.4,19-13,17-12.1,12.8-13.8,12.1-11.2,8.7-12.5,6.9-11,6.3-18.6,8.2-20.7,6.7-9.5,2.8-10.5,2.6-10.7,2.1-9.6,1.8L902,478.1l-10,.5-11,.5-21.1.2.2-1.9-127.8.5V361.5h84.3v48.4l41.2.3V364.5h21.4l.2,45.4,86.1.3V295.4l11.7-.2V297h18.6Z" fill="#f3dd80"/>
                <rect id="Rectangle_42" data-name="Rectangle 42" width="11.6" height="19.1" transform="translate(951.8 389)" fill="#f3dd80"/>
            </g>
            <g id="label_bureaux">
                <rect class="rectvisible" id="Rectangle_45" data-name="Rectangle 45" width="91.1" height="28" transform="translate(621.8 388.1)" fill="#fff"/>
                <g id="Groupe_3" data-name="Groupe 3">
                    <path id="Tracé_30" data-name="Tracé 30" d="M638.6,405.6a2.768,2.768,0,0,1-.3,1.3,3.916,3.916,0,0,1-.8,1,3.38,3.38,0,0,1-1.2.6,7.719,7.719,0,0,1-1.5.2H629V396.8h6.4a2.016,2.016,0,0,1,1.1.3,5.5,5.5,0,0,1,.9.7,3.127,3.127,0,0,1,.5,1,4.254,4.254,0,0,1,.2,1.1,2.934,2.934,0,0,1-.4,1.6,2.365,2.365,0,0,1-1.3,1.1,3.088,3.088,0,0,1,1.6,1.1A2.883,2.883,0,0,1,638.6,405.6Zm-7.3-6.9v3h3.1a1.284,1.284,0,0,0,1-.4,1.712,1.712,0,0,0,0-2.2,1.222,1.222,0,0,0-.9-.4Zm4.9,6.4a1.269,1.269,0,0,0-.1-.6,2.186,2.186,0,0,0-.3-.5c-.1-.1-.3-.3-.4-.3a1.268,1.268,0,0,0-.6-.1h-3.6v3.1h3.4a1.268,1.268,0,0,0,.6-.1c.2-.1.3-.2.5-.3a2.186,2.186,0,0,0,.3-.5A1.078,1.078,0,0,0,636.2,405.1Z" fill="#f3dd80"/>
                    <path id="Tracé_31" data-name="Tracé 31" d="M645.3,406.7a3.194,3.194,0,0,0,1.4-.3,1.962,1.962,0,0,0,.9-.9,6.114,6.114,0,0,0,.5-1.2,6.6,6.6,0,0,0,.1-1.4v-6.1h2.3v6.1a8.523,8.523,0,0,1-.3,2.3,6.632,6.632,0,0,1-.9,1.9,5.088,5.088,0,0,1-1.6,1.3,6.042,6.042,0,0,1-2.4.5,5.356,5.356,0,0,1-2.4-.5,4.171,4.171,0,0,1-1.6-1.3,5.575,5.575,0,0,1-.9-1.9,8.329,8.329,0,0,1-.3-2.2v-6.1h2.3V403a7.57,7.57,0,0,0,.1,1.5,3.337,3.337,0,0,0,.5,1.2,3.818,3.818,0,0,0,.9.9C644.3,406.6,644.7,406.7,645.3,406.7Z" fill="#f3dd80"/>
                    <path id="Tracé_32" data-name="Tracé 32" d="M652.7,408.6V396.7H658a3.654,3.654,0,0,1,1.5.3,3.449,3.449,0,0,1,1.2.9,5.67,5.67,0,0,1,.8,1.3,3.925,3.925,0,0,1,.3,1.4,3.7,3.7,0,0,1-.6,2.1,3.638,3.638,0,0,1-1.6,1.4l2.8,4.5h-2.6l-2.5-4H655v4h-2.3Zm2.3-6h2.9a.735.735,0,0,0,.6-.2,1.756,1.756,0,0,0,.5-.4c.2-.2.2-.4.3-.6a1.95,1.95,0,0,0,.1-.8,2.2,2.2,0,0,0-.1-.8,2.091,2.091,0,0,0-.4-.6,1.755,1.755,0,0,0-.5-.4,1.268,1.268,0,0,0-.6-.1H655Z" fill="#f3dd80"/>
                    <path id="Tracé_33" data-name="Tracé 33" d="M672.1,406.6v2h-8.3V396.7h8.1v2h-5.8v2.9h5v1.9h-5v3.1Z" fill="#f3dd80"/>
                    <path id="Tracé_34" data-name="Tracé 34" d="M672.7,408.6l4.7-11.9h1.9l4.7,11.9h-2.5l-1.1-3h-4.2l-1.1,3Zm5.6-9.4-1.7,4.8H680Z" fill="#f3dd80"/>
                    <path id="Tracé_35" data-name="Tracé 35" d="M690.1,406.7a3.194,3.194,0,0,0,1.4-.3,1.962,1.962,0,0,0,.9-.9,6.114,6.114,0,0,0,.5-1.2,6.6,6.6,0,0,0,.1-1.4v-6.1h2.3v6.1a8.523,8.523,0,0,1-.3,2.3,6.632,6.632,0,0,1-.9,1.9,5.088,5.088,0,0,1-1.6,1.3,6.042,6.042,0,0,1-2.4.5,5.356,5.356,0,0,1-2.4-.5,5.086,5.086,0,0,1-1.6-1.3,5.576,5.576,0,0,1-.9-1.9,8.329,8.329,0,0,1-.3-2.2v-6.1h2.3V403a7.57,7.57,0,0,0,.1,1.5,3.337,3.337,0,0,0,.5,1.2,3.818,3.818,0,0,0,.9.9C689.1,406.6,689.6,406.7,690.1,406.7Z" fill="#f3dd80"/>
                    <path id="Tracé_36" data-name="Tracé 36" d="M698.7,396.7l3,4.4,3-4.4h2.5l-4.3,6,4.1,5.9h-2.5l-2.8-4.3-2.8,4.3h-2.5l4.1-5.9-4.3-6Z" fill="#f3dd80"/>
                </g>
            </g>
        </g>
    </g>
</svg>