<svg class="d-block m-auto img-fluid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1309.68" height="833.04" viewbox="0 0 1309.68 833.04">
    <defs>
        <pattern id="pattern" preserveaspectratio="xMidYMid slice" width="100%" height="100%" viewbox="0 0 5457 3471">
            <image width="5457" height="3471" xlink:href="{{ asset('build/images/plans/1st_Floor_en.png') }}"/>
        </pattern>
    </defs>
    <g id="R_1_JB_Plan_de_travail_1" data-name="R+1 JB_Plan de travail 1" transform="translate(-43.208 45.065)">
        <g id="BASE_1_">
            <rect id="R_1_JB_Plan_de_travail_1_1_" data-name="R+1 JB_Plan de travail 1 (1)" width="1309.68" height="833.04" transform="translate(43.208 -45.065)" fill="url(#pattern)"/>
        </g>
        <g id="zoneCoworking" class="zoner1">
            <g class="cont">
                <path id="Tracé_5" data-name="Tracé 5" d="M476.4,265.4l-.2,14.6H366.4V265.3s19.6.5,19.6,0v-1.7h11v1.6h13.3v-1.9H419v2h15.4v-2h8.5v2.2h33.5Z" fill="#bfdaa7"/>
                <path id="Tracé_6" data-name="Tracé 6" d="M334.7,280h30V197.9H348.6s-3.7,10.6-5.6,18-4.7,19.6-5.7,27.5c-1.2,7.9-3.1,28.3-2.6,36.6" fill="#bfdaa7"/>
                <rect id="Rectangle_14" data-name="Rectangle 14" width="2.3" height="7.4" transform="translate(364 216.9)" fill="#bfdaa7"/>
                <rect id="Rectangle_15" data-name="Rectangle 15" width="12.4" height="4.7" transform="translate(351 195.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_16" data-name="Rectangle 16" width="16" height="19.6" transform="translate(366.5 152.5)" fill="#bfdaa7"/>
                <rect id="Rectangle_17" data-name="Rectangle 17" width="4" height="8.1" transform="translate(363.7 153.1)" fill="#bfdaa7"/>
                <rect id="Rectangle_18" data-name="Rectangle 18" width="30" height="36.6" transform="translate(385 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_19" data-name="Rectangle 19" width="28.9" height="35.5" transform="translate(423.8 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_20" data-name="Rectangle 20" width="20.3" height="13.5" transform="translate(456.1 193)" fill="#bfdaa7"/>
                <rect id="Rectangle_21" data-name="Rectangle 21" width="15.1" height="11.6" transform="translate(455.1 200)" fill="#bfdaa7"/>
                <rect id="Rectangle_22" data-name="Rectangle 22" width="29" height="35.5" transform="translate(479.3 159)" fill="#bfdaa7"/>
                <rect id="Rectangle_23" data-name="Rectangle 23" width="11.6" height="5.6" transform="translate(458.5 189.7)" fill="#bfdaa7"/>
                <rect id="Rectangle_24" data-name="Rectangle 24" width="21.9" height="40.5" transform="translate(454.7 150.6)" fill="#bfdaa7"/>
                <rect id="Rectangle_25" data-name="Rectangle 25" width="4.8" height="7.6" transform="translate(474.7 159.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_26" data-name="Rectangle 26" width="2.8" height="7.6" transform="translate(452.2 159.6)" fill="#bfdaa7"/>
                <path id="Tracé_7" data-name="Tracé 7" d="M348.4,196.2,286,165.5s16.5-22.7,30.3-33.7,30-23.9,51.4-32.3,41.9-13.8,55.4-15.1C436.6,83.2,451,83,451,83H816.3l-.2,116.4-298.4-.2-.3-48.4-152.7.2.2,45Z" fill="#bfdaa7"/>
                <rect id="Rectangle_27" data-name="Rectangle 27" width="28.9" height="36.1" transform="translate(881.5 158.8)" fill="#bfdaa7"/>
                <rect id="Rectangle_28" data-name="Rectangle 28" width="28.4" height="35.8" transform="translate(826.1 158.8)" fill="#bfdaa7"/>
            </g>

            <g id="label_coworking">
                <rect class="rectvisible" id="Rectangle_43" data-name="Rectangle 43" width="116.3" height="28" transform="translate(602.8 138.8)" fill="#fff"/>
                <g xmlns="http://www.w3.org/2000/svg" id="Groupe_1" fill="#bfdaa7">
                    <path id="Tracé_12" class="st0" d="M609.3,153.3c0-0.8,0.1-1.5,0.4-2.2c0.2-0.7,0.6-1.3,1.1-1.9c0.5-0.6,1.1-1,1.8-1.4      c0.8-0.3,1.6-0.5,2.4-0.5c1,0,2,0.2,2.8,0.7c0.8,0.4,1.4,1.1,1.7,1.9l-1.8,1.2c-0.1-0.3-0.3-0.6-0.5-0.8s-0.4-0.4-0.7-0.5      s-0.5-0.2-0.8-0.3s-0.5-0.1-0.8-0.1c-0.5,0-1,0.1-1.4,0.4c-0.4,0.2-0.8,0.5-1,0.9c-0.3,0.4-0.5,0.8-0.6,1.3s-0.2,0.9-0.2,1.4      s0.1,1,0.2,1.5c0.2,0.5,0.4,0.9,0.7,1.3c0.3,0.4,0.7,0.7,1.1,0.9c0.4,0.2,0.9,0.3,1.4,0.3c0.3,0,0.5,0,0.8-0.1s0.5-0.2,0.8-0.3      s0.5-0.3,0.7-0.6c0.2-0.2,0.4-0.5,0.5-0.8l1.9,1.1c-0.2,0.4-0.5,0.8-0.8,1.2c-0.4,0.3-0.8,0.6-1.2,0.9c-0.4,0.3-0.9,0.4-1.4,0.5      s-0.9,0.2-1.4,0.2c-0.8,0-1.6-0.2-2.3-0.5c-0.7-0.4-1.3-0.8-1.8-1.4c-0.5-0.6-0.9-1.3-1.2-2      C609.5,154.9,609.3,154.1,609.3,153.3z"/>
                    <path id="Tracé_13" class="st0" d="M626.1,159.4c-0.8,0-1.6-0.2-2.3-0.5s-1.3-0.8-1.8-1.4c-0.5-0.6-0.9-1.2-1.2-1.9      s-0.4-1.4-0.4-2.2s0.1-1.6,0.4-2.3c0.3-0.7,0.7-1.3,1.2-1.9c0.5-0.6,1.1-1,1.8-1.3c1.5-0.7,3.1-0.7,4.6,0      c0.7,0.4,1.3,0.8,1.8,1.4c0.5,0.5,0.9,1.2,1.1,1.9c0.3,0.7,0.4,1.4,0.4,2.2s-0.1,1.6-0.4,2.3c-0.3,0.7-0.7,1.3-1.2,1.9      c-0.5,0.6-1.1,1-1.8,1.3C627.6,159.3,626.9,159.4,626.1,159.4z M622.8,153.4c0,0.5,0.1,1,0.2,1.5c0.2,0.5,0.4,0.9,0.7,1.3      c0.3,0.4,0.7,0.7,1.1,0.9c0.9,0.4,1.9,0.4,2.8,0c0.4-0.2,0.8-0.5,1-0.9c0.3-0.4,0.5-0.8,0.6-1.3c0.3-1,0.3-2,0-3      c-0.1-0.5-0.4-0.9-0.7-1.3c-0.3-0.4-0.6-0.7-1-0.9c-0.9-0.4-1.9-0.4-2.8,0c-0.4,0.2-0.8,0.5-1,0.9c-0.3,0.4-0.5,0.8-0.6,1.3      C622.9,152.4,622.8,152.9,622.8,153.4z"/>
                    <path id="Tracé_14" class="st0" d="M637.3,147.5h2.1l1.3,3.9l1.3-3.9h2.2l-2,5.4l1.5,3.8l3.4-9.3h2.5l-4.9,11.9h-1.9l-2.1-5      l-2.1,5h-1.9l-4.8-11.9h2.5l3.4,9.3l1.5-3.8L637.3,147.5z"/>
                    <path id="Tracé_15" class="st0" d="M655.4,159.4c-0.8,0-1.6-0.2-2.3-0.5s-1.3-0.8-1.8-1.4c-0.5-0.6-0.9-1.2-1.2-1.9      s-0.4-1.4-0.4-2.2s0.1-1.6,0.4-2.3c0.3-0.7,0.7-1.3,1.2-1.9c0.5-0.6,1.1-1,1.8-1.3c1.5-0.7,3.1-0.7,4.6,0      c0.7,0.4,1.3,0.8,1.8,1.4c0.5,0.5,0.9,1.2,1.1,1.9c0.3,0.7,0.4,1.4,0.4,2.2s-0.1,1.6-0.4,2.3c-0.3,0.7-0.7,1.3-1.2,1.9      c-0.5,0.6-1.1,1-1.8,1.3C656.9,159.3,656.2,159.4,655.4,159.4z M652,153.4c0,0.5,0.1,1,0.2,1.5c0.1,0.5,0.4,0.9,0.7,1.3      c0.3,0.4,0.6,0.7,1,0.9c0.9,0.4,1.9,0.4,2.8,0c0.4-0.2,0.8-0.5,1-0.9c0.3-0.4,0.5-0.8,0.6-1.3c0.3-1,0.3-2,0-3      c-0.2-0.5-0.4-0.9-0.7-1.3c-0.3-0.4-0.6-0.7-1-0.9c-0.9-0.4-1.9-0.4-2.8,0c-0.4,0.2-0.8,0.5-1,0.9c-0.3,0.4-0.5,0.8-0.6,1.3      C652.1,152.4,652,152.9,652,153.4z"/>
                    <path id="Tracé_16" class="st0" d="M662.8,159.4v-11.9h5.3c0.5,0,1,0.1,1.5,0.3s0.9,0.5,1.2,0.9s0.6,0.8,0.8,1.3      c0.2,0.4,0.3,0.9,0.3,1.4c0,0.7-0.2,1.5-0.6,2.1c-0.4,0.6-0.9,1.1-1.6,1.4l2.8,4.5h-2.6l-2.5-4h-2.3v4H662.8z M665.2,153.3h2.9      c0.2,0,0.4-0.1,0.6-0.2c0.2-0.1,0.4-0.2,0.5-0.4l0.3-0.6c0.1-0.3,0.1-0.5,0.1-0.8s0-0.5-0.1-0.8c-0.1-0.2-0.2-0.4-0.4-0.6      c-0.1-0.2-0.3-0.3-0.5-0.4c-0.2-0.1-0.4-0.1-0.6-0.1h-2.8V153.3z"/>
                    <path id="Tracé_17" class="st0" d="M674.2,159.4v-11.9h2.3v5.8l5.2-5.8h2.4l-4.6,5.3l4.9,6.6h-2.5l-3.8-5.3l-1.6,1.7v3.6      L674.2,159.4L674.2,159.4z"/>
                    <path id="Tracé_18" class="st0" d="M685.4,159.4v-11.9h2.3v11.9H685.4z"/>
                    <path id="Tracé_19" class="st0" d="M692.5,151.7v7.6h-2.3v-11.9h1.8l6.2,7.8v-7.8h2.3v11.9h-1.9L692.5,151.7z"/>
                    <path id="Tracé_20" class="st0" d="M711,158c-0.8,0.9-2,1.4-3.2,1.4c-0.8,0-1.5-0.2-2.2-0.5s-1.3-0.8-1.8-1.4      c-0.5-0.6-0.9-1.3-1.2-2c-0.5-1.5-0.5-3.1,0-4.6c0.3-0.7,0.7-1.3,1.2-1.9c0.5-0.5,1.1-1,1.8-1.3s1.4-0.5,2.2-0.5      c1,0,2,0.2,2.8,0.7c0.8,0.4,1.4,1.1,1.7,1.9l-1.7,1.3c-0.3-0.6-0.7-1-1.2-1.4s-1.1-0.5-1.7-0.5c-0.5,0-0.9,0.1-1.3,0.3      c-0.4,0.2-0.7,0.5-1,0.9s-0.5,0.8-0.7,1.3s-0.2,1-0.2,1.5s0.1,1.1,0.3,1.6s0.4,0.9,0.7,1.3c0.3,0.4,0.7,0.6,1.1,0.8      c0.4,0.2,0.9,0.3,1.4,0.3c1.2,0,2.3-0.6,3-1.6v-0.8h-2.4v-1.7h4.3v6.1H711V158z"/>
                </g>
            </g>
        </g>
        <g id="zone_Sante" class="zoner1">
            <g class="cont">
                <rect id="Rectangle_29" data-name="Rectangle 29" width="136.6" height="14" transform="translate(857.3 266.1)" fill="#ea8fa9"/>
                <rect id="Rectangle_30" data-name="Rectangle 30" width="11.6" height="60.5" transform="translate(951.8 152.5)" fill="#ea8fa9"/>
                <rect id="Rectangle_31" data-name="Rectangle 31" width="28.6" height="35.1" transform="translate(919.7 159.2)" fill="#ea8fa9"/>
                <path id="Tracé_8" data-name="Tracé 8" d="M817.8,83.1l42.6.1,32.2.1,21,1.9,21.2,3.7,31,8.9,18.9,7.8,19.1,9.4,18.1,11.1,15.5,12.9,14.7,15.2,13.4,16.9,11.1,18,4.6,9.5,4.7,9.6,3.5,10.1,3.1,9.4,2.9,11.4,2,9.9,1.4,9.4-58.2,5.5h-10.5l-64.7-.3.1-112.5-15.9.1V156l-68.6.1-.2-16-53.8.2.2-13.4h-8.7l-.2-3.4h-.8Z" fill="#ea8fa9"/>
            </g>

            <g id="label_pole_sante">
                <rect class="rectvisible" id="Rectangle_44" data-name="Rectangle 44" width="124" height="28" transform="translate(955.5 183.2)" fill="#fff"/>
                <g id="Groupe_2">
                    <path id="Vector_10" class="st2" d="M972,191.2v13.3h-2.5v-5.7h-6v5.7H961v-13.3h2.5v5.4h6v-5.4H972z" fill="#ea8fa9"/>
                    <path id="Vector_11" class="st2" d="M984,202.2v2.3h-9.2v-13.3h9v2.3h-6.5v3.2h5.6v2.1h-5.6v3.4H984z" fill="#ea8fa9"/>
                    <path id="Vector_12" class="st2" d="M984.6,204.4l5.3-13.3h2.1l5.2,13.3h-2.7l-1.2-3.3h-4.6l-1.2,3.3H984.6z M990.9,194      l-1.9,5.4h3.7L990.9,194z" fill="#ea8fa9"/>
                    <path id="Vector_13" class="st2" d="M998.6,204.4v-13.3h2.5v11h6.8v2.3H998.6z" fill="#ea8fa9"/>
                    <path id="Vector_14" class="st2" d="M1017.7,193.4h-4.2v11h-2.5v-11h-4.3v-2.3h11V193.4z" fill="#ea8fa9"/>
                    <path id="Vector_15" class="st2" d="M1030.4,191.2v13.3h-2.5v-5.7h-6v5.7h-2.5v-13.3h2.5v5.4h6v-5.4H1030.4z" fill="#ea8fa9"/>
                    <path id="Vector_16" class="st2" d="M1037.7,204.4v-13.3h5.6c0.7,0,1.2,0.1,1.6,0.3c0.6,0.2,1,0.5,1.3,1      c0.3,0.4,0.7,0.9,0.9,1.4c0.2,0.5,0.3,1.1,0.3,1.6s-0.1,1.1-0.3,1.6c-0.2,0.5-0.4,1-0.9,1.4c-0.3,0.4-0.8,0.8-1.3,1      c-0.6,0.2-1.1,0.3-1.6,0.3h-3.2v4.4h-2.4V204.4z M1040.3,197.7h3c0.4,0,0.9-0.2,1.2-0.5c0.3-0.3,0.4-0.9,0.4-1.5      c0-0.3,0-0.7-0.1-0.9s-0.2-0.5-0.4-0.7c-0.2-0.1-0.3-0.3-0.5-0.4c-0.2-0.1-0.4-0.1-0.7-0.1h-2.9V197.7z" fill="#ea8fa9"/>
                    <path id="Vector_17" class="st2" d="M1054.8,202.2c0.7,0,1.1-0.1,1.5-0.3s0.8-0.5,1-1c0.2-0.4,0.4-0.9,0.5-1.3      c0.1-0.4,0.1-1.1,0.1-1.6v-6.8h2.5v6.8c0,0.9-0.1,1.8-0.3,2.5c-0.2,0.8-0.6,1.5-1,2.1c-0.4,0.5-1.1,1.1-1.8,1.4      c-0.8,0.3-1.7,0.5-2.6,0.5c-1.1,0-2-0.2-2.7-0.5c-0.8-0.3-1.3-0.9-1.8-1.4c-0.4-0.5-0.8-1.3-1-2.1s-0.3-1.6-0.3-2.5v-6.8h2.5      v6.8c0,0.5,0,1.1,0.1,1.6s0.3,1,0.6,1.3c0.2,0.3,0.6,0.8,1,1C1053.7,202.1,1054.2,202.2,1054.8,202.2z" fill="#ea8fa9"/>
                    <path id="Vector_18" class="st2" d="M1073.9,201c0,0.5-0.1,1.1-0.3,1.4c-0.2,0.3-0.6,0.8-0.9,1.1c-0.4,0.3-0.9,0.6-1.3,0.7      c-0.5,0.1-1.1,0.2-1.6,0.2h-6.4v-13.3h7.1c0.4,0,0.9,0.1,1.2,0.3c0.3,0.2,0.7,0.4,1,0.8c0.2,0.3,0.4,0.7,0.7,1.1      c0.2,0.4,0.2,0.8,0.2,1.2c0,0.7-0.1,1.2-0.4,1.9c-0.3,0.5-0.8,1-1.4,1.2c0.8,0.2,1.3,0.7,1.8,1.2      C1073.7,199.4,1073.9,200.1,1073.9,201z M1065.8,193.4v3.3h3.4c0.4,0,0.8-0.1,1.1-0.4c0.3-0.3,0.4-0.7,0.4-1.2s-0.1-0.9-0.4-1.2      s-0.7-0.4-1-0.4h-3.5V193.4z M1071.3,200.5c0-0.2,0-0.4-0.1-0.7s-0.2-0.4-0.3-0.5c-0.1-0.1-0.3-0.3-0.4-0.3      c-0.2-0.1-0.4-0.1-0.7-0.1h-4v3.5h3.8c0.2,0,0.4,0,0.7-0.1c0.2-0.1,0.3-0.2,0.5-0.3c0.1-0.1,0.2-0.3,0.3-0.5      C1071.3,201.2,1071.3,200.8,1071.3,200.5z" fill="#ea8fa9"/>
                </g>
            </g>
        </g>
        <g id="zoneBureau" class="zoner1">
            <g class="cont">
                <rect id="Rectangle_32" data-name="Rectangle 32" width="110" height="15.8" transform="translate(366.4 279.9)" fill="#f3dd80"/>
                <path id="Tracé_9" data-name="Tracé 9" d="M364.7,363.4V280h-30l.3,18.7,2.5,21.5,2.6,14.3,2.8,12,3,9.3,2.2,7.3Z" fill="#f3dd80"/>
                <path id="Tracé_10" data-name="Tracé 10" d="M364.7,364.9l-16.6-.2-34,16.8s0,1.7-1.1,2.2a2.242,2.242,0,0,1-2.6-.3c-.3-.5-25.5,12.9-25.5,12.9l5.9,7.4,1.4-.2,6.6,8.3,7.4,7.8,7.8,7.5,8,6.7,8.6,6.6,8.6,6.1,8.9,5.6,9.5,5,9.5,4.5,10,3.7,10,3.7,10.6,3,10.2,2,10.4,1.9,10.4,1.3,10.6.6,291.4-.1.1-116.5-213.2.1V410l-39.4.1v-.6h-1.5l-.1-53.2-6.7.1.2-2.1H458.5l.1,2-3.9.1v53.5l-90,.1Z" fill="#f3dd80"/>
                <rect id="Rectangle_33" data-name="Rectangle 33" width="12.2" height="2.9" transform="translate(351.1 362.7)" fill="#f3dd80"/>
                <rect id="Rectangle_34" data-name="Rectangle 34" width="29.8" height="35.5" transform="translate(478.6 366.5)" fill="#f3dd80"/>
                <rect id="Rectangle_35" data-name="Rectangle 35" width="29.3" height="51.1" transform="translate(423.6 350.6)" fill="#f3dd80"/>
                <rect id="Rectangle_36" data-name="Rectangle 36" width="29.5" height="51.1" transform="translate(385.5 351)" fill="#f3dd80"/>
                <rect id="Rectangle_37" data-name="Rectangle 37" width="16" height="19.1" transform="translate(366.5 388.8)" fill="#f3dd80"/>
                <rect id="Rectangle_38" data-name="Rectangle 38" width="29.1" height="43.1" transform="translate(919.4 358.5)" fill="#f3dd80"/>
                <rect id="Rectangle_39" data-name="Rectangle 39" width="30" height="43.8" transform="translate(880.8 358.2)" fill="#f3dd80"/>
                <rect id="Rectangle_40" data-name="Rectangle 40" width="29.3" height="35.4" transform="translate(825.6 366.2)" fill="#f3dd80"/>
                <rect id="Rectangle_41" data-name="Rectangle 41" width="136.2" height="15.6" transform="translate(857.8 279.8)" fill="#f3dd80"/>
                <path id="Tracé_11" data-name="Tracé 11" d="M995.8,264.9l45.2.7,58.2-5.6.9,9.8.2,10.5-.7,10.2-.7,11-1.6,10.4-2.1,10.7-2.8,10.3-3,9.8-2.8,7.9.2,2.3-7.9,16.8-11.4,19-13,17-12.1,12.8-13.8,12.1-11.2,8.7-12.5,6.9-11,6.3-18.6,8.2-20.7,6.7-9.5,2.8-10.5,2.6-10.7,2.1-9.6,1.8L902,478.1l-10,.5-11,.5-21.1.2.2-1.9-127.8.5V361.5h84.3v48.4l41.2.3V364.5h21.4l.2,45.4,86.1.3V295.4l11.7-.2V297h18.6Z" fill="#f3dd80"/>
                <rect id="Rectangle_42" data-name="Rectangle 42" width="11.6" height="19.1" transform="translate(951.8 389)" fill="#f3dd80"/>
            </g>
            <g id="label_bureaux">
                <rect class="rectvisible" id="Rectangle_45" data-name="Rectangle 45" width="91.1" height="28" transform="translate(621.8 388.1)" fill="#fff"/>
                <g id="Groupe_3_1_">
                    <path id="Vector_19" class="st3" d="M636,409c-1,0-1.8-0.2-2.5-0.5c-0.8-0.3-1.4-0.9-2-1.5c-0.5-0.7-1-1.3-1.3-2.2      c-0.3-0.8-0.4-1.6-0.4-2.5s0.1-1.8,0.4-2.5c0.3-0.8,0.8-1.5,1.3-2.2s1.2-1.1,2-1.5c0.8-0.3,1.6-0.5,2.5-0.5s1.8,0.2,2.5,0.5      c0.8,0.4,1.4,0.9,2,1.5c0.5,0.7,1,1.3,1.3,2.2c0.3,0.8,0.4,1.6,0.4,2.4c0,0.9-0.1,1.8-0.4,2.5c-0.3,0.8-0.8,1.5-1.3,2.1      c-0.5,0.7-1.2,1.1-2,1.4C637.7,408.4,636.8,409,636,409z M632.2,402.2c0,0.5,0.1,1.1,0.2,1.6c0.2,0.5,0.4,1,0.8,1.4      c0.3,0.4,0.7,0.8,1.2,1c0.4,0.2,1,0.3,1.5,0.3s1.1-0.1,1.5-0.3c0.4-0.2,0.9-0.5,1.1-1c0.3-0.4,0.5-0.9,0.7-1.4      c0.1-0.5,0.2-1.1,0.2-1.6c0-0.6-0.1-1.1-0.2-1.6c-0.1-0.5-0.4-1-0.8-1.4c-0.3-0.4-0.7-0.8-1.2-1s-1-0.3-1.5-0.3      s-1.1,0.1-1.5,0.3c-0.4,0.2-0.9,0.5-1.2,1c-0.3,0.4-0.5,0.9-0.8,1.4C632.3,401.1,632.2,401.6,632.2,402.2z" fill="#f3dd80"/>
                    <path id="Vector_20" class="st3" d="M644.2,408.9v-13.3h8.9v2.3h-6.3v3.4h5.3v2.1h-5.3v5.5H644.2z" fill="#f3dd80"/>
                    <path id="Vector_21" class="st3" d="M654.8,408.9v-13.3h8.9v2.3h-6.4v3.4h5.3v2.1h-5.3v5.5H654.8z" fill="#f3dd80"/>
                    <path id="Vector_22" class="st3" d="M665.5,408.9v-13.3h2.5v13.3H665.5z" fill="#f3dd80"/>
                    <path id="Vector_23" class="st3" d="M670.1,402.1c0-0.8,0.1-1.6,0.4-2.4c0.3-0.8,0.7-1.5,1.2-2.1c0.5-0.7,1.2-1.1,2-1.5      s1.6-0.5,2.6-0.5c1.2,0,2.2,0.2,3.1,0.8c0.9,0.5,1.5,1.2,1.9,2.1l-2,1.3c-0.1-0.3-0.3-0.7-0.5-1c-0.2-0.2-0.5-0.4-0.8-0.7      c-0.2-0.2-0.5-0.2-0.9-0.3c-0.3-0.1-0.5-0.1-0.9-0.1c-0.7,0-1.1,0.1-1.6,0.4c-0.4,0.2-0.9,0.5-1.1,1c-0.3,0.4-0.5,0.9-0.7,1.4      c-0.1,0.6-0.2,1.1-0.2,1.5c0,0.5,0.1,1.1,0.2,1.6c0.2,0.6,0.4,1,0.8,1.4c0.3,0.4,0.8,0.8,1.2,1s1,0.3,1.5,0.3      c0.3,0,0.5,0,0.9-0.1c0.3-0.1,0.5-0.2,0.9-0.3c0.3-0.1,0.5-0.3,0.8-0.7c0.2-0.3,0.4-0.5,0.5-0.9l2.1,1.2c-0.2,0.5-0.4,1-0.9,1.3      c-0.4,0.3-0.8,0.7-1.3,1s-1,0.4-1.5,0.5s-1.1,0.2-1.5,0.2c-0.9,0-1.8-0.2-2.5-0.5c-0.8-0.4-1.4-0.9-2-1.5      c-0.5-0.7-1-1.3-1.3-2.2C670.2,403.8,670.1,402.9,670.1,402.1z" fill="#f3dd80"/>
                    <path id="Vector_24" class="st3" d="M692.6,406.6v2.3h-9.2v-13.3h9v2.3h-6.5v3.2h5.6v2.1h-5.6v3.4H692.6z" fill="#f3dd80"/>
                    <path id="Vector_25" class="st3" d="M702.4,399.1c-0.1-0.1-0.2-0.2-0.4-0.3c-0.2-0.1-0.5-0.3-0.9-0.4c-0.3-0.1-0.7-0.2-1.1-0.3      c-0.4-0.1-0.8-0.1-1.2-0.1c-0.7,0-1.2,0.1-1.5,0.4c-0.3,0.2-0.5,0.7-0.5,1.1c0,0.2,0.1,0.5,0.2,0.7c0.1,0.1,0.3,0.3,0.5,0.4      s0.5,0.2,1,0.3c0.4,0.1,0.8,0.2,1.3,0.3c0.7,0.2,1.2,0.3,1.8,0.5c0.5,0.2,1,0.4,1.3,0.8c0.3,0.3,0.7,0.7,0.9,1.1      s0.3,0.9,0.3,1.5s-0.1,1.3-0.4,1.9c-0.2,0.5-0.7,0.9-1.1,1.2c-0.4,0.3-1,0.5-1.5,0.7c-0.5,0.1-1.2,0.2-1.9,0.2c-1,0-2-0.1-3-0.4      s-1.9-0.8-2.6-1.3l1.1-2.2c0.1,0.1,0.3,0.2,0.7,0.4c0.3,0.2,0.7,0.3,1,0.5c0.4,0.2,0.9,0.3,1.3,0.4c0.4,0.1,1,0.2,1.5,0.2      c1.4,0,2.1-0.4,2.1-1.3c0-0.3-0.1-0.5-0.2-0.8c-0.1-0.2-0.4-0.3-0.7-0.5c-0.3-0.1-0.7-0.3-1.1-0.4c-0.4-0.1-0.9-0.2-1.4-0.4      c-0.7-0.2-1.2-0.3-1.6-0.5c-0.4-0.2-0.9-0.4-1.2-0.8c-0.3-0.3-0.5-0.5-0.7-1c-0.1-0.3-0.2-0.8-0.2-1.3c0-0.7,0.1-1.3,0.3-1.8      s0.5-1,1-1.3c0.4-0.3,1-0.7,1.5-0.8c0.5-0.1,1.2-0.2,1.9-0.2c1,0,1.8,0.1,2.5,0.4c0.8,0.3,1.4,0.7,2.1,1L702.4,399.1z" fill="#f3dd80"/>
                </g>
            </g>
        </g>
    </g>
</svg>