{% extends '@!EasyAdmin/layout.html.twig' %}

{#{% block body_class 'page-content' %}#}

{#{% block page_title %}#}
{#    {% deprecated 'The "page_title" block is deprecated, use "content_title" instead.' %}#}
{#{% endblock %}#}

{# {% block content_title %}{{ block('page_title') }}{% endblock %}#}

{#{% block page_content %}#}
{#    {% deprecated 'The "page_content" block is deprecated, use "main" instead.' %}#}
{#{% endblock %}#}

{#{% block main %}{{ block('page_content') }}{% endblock %}#}



{% block content %}
    <h1>test !!!</h1>
{% endblock %}