{% extends 'base.html.twig' %}
{% block title %}{{ "Accès"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<div class="wrapper p-0 gmap">
		<div class="gmap-sidebar">
			<h1 class="h2">{{ "Calculer votre itinéraire"|trans }}</h1>
			<div class="icon-list">
				<div id="mode">
					<input type="radio" name="destination" value="DRIVING" id="DRIVING">
					<label for="DRIVING">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32">
							<g id="auto" transform="translate(-3152 14398)">
								<circle id="fond" cx="16" cy="16" r="16" transform="translate(3152 -14398)" fill="#fff"/>
								<circle id="border" cx="15" cy="15" r="15" transform="translate(3153 -14397)" fill="none" stroke="#000" stroke-width="2"/>
								<g id="auto-2" data-name="auto" transform="translate(3152 -14398)">
									<path id="Tracé_101" data-name="Tracé 101" d="M21.236,17.469a.98.98,0,1,1,1-.979A1.063,1.063,0,0,1,21.236,17.469ZM10.016,14.041c-.249,0-.249-.245-.249-.49l.748-2.694a.532.532,0,0,1,.5-.49H19.99a.532.532,0,0,1,.5.49l.748,2.694c0,.245,0,.49-.249.49Zm-.5,3.428a.98.98,0,1,1,0-1.959.98.98,0,1,1,0,1.959ZM23.481,15.02a1.063,1.063,0,0,0-1-.98l-.748-3.429c-.249-.735-.748-1.469-1.5-1.469H11.013a1.6,1.6,0,0,0-1.5,1.469l-.748,3.429a1.063,1.063,0,0,0-1,.98v3.429a1.063,1.063,0,0,0,1,.98v2.939a.532.532,0,0,0,.5.49h1.5c.249,0,.5-.49.5-.49V19.428h9.475v2.939a.532.532,0,0,0,.5.49h1.5a.532.532,0,0,0,.5-.49V19.428a1.063,1.063,0,0,0,1-.98Z"/>
								</g>
							</g>
						</svg>
					</label>
					<input type="radio" name="destination" value="TRANSIT" id="TRANSIT">
					<label for="TRANSIT">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32">
							<g id="transit" transform="translate(6385 11342)">
								<circle id="fond" data-name="Ellipse 2" cx="16" cy="16" r="16" transform="translate(-6385 -11342)" fill="#fff"/>
								<circle id="border" data-name="Ellipse 1" cx="14.877" cy="14.877" r="14.877" transform="translate(-6384 -11341)" fill="none" stroke="#000" stroke-width="2"/>
								<g id="tram" transform="translate(-6385.332 -11342)">
									<path id="Tracé_104" data-name="Tracé 104" d="M19.722,12.783H12.968a1.221,1.221,0,0,1-1.192-1.189V9.612a1.169,1.169,0,0,1,1.192-1.189h6.755a1.221,1.221,0,0,1,1.192,1.189v1.981A1.221,1.221,0,0,1,19.722,12.783Zm1.192,5.151a1.192,1.192,0,1,1-1.192-1.189A1.169,1.169,0,0,1,20.914,17.934Zm-8.026,1.189a1.189,1.189,0,1,1,1.192-1.189A1.221,1.221,0,0,1,12.888,19.123Zm-.556,1.268L9.074,25.226H10.9L13.127,21.9h6.357l2.225,3.329h1.828l-3.258-4.834a2.566,2.566,0,0,0,2.146-2.536V8.344a2.574,2.574,0,0,0-2.543-2.615H12.729a2.574,2.574,0,0,0-2.543,2.615v9.511A2.566,2.566,0,0,0,12.332,20.391Z"/>
								</g>
							</g>
						</svg>
					</label>
					<input type="radio" name="destination" value="WALKING" id="WALKING"><label for="WALKING">
						<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewbox="0 0 34 34">
							<g id="walk" transform="translate(6385.5 11342.641)">
								<circle id="fond" data-name="Ellipse 2" cx="16" cy="16" r="16" transform="translate(-6385 -11342)" fill="#fff"/>
								<circle id="border" data-name="Ellipse 1" cx="16" cy="16" r="16" transform="translate(-6384.5 -11341.641)" fill="none" stroke="#000" stroke-width="2"/>
								<g id="walk-2" data-name="walk" transform="translate(-6463.668 -11334)">
									<g id="Groupe_24" data-name="Groupe 24" transform="translate(89.705 -1.591)">
										<g id="Groupe_23" data-name="Groupe 23">
											<path id="Tracé_107" data-name="Tracé 107" d="M209.851,3.7A1.851,1.851,0,1,0,208,1.851,1.857,1.857,0,0,0,209.851,3.7Z" transform="translate(-202.909)"/>
											<path id="Tracé_108" data-name="Tracé 108" d="M102.7,102.479v-1.851a4.745,4.745,0,0,1-4.026-2.268l-.879-1.481A1.805,1.805,0,0,0,96.22,96a1.857,1.857,0,0,0-.694.139l-4.859,1.99v4.35h1.851v-3.1l1.62-.694-2.545,13.05h1.944l1.62-7.4,1.99,1.851v5.553H99v-6.988l-1.9-1.9.555-2.777A6.458,6.458,0,0,0,102.7,102.479Z" transform="translate(-90.667 -91.835)"/>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</label>
					<input type="radio" name="destination" value="BICYCLING" id="BICYCLING">
					<label for="BICYCLING">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewbox="0 0 32 32">
							<defs>
								<clipPath id="clip-path"><rect id="Rectangle_9" data-name="Rectangle 9" width="23" height="14" transform="translate(5 9)" fill="#fff"/></clipPath>
							</defs>
							<g id="velo" transform="translate(-3232 14398)">
								<circle id="fond" cx="16" cy="16" r="16" transform="translate(3232 -14398)" fill="#fff"/>
								<circle id="border" cx="14.877" cy="14.877" r="14.877" transform="translate(3233 -14397)" fill="none" stroke="#000" stroke-width="2"/>
								<g id="velo-2" data-name="velo" transform="translate(3231.754 -14398)">
									<g id="Groupe_22" data-name="Groupe 22" clip-path="url(#clip-path)">
										<path id="Tracé_103" data-name="Tracé 103" d="M23.3,22.227a3.8,3.8,0,0,1-3.848-3.865,4.147,4.147,0,0,1,1.111-2.748,2.306,2.306,0,0,1,.684-.6l1.625,3.436a.458.458,0,0,0,.342.258c.085,0,.085,0,.171-.086a.414.414,0,0,0,.171-.515l-1.625-3.436a6.571,6.571,0,0,1,1.283-.172,3.946,3.946,0,0,1,2.736,1.117,3.769,3.769,0,0,1,1.111,2.748A3.717,3.717,0,0,1,23.3,22.227Zm-6.926-4.81L14.32,12.006h5.045Zm-2.052.6a4.552,4.552,0,0,0-1.283-3.006c-.171-.172-.427-.344-.6-.515l1.2-1.975,2.052,5.5Zm-4.019,0,1.71-2.748a1.867,1.867,0,0,1,.427.344,3.948,3.948,0,0,1,1.112,2.4Zm-.6,4.209A3.946,3.946,0,0,1,6.967,21.11a3.982,3.982,0,0,1-1.112-2.748A3.84,3.84,0,0,1,9.7,14.5a2.917,2.917,0,0,1,1.539.344L9.275,18.19a.385.385,0,0,0,0,.429.444.444,0,0,0,.342.172H13.55A3.958,3.958,0,0,1,9.7,22.227Zm16.929-7.215A4.71,4.71,0,0,0,23.3,13.638a4.957,4.957,0,0,0-1.625.258L19.621,9.6A1.051,1.051,0,0,0,18.68,9h-1.2a.429.429,0,0,0,0,.859h1.2a.3.3,0,0,1,.171.086l.6,1.288H13.978l-.171-.429h.257a.429.429,0,0,0,0-.859h-1.8a.429.429,0,0,0,0,.859h.684l.342.773-1.539,2.577A3.341,3.341,0,0,0,9.7,13.638,4.755,4.755,0,0,0,5,18.362a4.552,4.552,0,0,0,1.368,3.264,4.732,4.732,0,0,0,8.037-2.834h1.967a.444.444,0,0,0,.342-.172l3.42-6.184.855,1.8a3.794,3.794,0,0,0-.941.687A4.7,4.7,0,0,0,18.68,18.19a4.552,4.552,0,0,0,1.368,3.264,4.712,4.712,0,0,0,8.037-3.264A6,6,0,0,0,26.632,15.012Z"/>
									</g>
								</g>
							</g>
						</svg>
					</label>
				</div>
			</div>
			<form action="">
				<div class="inputs" style="position:relative">
					<div class="input first">
						<svg width="15" height="16" viewbox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.5 14.6001C11.4 14.6001 14.5 11.4001 14.5 7.6001C14.5 3.7001 11.3 0.600098 7.5 0.600098C3.7 0.600098 0.5 3.8001 0.5 7.6001C0.5 11.4001 3.7 14.6001 7.5 14.6001Z" stroke="#424241"/>
						</svg>
						<input type="text" id="adrDep" value="" placeholder="{{ "Choisissez votre point de départ"|trans }}" class="mt-24">
					</div>
					<div class="input">
						<svg width="15" height="16" viewbox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.5 14.6001C11.4 14.6001 14.5 11.4001 14.5 7.6001C14.5 3.7001 11.3 0.600098 7.5 0.600098C3.7 0.600098 0.5 3.8001 0.5 7.6001C0.5 11.4001 3.7 14.6001 7.5 14.6001Z" stroke="#424241"/>
						</svg>
						<input type="text" id="adrDest" value="" placeholder="Cité Universelle de Paris" class="mt-24" disabled>
					</div>
					<div class="switch">
						<button type="button" onclick="inverser_destination()"><img src="{{ asset('build/images/acces/destination-switcher.png') }}" alt="Inverser les destination"></button>
					</div>
				</div>
				<a class="but" value="recherche" onclick="calcRoute()">{{ "Calculer votre itinéraire"|trans }}</a>
			</form>
			<div id="output" class="mt-24"></div>
		</div>
		<div id="divRoute" style="width:100%;height:80vh;position:absolute;z-index:1;left:0;top:0;pointer-events:none;"></div>
		<div id="googleMap" style="width:100%;height:500px;"></div>
	</div>
	<div class="gmap-bottom">
		<div class="gmap-bottom__inner">
			<div class="gares">
				<img src="{{ asset('build/images/acces/trajets.svg') }}" alt="Trajets Cité Universelle">
			</div>
		</div>
	</div>
</div>
{# GOOGLE MAP #}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLzV1ZIQxLlGezJfJy16QUbBgYzkq5eBs&libraries=places"></script>
<script type="text/javascript">
    // const formulaire = document.querySelector("form");
    const input_adresse_depart = document.getElementById("adrDep");
    const input_adresse_arrivee = document.getElementById("adrDest");
    const myLatLng = {
        lat: 48.88962636455089,
        lng: 2.396802160215019
    };
    const adresse_cite_u = new google.maps.LatLng(48.88962636455089, 2.396802160215019);
    const myOptions = {
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: adresse_cite_u,
        disableDefaultUI: true
    }
    const map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
    const marker_icon = {
        url: "{{ asset('build/images/acces/logoMarker_CiteU.svg') }}",
        scaledSize: new google.maps.Size(50, 50),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(0, 0)
    };
    const marker_cite_u = new google.maps.Marker({position: adresse_cite_u, map: map, title: "Cité u", icon: marker_icon, clickable: false});
    const directionsService = new google.maps.DirectionsService();
    const directionsDisplay = new google.maps.DirectionsRenderer();
    directionsDisplay.setMap(map);
    function calcRoute(reversed = false) {
        const output = document.querySelector('#output'); // Èlément ou sera affiché les infos de sortie
        let methode_de_trajet = document.querySelector('input[name="destination"]:checked');
        if (typeof(methode_de_trajet) != 'undefined' && methode_de_trajet != null) {
            methode_de_trajet = methode_de_trajet.value;
        } else {
            output.innerHTML = "<div class='alert alert-danger'><p>Vous devez sélectionner un moyen de transport</p></div>";
            return
        }
        const request = {
            origin: reversed === true ? myLatLng : input_adresse_depart.value,
            destination: reversed === true ? input_adresse_depart.value : myLatLng,
            travelMode: methode_de_trajet, // WALKING, BYCYCLING, TRANSIT
            unitSystem: google.maps.UnitSystem.METRIC
        }
        /**
         * Calcule de l'itinéraire
         */
        directionsService.route(request, function (result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                output.innerHTML = `
                    <div class='alert-info'>
                        <strong>Depuis : </strong>${
                    input_adresse_depart.value
                }<br>
                        <strong>Distance : </strong><i class='fas fa-road'></i>${
                    result.routes[0].legs[0].distance.text
                }<br>
                        <strong>Durée : </strong><i class='fas fa-hourglass-start'></i>${
                    result.routes[0].legs[0].duration.text
                }
                    </div>
                `;
                directionsDisplay.setDirections(result); // Afficher le résultat de la route
            } else {
                directionsDisplay.setDirections({routes: []}); // delete route from map
                map.setCenter(myLatLng); // centrer la map sur myLatLng
                output.innerHTML = "<div class='alert-danger'><i class='fas fa-exclamation-triangle'></i> Ne parviens pas à retrouver le trajet.</div>"; // Afficher message d'erreur
            }
        });
    }
    function inverser_destination() {
        const form_input_container = document.querySelector(".inputs")
        const form_inputs = document.querySelectorAll(".inputs .input")
        form_inputs.forEach((item) => {
            form_input_container.firstElementChild.classList.contains("first") ? form_input_container.prepend(item) : form_input_container.append(item)
        })
        if (form_input_container.classList.contains("reversed")) {
            form_input_container.classList.remove("reversed")
            calcRoute();
        } else {
            form_input_container.classList.add("reversed")
            calcRoute(true)
        }
    }
    /** =============================================================
     * Création d'un objet d'autocomplétion pour les entrées input
     ============================================================== */
    const options = {
        // types: ['(cities)'],
        componentRestrictions: {
            country: "fr"
        }
    }
    const autocomplete1 = new google.maps.places.Autocomplete(input_adresse_depart, options);
    const autocomplete2 = new google.maps.places.Autocomplete(input_adresse_arrivee, options);
</script>
{% endblock %}
