{% extends 'base.html.twig' %}
{% block title %}{{ "Accueil"|trans }}{% endblock %}
{% block body %}
	<main class="homewrapper">
		{# SIDENAV  DESKTOP#}
		<nav class="sidenav">
			{# LOGO #}
			<div class="sidenav__top">
				<svg xmlns="http://www.w3.org/2000/svg" width="99.275" height="464.745" viewbox="0 0 99.275 464.745">
					<g id="Groupe_1" data-name="Groupe 1" transform="translate(-297.591 -575)">
						<g id="logo" transform="translate(297.591 939.927)">
							<g id="Groupe_22" data-name="Groupe 22" transform="translate(0)">
								<path id="Tracé_219" data-name="Tracé 219" d="M12.921,102.2c.6,1.431.313,2.12-1.06,2.7l-4.937,2.056c-.7.287-.773.1-1.264-1.086l5.479-2.286c.556-.23.69-.562.447-1.137l-.977-2.344,1.226-.511Z" transform="translate(-2.045 -35.989)"/>
								<path id="Tracé_220" data-name="Tracé 220" d="M7.8,84.724l-1.475.817.562,3.372c.549.089,1.1.16,1.648.217l.275,1.654A45.967,45.967,0,0,1,1.66,89.163a1.247,1.247,0,0,0-.977-.013A4.087,4.087,0,0,1,0,87.528L7.383,83.1l.147-.026ZM2.056,87.9c1.124.332,2.318.588,3.525.817L5.16,86.187Z" transform="translate(0 -30.019)"/>
								<path id="Tracé_221" data-name="Tracé 221" d="M10.835,50.55c.926.313.875,1.66.46,2.88-.811,2.369-2.848,3.314-5.467,2.42a3.752,3.752,0,0,1-2.414-5.058c.524-1.539,1.686-2.465,2.823-2.082a.929.929,0,0,1,.619,1.258l-.128.37-.275-.1a1.367,1.367,0,0,0-1.839,1.015,2.449,2.449,0,0,0,1.718,3.11,2.769,2.769,0,0,0,3.838-1.826,5.213,5.213,0,0,0,.243-2.139Z" transform="translate(-1.128 -17.571)"/>
								<path id="Tracé_222" data-name="Tracé 222" d="M15.989,43.907l-6.4-3.64c-.651-.37-.549-.556.083-1.667l7.05,4.011Z" transform="translate(-3.306 -13.949)"/>
								<path id="Tracé_223" data-name="Tracé 223" d="M21.99,32.534l-5.141-4.311L15.195,30.2l-1.035-.869,3.934-4.688c.345-.415.7-.115,1.379.453L17.807,27.08l5.141,4.311Z" transform="translate(-5.117 -8.834)"/>
								<path id="Tracé_224" data-name="Tracé 224" d="M35.958,19.2l-2.484,1.91c-1.233.945-1.967.849-2.874-.332l-3.219-4.189c-.466-.607-.287-.741.715-1.514l2.491-1.916c.4-.307.664.045,1.175.709l-2.893,2.216,1.392,1.82,2.325-1.782.715.932-2.325,1.782.7.913a.771.771,0,0,0,1.264.147l2.229-1.705Zm-7.9-4.822-.109.083-.658-.281.645-2.88a2.787,2.787,0,0,1,1.584.645Z" transform="translate(-9.806 -4.083)"/>
								<path id="Tracé_225" data-name="Tracé 225" d="M63.408,9.093a3.178,3.178,0,0,1-3.876-2.836l-.69-3.972c-.128-.741.083-.779,1.341-1l.786,4.528c.294,1.68,1.1,2.133,2.2,1.941s1.788-.907,1.494-2.586L63.887.7,65.356.44,66.167,5.1A3.157,3.157,0,0,1,63.408,9.093Z" transform="translate(-21.252 -0.159)"/>
								<path id="Tracé_226" data-name="Tracé 226" d="M82.824,8.628l-3.6-6.08-.46,5.607L77.3,8.034l.639-7.74A3.624,3.624,0,0,1,79.382,0L83,6.016,83.45.447l1.462.121-.639,7.766A3.677,3.677,0,0,1,82.824,8.628Z" transform="translate(-27.934 0)"/>
								<path id="Tracé_227" data-name="Tracé 227" d="M94.29,10.693l2.024-7.082c.2-.722.409-.664,1.641-.313l-2.235,7.8Z" transform="translate(-34.074 -1.101)"/>
								<path id="Tracé_228" data-name="Tracé 228" d="M107.267,15.026a4.7,4.7,0,0,1-1.367-.415l.926-8.507.07-.134,1.539.786-.926,6.374a52.906,52.906,0,0,0,4.649-4.477l1.494.76a52.149,52.149,0,0,1-6.386,5.614Z" transform="translate(-38.269 -2.157)"/>
								<path id="Tracé_229" data-name="Tracé 229" d="M120.783,25.619l-2.395-2.012c-1.188-1-1.252-1.737-.294-2.88l3.4-4.049c.492-.588.664-.441,1.635.37l2.408,2.018c.383.319.1.658-.434,1.3l-2.791-2.344-1.475,1.756,2.242,1.884-.754.9-2.242-1.884-.741.881a.778.778,0,0,0,.128,1.271l2.146,1.8Z" transform="translate(-42.436 -5.898)"/>
								<path id="Tracé_230" data-name="Tracé 230" d="M131.7,33.77l-.524,1.795a1.382,1.382,0,0,0,.211,1.411l.115.147-.192.147c-.466.358-1.035.064-1.4-.415s-.517-.913-.147-1.929l.671-1.91-.792-1.047-2.082,1.584-.9-1.188,5.824-4.419c.6-.453.728-.281,1.5.734l.849,1.118c1.066,1.4,1.169,2.931-.1,3.889a2.494,2.494,0,0,1-3.04.083ZM133.64,30.3l-.658-.869-2.344,1.775.709.939a1.578,1.578,0,0,0,2.274.447C134.445,31.963,134.228,31.075,133.64,30.3Z" transform="translate(-45.771 -10.013)"/>
								<path id="Tracé_231" data-name="Tracé 231" d="M136.38,48.143c-.441-.971-.594-2.037.281-2.44l.453-.2a4.481,4.481,0,0,0,.377,1.929c.319.709.83,1.2,1.424.932,1.264-.575-.945-3.666,1.609-4.822,1.52-.69,2.931.1,3.647,1.673.607,1.348.383,2.644-.524,3.053a.886.886,0,0,1-1.277-.479l-.147-.332.249-.115a1.163,1.163,0,0,0,.517-1.68,1.18,1.18,0,0,0-1.558-.766c-1.667.754.7,3.781-1.673,4.854C138.289,50.423,137.006,49.535,136.38,48.143Z" transform="translate(-49.156 -15.643)"/>
								<path id="Tracé_232" data-name="Tracé 232" d="M141.778,64.863,141.12,61.8c-.326-1.52.077-2.146,1.533-2.459l5.167-1.111c.747-.16.792.057,1.06,1.3l.664,3.072c.109.492-.326.581-1.143.76l-.766-3.564-2.242.479.613,2.867-1.15.249-.613-2.867-1.124.243c-.613.134-.811.453-.677,1.079l.588,2.74Z" transform="translate(-50.958 -21.027)"/>
								<path id="Tracé_233" data-name="Tracé 233" d="M142.76,76.4c-.013-1.552.511-2.082,2-2.095l5.345-.038c.754-.006.754.2.76,1.488l-5.933.038c-.6.006-.849.255-.843.881l.019,2.542-1.328.006Z" transform="translate(-51.589 -26.839)"/>
								<path id="Tracé_234" data-name="Tracé 234" d="M141.316,89.484c.294-1.526.913-1.941,2.376-1.66l5.25,1.015c.741.14.7.338.453,1.6l-5.831-1.124c-.588-.115-.881.083-1,.7l-.479,2.5-1.3-.249Z" transform="translate(-50.874 -31.707)"/>
								<path id="Tracé_235" data-name="Tracé 235" d="M136.12,104.889l1.2-2.893c.594-1.431,1.284-1.718,2.657-1.143l4.879,2.031c.7.294.619.5.134,1.667l-1.207,2.9c-.192.46-.594.294-1.373-.026l1.4-3.366-2.114-.881-1.124,2.708-1.086-.453,1.124-2.708-1.067-.441c-.575-.243-.926-.089-1.169.5l-1.079,2.586Z" transform="translate(-49.19 -36.345)"/>
							</g>
							<g id="Groupe_23" data-name="Groupe 23" transform="translate(26.241 86.835)">
								<path id="Tracé_236" data-name="Tracé 236" d="M44.207,141.844l-.671-.307-1.067,2.337-1.379-.632,3.091-6.763c.319-.7.517-.607,1.692-.064l.83.383c1.89.862,2.829,2.107,2.024,3.864C47.962,142.354,46.116,142.712,44.207,141.844Zm1.846-3.947-.709-.326-1.29,2.823.588.268c1.194.543,2.2.332,2.657-.664S47,138.331,46.052,137.9Z" transform="translate(-41.09 -135.975)"/>
								<path id="Tracé_237" data-name="Tracé 237" d="M62.221,150.546l-.249-1.7-3.41-.671c-.281.492-.549,1-.8,1.488l-1.673-.332a47.411,47.411,0,0,1,4.106-6.227,1.289,1.289,0,0,0,.364-.926,4.046,4.046,0,0,1,1.788-.077l1.577,8.615-.032.153Zm-.958-6.61c-.722.945-1.392,2-2.044,3.059l2.561.5Z" transform="translate(-46.511 -138.163)"/>
								<path id="Tracé_238" data-name="Tracé 238" d="M81.253,148.08l1.226,1.456a1.422,1.422,0,0,0,1.316.619l.192-.013.013.243c.038.594-.53.913-1.143.952s-1.067-.077-1.718-.964L79.9,148.725l-1.335.083.166,2.657-1.514.1-.46-7.421c-.045-.76.172-.773,1.462-.856l1.424-.089c1.788-.109,3.142.658,3.238,2.274a2.51,2.51,0,0,1-1.629,2.612Zm-1.846-3.6-1.1.07.185,2.989,1.194-.077a1.6,1.6,0,0,0,1.654-1.673C81.272,144.733,80.4,144.42,79.407,144.478Z" transform="translate(-53.977 -138.578)"/>
								<path id="Tracé_239" data-name="Tracé 239" d="M95.2,149.1l-1.929-7.236c-.2-.741.013-.792,1.264-1.13l2.12,7.97Z" transform="translate(-59.924 -137.691)"/>
								<path id="Tracé_240" data-name="Tracé 240" d="M107.865,144.209c-.977.473-2.056.651-2.484-.23l-.224-.46a4.458,4.458,0,0,0,1.954-.434c.709-.345,1.2-.875.913-1.469-.613-1.271-3.7,1.047-4.943-1.52-.734-1.526.032-2.982,1.616-3.742,1.354-.651,2.676-.453,3.117.46a.906.906,0,0,1-.453,1.309l-.332.16-.121-.249a1.178,1.178,0,0,0-1.718-.485,1.191,1.191,0,0,0-.741,1.6c.8,1.673,3.825-.8,4.975,1.584C110.132,142.21,109.263,143.532,107.865,144.209Z" transform="translate(-63.39 -135.971)"/>
							</g>
							<g id="Groupe_24" data-name="Groupe 24" transform="translate(24.069 24.411)">
								<path id="Tracé_241" data-name="Tracé 241" d="M88.237,39.135c-.051-.1-.594.109-.709.179a.027.027,0,0,1-.038-.032c.057-.128.057-.275-.128-.281-.134-.006-1.2.754-1.884,1.118-.658.351-.932,1.079-1.558,1.475-.453.281-5.409,2.159-6.124,2.465-.932.4-2.35,1.431-2.65,1.45-1.022.083-4.969,1.252-6.418,1.558l-.945.2a4.313,4.313,0,0,1-2.395-.192,1.142,1.142,0,0,1-.236-.115,1.884,1.884,0,0,1-.575-1.379c.051-.473.5-.881.588-1.309a.338.338,0,0,1,.217-.115c.3-.064.562-2.069.441-2.107a.3.3,0,0,0-.255,0,4.051,4.051,0,0,0,.07-1.022,2.857,2.857,0,0,0-.926-2.146,2.3,2.3,0,0,0-1.737-.651,2.376,2.376,0,0,0-1.737.651,2.555,2.555,0,0,0-.926,2.146,4.371,4.371,0,0,0,.07,1.022.277.277,0,0,0-.255,0c-.121.038.141,2.044.441,2.107a.338.338,0,0,1,.217.115c.077.4.536.869.588,1.309a1.731,1.731,0,0,1-.575,1.379.883.883,0,0,1-.236.115,4.313,4.313,0,0,1-2.395.192c-.3-.057-.6-.121-.945-.2-1.443-.313-5.4-1.475-6.418-1.558-.3-.026-1.718-1.054-2.65-1.45-.715-.307-5.677-2.178-6.124-2.465-.626-.4-.9-1.124-1.558-1.475-.683-.364-1.75-1.124-1.884-1.118-.192.006-.192.153-.128.281.013.019-.013.045-.038.032-.115-.07-.658-.275-.709-.179a4.449,4.449,0,0,0,.2,1.8,10.723,10.723,0,0,0,2.107,1.858c.345.236,1.009.211,1.418.377.051.019,4.962,3.6,6.552,3.953.575.128,1.175.153,1.737.319.786.23,4.413,2.331,5.6,2.778,1.073.409,2.318,1.482,2.318,2.127h0c.026,1.092,1.264,6.68,1.156,7.466-.057.409-1.175,3.436-1.482,4.253-.409,1.1-2.388,9.056-3.123,10.62-.236.549-.856.952-1.137,1.52a6.628,6.628,0,0,1-.677,1.4c-.562.683-4.03,10.218-4.285,10.755a11.206,11.206,0,0,1-2.331,2.248c-.2.019-.562-.013-.7.2-.275.415.588.734.894.907.415.23,1.533.76,1.66.837a.932.932,0,0,0,1.373-.5,29.072,29.072,0,0,1,.932-3.161c.517-1.054,4.866-9.273,5.448-9.777a6.727,6.727,0,0,0,1.086-1.245c1.13-1.6,5.645-8.781,5.812-9.011.083-.115.2-.536.575-.651a.359.359,0,0,1,.128-.019.383.383,0,0,1,.128.019c.37.115.5.53.575.651.16.23,4.681,7.414,5.812,9.011a6.726,6.726,0,0,0,1.086,1.245c.581.5,4.93,8.724,5.448,9.777a27.324,27.324,0,0,1,.932,3.161.936.936,0,0,0,1.373.5c.128-.077,1.239-.607,1.66-.837.307-.172,1.169-.492.894-.907-.14-.211-.5-.185-.7-.2a11.052,11.052,0,0,1-2.331-2.248c-.255-.536-3.723-10.071-4.285-10.755a6.628,6.628,0,0,1-.677-1.4c-.287-.568-.907-.971-1.137-1.52-.734-1.558-2.721-9.522-3.123-10.62-.3-.817-1.424-3.845-1.482-4.253-.109-.786,1.13-6.367,1.156-7.466h0c0-.645,1.245-1.718,2.318-2.127,1.188-.453,4.815-2.548,5.6-2.778.568-.166,1.162-.192,1.737-.319,1.59-.351,6.5-3.934,6.552-3.953.409-.166,1.073-.147,1.418-.377a10,10,0,0,0,2.107-1.858,4.159,4.159,0,0,0,.211-1.8Z" transform="translate(-37.688 -38.224)"/>
							</g>
							<g id="Groupe_25" data-name="Groupe 25" transform="translate(15.915 80.755)">
								<circle id="Ellipse_2" data-name="Ellipse 2" cx="1.264" cy="1.264" r="1.264"/>
							</g>
							<g id="Groupe_26" data-name="Groupe 26" transform="translate(80.793 80.755)">
								<circle id="Ellipse_3" data-name="Ellipse 3" cx="1.264" cy="1.264" r="1.264"/>
							</g>
						</g>
						<path id="citeu" d="M22.238,338.045a13.342,13.342,0,0,1-8.938-3.4,12.107,12.107,0,0,1-2.992-4.063,12.54,12.54,0,0,1-1.145-5.466,11.939,11.939,0,0,1,1.588-6.242,10.111,10.111,0,0,1,4.137-3.952l2.7,3.915a6.088,6.088,0,0,0-2.327,1.736,6.819,6.819,0,0,0-1.219,2.327,8.137,8.137,0,0,0-.369,2.364,6.984,6.984,0,0,0,.776,3.361,7.519,7.519,0,0,0,2.031,2.364,8.912,8.912,0,0,0,2.807,1.44,11.248,11.248,0,0,0,3.1.443,10.064,10.064,0,0,0,4.358-.96,8.475,8.475,0,0,0,3.25-2.7,6.691,6.691,0,0,0,1.256-4.026,7.889,7.889,0,0,0-.406-2.438,6.945,6.945,0,0,0-1.293-2.364,5.858,5.858,0,0,0-2.29-1.662l2.4-4.174a8.158,8.158,0,0,1,3.324,2.548,13.526,13.526,0,0,1,2.068,3.915,14.047,14.047,0,0,1,.7,4.321,11.473,11.473,0,0,1-1.145,5.134,13.61,13.61,0,0,1-3.1,3.989,15.249,15.249,0,0,1-4.358,2.659,13.782,13.782,0,0,1-4.912.923Zm13.3-26.908H9.311v-5.1H35.535Zm-21.754-30.18v8.384H35.535v5.06H13.781v8.384H9.311V280.957Zm17.285-21.464h4.469V277.7H9.311V259.825h4.469V272.6H20.1V261.561h4.137V272.6h6.833V259.493ZM7.1,266.769l-.96,3.176-4.4-1.994v-4.617Zm28.624-31.24a12.585,12.585,0,0,1-1.034,5.355,9.6,9.6,0,0,1-2.918,3.546,12.771,12.771,0,0,1-4.174,1.958,19.078,19.078,0,0,1-4.912.628H9.311v-5.1h13.37a14.251,14.251,0,0,0,4.137-.591,6.645,6.645,0,0,0,3.176-1.994,5.546,5.546,0,0,0,1.219-3.767,5.66,5.66,0,0,0-1.219-3.841,6.866,6.866,0,0,0-3.213-1.994,14.089,14.089,0,0,0-4.1-.591H9.311v-5.06h13.37a18.621,18.621,0,0,1,5.06.665,11.562,11.562,0,0,1,4.174,2.031,9.562,9.562,0,0,1,2.807,3.546,12.434,12.434,0,0,1,1,5.208Zm-17.027-21.68H35.535v5.1H9.311v-4.063L26.6,201.329H9.348v-5.1H35.535v4.247Zm16.842-23.073H9.311v-5.1H35.535ZM9.311,177.512l20.166-7.091L9.311,163.4v-5.355l26.223,9.935V172.9L9.311,182.867v-5.355Zm21.754-40.471h4.469v18.208H9.311V137.373h4.469v12.779H20.1V139.109h4.137v11.043h6.833V137.041Zm4.469-3.974H9.311v-11.6a7.477,7.477,0,0,1,.739-3.324,8.215,8.215,0,0,1,1.994-2.659,8.784,8.784,0,0,1,2.807-1.736,8.4,8.4,0,0,1,3.176-.628,8.659,8.659,0,0,1,4.617,1.293,7.194,7.194,0,0,1,3.029,3.435l9.861-5.983v5.614l-8.79,5.392v5.1h8.79v5.1Zm-13.259-5.1v-6.39a2.844,2.844,0,0,0-1.219-2.364,4.842,4.842,0,0,0-3.029-.96,4.53,4.53,0,0,0-2.179.517,4.2,4.2,0,0,0-1.514,1.33,2.861,2.861,0,0,0-.554,1.7v6.168h8.495ZM16.181,92.881a5.93,5.93,0,0,0-.96,1.4,12.725,12.725,0,0,0-1.108,2.585,9.216,9.216,0,0,0-.517,3.066q0,4.174,2.955,4.174a2.227,2.227,0,0,0,1.7-.665,5.362,5.362,0,0,0,1.071-1.994q.443-1.33.96-3.324a25.425,25.425,0,0,1,1.551-4.469A6.9,6.9,0,0,1,24.2,90.739,6.456,6.456,0,0,1,28.037,89.7a7.132,7.132,0,0,1,4.543,1.367,7.543,7.543,0,0,1,2.475,3.546,14.439,14.439,0,0,1,.776,4.8,20.1,20.1,0,0,1-.886,5.873,18.776,18.776,0,0,1-2.512,5.134l-4.4-2.253a7.93,7.93,0,0,0,.886-1.182,19.755,19.755,0,0,0,1.071-2.068,18.733,18.733,0,0,0,.886-2.659,11.712,11.712,0,0,0,.369-2.918q0-4.21-2.7-4.21a2.279,2.279,0,0,0-1.847.849,7.035,7.035,0,0,0-1.182,2.4q-.556,1.766-1.071,3.546A22.663,22.663,0,0,1,22.9,106.1a6.42,6.42,0,0,1-2.179,2.438,6.344,6.344,0,0,1-3.361.813,7.714,7.714,0,0,1-4.506-1.256,7.888,7.888,0,0,1-2.77-3.472,11.864,11.864,0,0,1-.96-4.838,14.4,14.4,0,0,1,.886-5.1,19.523,19.523,0,0,1,2.031-4.063l4.137,2.253ZM31.066,67.645h4.469V85.853H9.311V67.977h4.469V80.756H20.1V69.714h4.137V80.757h6.833V67.646Zm4.469-3.974H9.311v-5.1H31.066V45.2h4.469V63.671Zm0-21.569H9.311v-5.1H31.066V23.635h4.469V42.1ZM31.066,2.325h4.469V20.533H9.311V2.658h4.469V15.437H20.1V4.394h4.137V15.437h6.833ZM56.777,252.475H58.2v4.771H56.777v-1.669H53.216a1.765,1.765,0,0,1,.376.482,3.907,3.907,0,0,1,.341.729,2.061,2.061,0,0,1,.141.693H52.6a1.293,1.293,0,0,0-.129-.505,5.087,5.087,0,0,0-.329-.6,4.522,4.522,0,0,0-.364-.517,1.316,1.316,0,0,0-.294-.282v-1.61h5.288v-1.492ZM58.2,248.5H49.855v-3.537a2.378,2.378,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,3.1,3.1,0,0,1,.893-.552,2.665,2.665,0,0,1,1.011-.2,2.874,2.874,0,0,1,1.34.329,2.77,2.77,0,0,1,1.034.917,2.313,2.313,0,0,1,.4,1.351v1.974h2.8Zm-4.219-1.622V245a.912.912,0,0,0-.364-.74,1.515,1.515,0,0,0-.987-.306,1.378,1.378,0,0,0-1,.341,1.053,1.053,0,0,0-.353.776v1.81h2.7Zm4.219-5.7H49.855v-1.622h6.922V235.3H58.2Zm-8.344-9.13V230.4l8.344-3.067V229l-2.08.776v2.914l2.08.764v1.669l-8.344-3.079Zm5.124-1.974-3.443,1.152,3.443,1.2v-2.35Zm-1.011-2.827a4.245,4.245,0,0,1-2.844-1.081,3.851,3.851,0,0,1-.952-1.293,3.982,3.982,0,0,1-.364-1.739,3.8,3.8,0,0,1,.505-1.986,3.217,3.217,0,0,1,1.316-1.257l.858,1.246a1.942,1.942,0,0,0-.74.552,2.173,2.173,0,0,0-.388.74,2.6,2.6,0,0,0-.118.752,2.22,2.22,0,0,0,.247,1.069,2.387,2.387,0,0,0,.646.752,2.825,2.825,0,0,0,.893.458,3.578,3.578,0,0,0,.987.141,3.2,3.2,0,0,0,1.387-.306,2.69,2.69,0,0,0,1.034-.858,2.128,2.128,0,0,0,.4-1.281,2.518,2.518,0,0,0-.129-.776,2.217,2.217,0,0,0-.411-.752,1.877,1.877,0,0,0-.729-.529l.764-1.328a2.6,2.6,0,0,1,1.058.811,4.315,4.315,0,0,1,.881,2.621,3.651,3.651,0,0,1-.364,1.633,4.326,4.326,0,0,1-.987,1.269,4.823,4.823,0,0,1-1.387.846,4.371,4.371,0,0,1-1.563.294Zm2.809-14.355H58.2v5.794H49.855V213h1.422v4.066h2.01v-3.514H54.6v3.514h2.174ZM58.2,208.8H49.855V205.77a4.277,4.277,0,0,1,.564-2.28,3.492,3.492,0,0,1,1.5-1.375,4.71,4.71,0,0,1,2.092-.458,4.6,4.6,0,0,1,2.209.505,3.568,3.568,0,0,1,1.457,1.434,4.4,4.4,0,0,1,.517,2.174V208.8Zm-4.184-5.512a3.25,3.25,0,0,0-1.422.294,2.2,2.2,0,0,0-.964.846,2.44,2.44,0,0,0-.353,1.34v1.41h5.5v-1.41a2.461,2.461,0,0,0-.353-1.351,2.282,2.282,0,0,0-.987-.834,3.349,3.349,0,0,0-1.422-.294Zm2.762-8.694H58.2v5.794H49.855V194.7h1.422v4.066h2.01v-3.514H54.6v3.514h2.174V194.6Zm1.422-4.088H49.855v-1.622h6.922v-4.254H58.2Zm-8.344-9.131v-1.645l8.344-3.067v1.669l-2.08.776v2.914l2.08.764v1.669Zm5.124-1.974-3.443,1.152,3.443,1.2V179.4Zm3.22-6.109H49.855v-3.537a2.378,2.378,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,3.1,3.1,0,0,1,.893-.552,2.682,2.682,0,0,1,1.011-.2,2.874,2.874,0,0,1,1.34.329,2.787,2.787,0,0,1,1.034.917,2.314,2.314,0,0,1,.4,1.351v1.974h2.8Zm-4.219-1.622v-1.88a.915.915,0,0,0-.364-.74,1.519,1.519,0,0,0-.987-.306,1.382,1.382,0,0,0-1,.341,1.053,1.053,0,0,0-.353.776v1.81h2.7Zm4.278-9.26a3.885,3.885,0,0,1-.353,1.669,4.06,4.06,0,0,1-.952,1.281,4.671,4.671,0,0,1-1.363.823,4.325,4.325,0,0,1-1.563.294,4.186,4.186,0,0,1-1.586-.306,4.283,4.283,0,0,1-1.351-.858,4.039,4.039,0,0,1-.94-1.293,3.83,3.83,0,0,1-.353-1.645,3.679,3.679,0,0,1,.364-1.645,3.944,3.944,0,0,1,.975-1.281,4.3,4.3,0,0,1,1.375-.823,4.228,4.228,0,0,1,3.126.012,4.436,4.436,0,0,1,1.351.858,3.942,3.942,0,0,1,.928,1.293A3.84,3.84,0,0,1,58.258,162.412Zm-4.231,2.421a3.317,3.317,0,0,0,1.363-.282,2.649,2.649,0,0,0,1.034-.834,2.189,2.189,0,0,0,.4-1.316,2.126,2.126,0,0,0-.411-1.328,2.616,2.616,0,0,0-1.058-.823,3.289,3.289,0,0,0-1.328-.282,3.2,3.2,0,0,0-1.363.294,2.51,2.51,0,0,0-1.022.846,2.32,2.32,0,0,0,.012,2.621,2.626,2.626,0,0,0,1.058.823,3.207,3.207,0,0,0,1.316.282ZM58.2,157.09H49.855V153.4a2.373,2.373,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,2.773,2.773,0,0,1,.893-.552,2.665,2.665,0,0,1,1.011-.2,2.751,2.751,0,0,1,1.469.411,2.284,2.284,0,0,1,.964,1.093l3.138-1.9v1.786l-2.8,1.716v1.622h2.8v1.622Zm-4.219-1.622v-2.033a.9.9,0,0,0-.388-.752,1.537,1.537,0,0,0-.964-.306,1.436,1.436,0,0,0-.693.165,1.326,1.326,0,0,0-.482.423.909.909,0,0,0-.176.541v1.963Zm-2.7-12.343v2.668H58.2v1.61H51.277v2.668H49.855v-6.945h1.422Zm5.5-6.829H58.2v5.794H49.855V136.4h1.422v4.066h2.01v-3.514H54.6v3.514h2.174V136.3Zm1.422-4.088H49.855v-3.032a4.277,4.277,0,0,1,.564-2.28,3.492,3.492,0,0,1,1.5-1.375,4.71,4.71,0,0,1,2.092-.458,4.6,4.6,0,0,1,2.209.505A3.567,3.567,0,0,1,57.682,127a4.4,4.4,0,0,1,.517,2.174v3.032ZM54.015,126.7a3.25,3.25,0,0,0-1.422.294,2.205,2.205,0,0,0-.964.846,2.44,2.44,0,0,0-.353,1.34v1.41h5.5v-1.41a2.461,2.461,0,0,0-.353-1.351,2.282,2.282,0,0,0-.987-.834,3.349,3.349,0,0,0-1.422-.294ZM56.777,118H58.2V123.8H49.855v-5.688h1.422v4.066h2.01v-3.514H54.6v3.514h2.174V118Zm1.422-4.088H49.855v-3.537a2.378,2.378,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,3.1,3.1,0,0,1,.893-.552,2.665,2.665,0,0,1,1.011-.2,2.874,2.874,0,0,1,1.34.329,2.77,2.77,0,0,1,1.034.917,2.313,2.313,0,0,1,.4,1.351v1.974h2.8Zm-4.219-1.622v-1.88a.912.912,0,0,0-.364-.74,1.515,1.515,0,0,0-.987-.306,1.378,1.378,0,0,0-1,.341,1.053,1.053,0,0,0-.353.776v1.81h2.7Zm-4.125-7.372v-1.645L58.2,100.21v1.669l-2.08.776v2.914l2.08.764V108l-8.344-3.079Zm5.124-1.974L51.536,104.1l3.443,1.2ZM52.84,97.673H58.2v1.622H49.855V98l5.5-4.313H49.867V92.068H58.2v1.351ZM51.277,84.091v2.668H58.2v1.61H51.277v2.668H49.855V84.091ZM58.2,83.056H49.855V81.434H58.2ZM52.84,78.072H58.2v1.621H49.855V78.4l5.5-4.313H49.867v-1.62H58.2v1.351L52.84,78.073Zm-.059-13.42v3.8H51.348V62.172l8.344,4.137V68.1l-6.91-3.444Zm7.169-5.381a3.418,3.418,0,0,1-.388,1.633,2.669,2.669,0,0,1-1.058,1.1l-.94-.9a2.448,2.448,0,0,0,.729-.823,2.1,2.1,0,0,0,.27-1.022,1.423,1.423,0,0,0-.388-1.034,1.328,1.328,0,0,0-1.011-.411,1.314,1.314,0,0,0-.987.388,1.328,1.328,0,0,0-.376.964,1.562,1.562,0,0,0,.176.729,1.294,1.294,0,0,0,.482.529V61.8l-4.971-.964V56.721h1.434v2.973l1.869.341a1.073,1.073,0,0,1-.235-.411,1.948,1.948,0,0,1-.106-.682,2.822,2.822,0,0,1,.341-1.4,2.476,2.476,0,0,1,.952-.975,2.612,2.612,0,0,1,1.387-.364A2.661,2.661,0,0,1,59.6,57.7a3.424,3.424,0,0,1,.353,1.575ZM54.756,49.2a4.125,4.125,0,0,1,1.845.4,3.086,3.086,0,0,1,1.257,1.081,2.718,2.718,0,0,1,.458,1.551,2.769,2.769,0,0,1-.458,1.563A3.2,3.2,0,0,1,56.6,54.879a4.226,4.226,0,0,1-1.845.388,4.148,4.148,0,0,1-1.833-.388A3.182,3.182,0,0,1,51.653,53.8a2.721,2.721,0,0,1-.47-1.563,2.671,2.671,0,0,1,.47-1.551A3.074,3.074,0,0,1,52.922,49.6a4.051,4.051,0,0,1,1.833-.4Zm0,1.586a2.612,2.612,0,0,0-1.528.411,1.2,1.2,0,0,0-.6,1.034,1.218,1.218,0,0,0,.6,1.058,3.12,3.12,0,0,0,3.055,0,1.223,1.223,0,0,0,.588-1.058,1.205,1.205,0,0,0-.588-1.034A2.612,2.612,0,0,0,54.756,50.789ZM56.777,43.1H58.2v4.771H56.777V46.2H53.216a1.752,1.752,0,0,1,.376.482,3.859,3.859,0,0,1,.341.729,2.057,2.057,0,0,1,.141.693H52.6a1.29,1.29,0,0,0-.129-.505,4.993,4.993,0,0,0-.329-.6,4.482,4.482,0,0,0-.364-.517,1.277,1.277,0,0,0-.294-.282v-1.61h5.288V43.1Zm-2.386-.66a2.774,2.774,0,0,1-1.469-.4,2.921,2.921,0,0,1-1.046-1.093,3.123,3.123,0,0,1-.388-1.551,2.858,2.858,0,0,1,.458-1.633,2.947,2.947,0,0,1,1.316-1.069,5.1,5.1,0,0,1,2.057-.376A5.817,5.817,0,0,1,58.8,37.2a2.747,2.747,0,0,1,1.21,2.35,3.164,3.164,0,0,1-.341,1.457,3.123,3.123,0,0,1-.975,1.128l-.987-.9a2.031,2.031,0,0,0,.682-.729,1.959,1.959,0,0,0,.259-.975,1.494,1.494,0,0,0-.623-1.257,2.957,2.957,0,0,0-1.763-.482,1.661,1.661,0,0,1,.67.705,2.173,2.173,0,0,1,.247,1.046,3.005,3.005,0,0,1-.364,1.481,2.91,2.91,0,0,1-1,1.046,2.736,2.736,0,0,1-1.422.376ZM52.816,39.4a1.423,1.423,0,0,0,.223.776,1.631,1.631,0,0,0,.576.552,1.479,1.479,0,0,0,.776.212,1.552,1.552,0,0,0,.776-.2,1.66,1.66,0,0,0,.552-.564,1.543,1.543,0,0,0,.2-.776,1.486,1.486,0,0,0-.2-.764,1.655,1.655,0,0,0-.552-.564,1.528,1.528,0,0,0-1.551,0,1.586,1.586,0,0,0-.576.564A1.4,1.4,0,0,0,52.816,39.4ZM58.2,32.2H49.855V28.667a2.378,2.378,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,3.1,3.1,0,0,1,.893-.552,2.672,2.672,0,0,1,1.011-.2,2.874,2.874,0,0,1,1.34.329A2.784,2.784,0,0,1,55,27.257a2.314,2.314,0,0,1,.4,1.351v1.974h2.8ZM53.98,30.582V28.7a.915.915,0,0,0-.364-.74,1.519,1.519,0,0,0-.987-.306,1.382,1.382,0,0,0-1,.341,1.053,1.053,0,0,0-.353.776v1.81h2.7Zm-4.125-7.372V21.565L58.2,18.5v1.669l-2.08.776v2.914l2.08.764v1.669l-8.344-3.079Zm5.124-1.973-3.443,1.152,3.443,1.2Zm3.22-3.654H49.855v-3.69a2.378,2.378,0,0,1,.235-1.058,2.622,2.622,0,0,1,.635-.846,2.8,2.8,0,0,1,.893-.552,2.753,2.753,0,0,1,2.48.212,2.291,2.291,0,0,1,.964,1.093l3.138-1.9v1.786L55.4,14.34v1.622h2.8ZM53.98,15.961V13.928a.905.905,0,0,0-.388-.752,1.543,1.543,0,0,0-.964-.306,1.446,1.446,0,0,0-.693.165,1.34,1.34,0,0,0-.482.423.911.911,0,0,0-.176.541v1.963ZM58.2,9.768H49.855V8.147H58.2ZM52.041,1.435a1.877,1.877,0,0,0-.306.447,4,4,0,0,0-.353.823,2.942,2.942,0,0,0-.165.975q0,1.328.94,1.328A.709.709,0,0,0,52.7,4.8a1.7,1.7,0,0,0,.341-.635q.141-.423.306-1.058a8.087,8.087,0,0,1,.494-1.422,2.2,2.2,0,0,1,.752-.928A2.056,2.056,0,0,1,55.813.424a2.27,2.27,0,0,1,1.445.435,2.4,2.4,0,0,1,.787,1.128,4.6,4.6,0,0,1,.247,1.528,6.4,6.4,0,0,1-.282,1.869,5.985,5.985,0,0,1-.8,1.633l-1.4-.717a2.513,2.513,0,0,0,.282-.376,6.279,6.279,0,0,0,.341-.658,5.985,5.985,0,0,0,.282-.846,3.738,3.738,0,0,0,.118-.928q0-1.34-.858-1.34a.724.724,0,0,0-.588.27,2.24,2.24,0,0,0-.376.764c-.1.321-.216.7-.341,1.128a7.179,7.179,0,0,1-.494,1.328,2.049,2.049,0,0,1-.693.776,2.022,2.022,0,0,1-1.069.259,2.459,2.459,0,0,1-1.434-.4,2.512,2.512,0,0,1-.881-1.1A3.776,3.776,0,0,1,49.8,3.632a4.583,4.583,0,0,1,.282-1.622A6.212,6.212,0,0,1,50.725.718l1.316.717Z" transform="translate(316.34 574.576)"/>
					</g>
				</svg>
				{# LOGO ROUND #}
			</div>
			{# BROCHURE + DESC #}
			<div
				class="sidenav__bottom">
				{# DESC #}
				<div class="sidenav__desc" style="margin-bottom: 10px">
					<ul>
						<li>
							<span>{{ "Bureaux :"|trans }}</span>
							<span class="bold">{{ "20 000 m²"|trans }}</span>
						</li>
						<li>
							<span>{{ "Co-working :"|trans }}
							</span>
							<span class="bold">{{ "1 100 m²"|trans }}</span>
						</li>
						<li>
							<span>{{ "Hôtel **** :"|trans }}
							</span>
							<span class="bold">{{ "109 chambres"|trans }}</span>
						</li>
						<li>
							<span>{{ "Restaurant :"|trans }}
							</span>
							<span class="bold">{{ "300 m²"|trans }}</span>
						</li>
						<li>
							<span>{{ "Salle omnisports :"|trans }}
							</span>
							<span class="bold">{{ "1 000 places"|trans }}</span>
						</li>
						<li>
							<span>{{ "Pôle santé :"|trans }}
							</span>
							<span class="bold">{{ "8 salles de consultation"|trans }}</li>
						</li>
						<li>
							<span>{{ "Jardin partagé :"|trans }}
							</span>
							<span class="bold">{{ "250 m²"|trans }}</span>
						</li>
					</ul>
				</div>
				<a href="{{ asset('build/images/brochure_cite_universelle.pdf') }}" target="_blank" title="Télécharger la brochure">
                    <img src="{{ asset('build/images/download-icon.png') }}" style="width: 16px;"> Brochure PDF
				</a>
			</div>
		</nav>
		{# LANGUES #}
		<nav class="langues">
			<ul>
				<li>
                    {% for locale in locales() %}
                        {% if app.request.locale != locale.code %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.code }}</a>
                        {% endif %}
                    {% endfor %}
				</li>
			</ul>
		</nav>
		{# GRID #}
		<section
			class="home">
			{# TOPNAV MOBILE #}
			<nav class="topnav-mobile">
				<a href="{{ path("accueil") }}" title="Cité universelle | Paris">
					<svg width="335" height="60" viewbox="0 0 335 60" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.152 21.04C4.152 19.48 4.428 17.944 4.98 16.432C5.532 14.896 6.324 13.528 7.356 12.328C8.412 11.128 9.696 10.156 11.208 9.412C12.72 8.668 14.448 8.296 16.392 8.296C18.672 8.296 20.64 8.812 22.296 9.844C23.976 10.876 25.212 12.22 26.004 13.876L22.188 16.504C21.9 15.784 21.528 15.184 21.072 14.704C20.616 14.2 20.112 13.804 19.56 13.516C19.032 13.228 18.48 13.024 17.904 12.904C17.328 12.76 16.776 12.688 16.248 12.688C15.072 12.688 14.04 12.94 13.152 13.444C12.264 13.948 11.52 14.608 10.92 15.424C10.344 16.216 9.9 17.128 9.588 18.16C9.3 19.168 9.156 20.176 9.156 21.184C9.156 22.312 9.324 23.404 9.66 24.46C10.02 25.492 10.512 26.404 11.136 27.196C11.784 27.988 12.552 28.624 13.44 29.104C14.328 29.584 15.3 29.824 16.356 29.824C16.908 29.824 17.472 29.752 18.048 29.608C18.624 29.464 19.176 29.236 19.704 28.924C20.256 28.612 20.76 28.216 21.216 27.736C21.672 27.232 22.044 26.632 22.332 25.936L26.4 28.276C26.016 29.236 25.452 30.088 24.708 30.832C23.988 31.552 23.16 32.164 22.224 32.668C21.288 33.172 20.304 33.556 19.272 33.82C18.24 34.084 17.22 34.216 16.212 34.216C14.436 34.216 12.804 33.832 11.316 33.064C9.852 32.296 8.58 31.3 7.5 30.076C6.444 28.828 5.616 27.424 5.016 25.864C4.44 24.28 4.152 22.672 4.152 21.04ZM29.7812 34L29.7812 8.476L34.7492 8.476L34.7492 34L29.7812 34ZM59.198 12.796L51.062 12.796L51.062 34L46.094 34L46.094 12.796L37.922 12.796L37.922 8.44L59.198 8.44L59.198 12.796ZM72.7382 6.28L69.6422 5.344L71.5862 1.06L76.0862 1.06L72.7382 6.28ZM80.1542 29.644V34L62.4062 34L62.4062 8.44L79.8302 8.44L79.8302 12.796L67.3742 12.796V18.952L78.1382 18.952L78.1382 22.984L67.3742 22.984L67.3742 29.644L80.1542 29.644ZM103.51 29.788C104.686 29.788 105.67 29.548 106.462 29.068C107.278 28.588 107.926 27.964 108.406 27.196C108.91 26.428 109.258 25.552 109.45 24.568C109.666 23.56 109.774 22.528 109.774 21.472L109.774 8.44L114.706 8.44L114.706 21.472C114.706 23.224 114.49 24.868 114.058 26.404C113.65 27.94 112.99 29.284 112.078 30.436C111.19 31.588 110.038 32.5 108.622 33.172C107.206 33.844 105.514 34.18 103.546 34.18C101.506 34.18 99.766 33.832 98.326 33.136C96.91 32.416 95.758 31.48 94.87 30.328C93.982 29.152 93.334 27.796 92.926 26.26C92.542 24.724 92.35 23.128 92.35 21.472L92.35 8.44L97.318 8.44L97.318 21.472C97.318 22.552 97.414 23.596 97.606 24.604C97.822 25.588 98.17 26.464 98.65 27.232C99.154 28 99.802 28.624 100.594 29.104C101.386 29.56 102.358 29.788 103.51 29.788ZM124.644 17.62L124.644 34L119.676 34L119.676 8.44L123.528 8.44L136.848 25.216L136.848 8.476L141.816 8.476L141.816 34L137.784 34L124.644 17.62ZM147.133 34L147.133 8.476L152.101 8.476L152.101 34L147.133 34ZM159.99 8.44L166.902 27.772L173.742 8.44L178.962 8.44L168.99 34L164.814 34L154.77 8.44L159.99 8.44ZM199.404 29.644V34L181.656 34L181.656 8.44L199.08 8.44V12.796L186.624 12.796V18.952L197.388 18.952V22.984L186.624 22.984L186.624 29.644L199.404 29.644ZM203.383 34L203.383 8.44L214.687 8.44C215.863 8.44 216.943 8.692 217.927 9.196C218.935 9.676 219.799 10.324 220.519 11.14C221.239 11.932 221.803 12.844 222.211 13.876C222.619 14.884 222.823 15.904 222.823 16.936C222.823 18.592 222.403 20.104 221.563 21.472C220.747 22.816 219.631 23.788 218.215 24.388L224.227 34L218.611 34L213.247 25.432L208.351 25.432V34L203.383 34ZM208.351 21.076L214.579 21.076C215.035 21.076 215.455 20.968 215.839 20.752C216.247 20.536 216.595 20.248 216.883 19.888C217.171 19.504 217.399 19.06 217.567 18.556C217.735 18.052 217.819 17.512 217.819 16.936C217.819 16.336 217.723 15.784 217.531 15.28C217.339 14.776 217.075 14.344 216.739 13.984C216.427 13.6 216.055 13.312 215.623 13.12C215.215 12.904 214.795 12.796 214.363 12.796L208.351 12.796V21.076ZM242.905 15.136C242.737 14.968 242.425 14.74 241.969 14.452C241.537 14.164 240.997 13.888 240.349 13.624C239.725 13.336 239.041 13.096 238.297 12.904C237.553 12.712 236.797 12.616 236.029 12.616C234.661 12.616 233.641 12.868 232.969 13.372C232.297 13.876 231.961 14.584 231.961 15.496C231.961 16.024 232.081 16.468 232.321 16.828C232.585 17.164 232.957 17.464 233.437 17.728C233.917 17.992 234.517 18.232 235.237 18.448C235.981 18.664 236.833 18.892 237.793 19.132C239.041 19.468 240.169 19.828 241.177 20.212C242.209 20.596 243.073 21.076 243.769 21.652C244.489 22.228 245.041 22.924 245.425 23.74C245.809 24.532 246.001 25.516 246.001 26.692C246.001 28.06 245.737 29.236 245.209 30.22C244.705 31.18 244.021 31.96 243.157 32.56C242.293 33.16 241.285 33.604 240.133 33.892C238.981 34.156 237.781 34.288 236.533 34.288C234.613 34.288 232.717 34 230.845 33.424C228.973 32.848 227.293 32.032 225.805 30.976L228.001 26.692C228.217 26.908 228.601 27.196 229.153 27.556C229.729 27.892 230.401 28.24 231.169 28.6C231.937 28.936 232.789 29.224 233.725 29.464C234.661 29.704 235.621 29.824 236.605 29.824C239.341 29.824 240.709 28.948 240.709 27.196C240.709 26.62 240.553 26.14 240.241 25.756C239.929 25.372 239.485 25.036 238.909 24.748C238.333 24.46 237.637 24.196 236.821 23.956C236.005 23.716 235.093 23.464 234.085 23.2C232.861 22.864 231.793 22.504 230.881 22.12C229.993 21.712 229.249 21.244 228.649 20.716C228.049 20.188 227.593 19.564 227.281 18.844C226.993 18.124 226.849 17.272 226.849 16.288C226.849 14.992 227.089 13.84 227.569 12.832C228.049 11.824 228.709 10.984 229.549 10.312C230.413 9.64 231.409 9.136 232.537 8.8C233.665 8.44 234.877 8.26 236.173 8.26C237.973 8.26 239.629 8.548 241.141 9.124C242.653 9.676 243.973 10.336 245.101 11.104L242.905 15.136ZM267.537 29.644V34L249.789 34L249.789 8.44L267.213 8.44V12.796L254.757 12.796V18.952L265.521 18.952V22.984L254.757 22.984L254.757 29.644L267.537 29.644ZM271.516 34L271.516 8.44L276.484 8.44L276.484 29.644L289.516 29.644V34L271.516 34ZM292.715 34L292.715 8.44L297.683 8.44L297.683 29.644L310.715 29.644V34L292.715 34ZM331.662 29.644V34L313.914 34L313.914 8.44L331.338 8.44V12.796L318.882 12.796L318.882 18.952L329.646 18.952V22.984L318.882 22.984V29.644L331.662 29.644Z" fill="black"/>
						<path d="M41.1925 55.548L41.1925 57L36.3205 57L36.3205 55.548H38.0245L38.0245 51.912C37.9525 52.008 37.8405 52.108 37.6885 52.212C37.5365 52.308 37.3685 52.4 37.1845 52.488C37.0005 52.576 36.8085 52.648 36.6085 52.704C36.4085 52.76 36.2325 52.788 36.0805 52.788L36.0805 51.288C36.2245 51.288 36.4005 51.244 36.6085 51.156C36.8165 51.06 37.0205 50.948 37.2205 50.82C37.4205 50.692 37.5965 50.568 37.7485 50.448C37.9005 50.32 37.9925 50.22 38.0245 50.148L39.6685 50.148L39.6685 55.548H41.1925ZM45.2298 57L45.2298 48.48L48.8418 48.48C49.2338 48.48 49.5938 48.564 49.9218 48.732C50.2578 48.892 50.5458 49.108 50.7858 49.38C51.0258 49.644 51.2138 49.948 51.3498 50.292C51.4858 50.628 51.5538 50.968 51.5538 51.312C51.5538 51.672 51.4898 52.024 51.3618 52.368C51.2338 52.704 51.0538 53.004 50.8218 53.268C50.5898 53.532 50.3098 53.744 49.9818 53.904C49.6538 54.064 49.2938 54.144 48.9018 54.144L46.8858 54.144L46.8858 57H45.2298ZM46.8858 52.692L48.8058 52.692C49.1098 52.692 49.3618 52.568 49.5618 52.32C49.7698 52.072 49.8738 51.736 49.8738 51.312C49.8738 51.096 49.8418 50.904 49.7778 50.736C49.7138 50.56 49.6298 50.412 49.5258 50.292C49.4218 50.172 49.2978 50.084 49.1538 50.028C49.0178 49.964 48.8778 49.932 48.7338 49.932L46.8858 49.932L46.8858 52.692ZM52.6829 57L52.6829 48.48H54.3389L54.3389 55.548L58.6829 55.548L58.6829 57L52.6829 57ZM58.8853 57L62.2453 48.48H63.5893L66.9373 57H65.1853L64.4053 54.876L61.4173 54.876L60.6373 57L58.8853 57ZM62.9173 50.268L61.6933 53.712L64.1053 53.712L62.9173 50.268ZM67.343 52.68C67.343 52.16 67.435 51.648 67.619 51.144C67.803 50.632 68.067 50.176 68.411 49.776C68.763 49.376 69.191 49.052 69.695 48.804C70.199 48.556 70.775 48.432 71.423 48.432C72.183 48.432 72.839 48.604 73.391 48.948C73.951 49.292 74.363 49.74 74.627 50.292L73.355 51.168C73.259 50.928 73.135 50.728 72.983 50.568C72.831 50.4 72.663 50.268 72.479 50.172C72.303 50.076 72.119 50.008 71.927 49.968C71.735 49.92 71.551 49.896 71.375 49.896C70.983 49.896 70.639 49.98 70.343 50.148C70.047 50.316 69.799 50.536 69.599 50.808C69.407 51.072 69.259 51.376 69.155 51.72C69.059 52.056 69.011 52.392 69.011 52.728C69.011 53.104 69.067 53.468 69.179 53.82C69.299 54.164 69.463 54.468 69.671 54.732C69.887 54.996 70.143 55.208 70.439 55.368C70.735 55.528 71.059 55.608 71.411 55.608C71.595 55.608 71.783 55.584 71.975 55.536C72.167 55.488 72.351 55.412 72.527 55.308C72.711 55.204 72.879 55.072 73.031 54.912C73.183 54.744 73.307 54.544 73.403 54.312L74.759 55.092C74.631 55.412 74.443 55.696 74.195 55.944C73.955 56.184 73.679 56.388 73.367 56.556C73.055 56.724 72.727 56.852 72.383 56.94C72.039 57.028 71.699 57.072 71.363 57.072C70.771 57.072 70.227 56.944 69.731 56.688C69.243 56.432 68.819 56.1 68.459 55.692C68.107 55.276 67.831 54.808 67.631 54.288C67.439 53.76 67.343 53.224 67.343 52.68ZM81.802 55.548V57L75.886 57L75.886 48.48L81.694 48.48V49.932L77.542 49.932L77.542 51.984L81.13 51.984V53.328L77.542 53.328V55.548L81.802 55.548ZM85.9993 57L85.9993 48.48L89.0953 48.48C89.7913 48.48 90.3993 48.592 90.9193 48.816C91.4473 49.04 91.8873 49.344 92.2393 49.728C92.5913 50.112 92.8553 50.564 93.0313 51.084C93.2073 51.596 93.2953 52.144 93.2953 52.728C93.2953 53.376 93.1953 53.964 92.9953 54.492C92.8033 55.012 92.5233 55.46 92.1553 55.836C91.7873 56.204 91.3433 56.492 90.8233 56.7C90.3113 56.9 89.7353 57 89.0953 57L85.9993 57ZM91.6273 52.728C91.6273 52.32 91.5713 51.944 91.4593 51.6C91.3473 51.256 91.1833 50.96 90.9673 50.712C90.7513 50.464 90.4833 50.272 90.1633 50.136C89.8513 50 89.4953 49.932 89.0953 49.932L87.6553 49.932L87.6553 55.548L89.0953 55.548C89.5033 55.548 89.8633 55.476 90.1753 55.332C90.4953 55.188 90.7593 54.992 90.9673 54.744C91.1833 54.488 91.3473 54.188 91.4593 53.844C91.5713 53.5 91.6273 53.128 91.6273 52.728ZM100.529 55.548V57L94.6126 57L94.6126 48.48L100.421 48.48V49.932L96.2686 49.932L96.2686 51.984L99.8566 51.984V53.328L96.2686 53.328V55.548L100.529 55.548ZM104.726 57L104.726 48.48L106.382 48.48L106.382 55.548L110.726 55.548V57L104.726 57ZM110.928 57L114.288 48.48H115.632L118.98 57L117.228 57L116.448 54.876H113.46L112.68 57H110.928ZM114.96 50.268L113.736 53.712H116.148L114.96 50.268ZM122.386 57L122.386 48.48H125.998C126.39 48.48 126.75 48.564 127.078 48.732C127.414 48.892 127.702 49.108 127.942 49.38C128.182 49.644 128.37 49.948 128.506 50.292C128.642 50.628 128.71 50.968 128.71 51.312C128.71 51.672 128.646 52.024 128.518 52.368C128.39 52.704 128.21 53.004 127.978 53.268C127.746 53.532 127.466 53.744 127.138 53.904C126.81 54.064 126.45 54.144 126.058 54.144H124.042V57H122.386ZM124.042 52.692H125.962C126.266 52.692 126.518 52.568 126.718 52.32C126.926 52.072 127.03 51.736 127.03 51.312C127.03 51.096 126.998 50.904 126.934 50.736C126.87 50.56 126.786 50.412 126.682 50.292C126.578 50.172 126.454 50.084 126.31 50.028C126.174 49.964 126.034 49.932 125.89 49.932H124.042L124.042 52.692ZM133.379 57.06C132.779 57.06 132.231 56.94 131.735 56.7C131.239 56.452 130.811 56.128 130.451 55.728C130.099 55.32 129.827 54.856 129.635 54.336C129.443 53.816 129.347 53.284 129.347 52.74C129.347 52.172 129.447 51.628 129.647 51.108C129.855 50.588 130.139 50.128 130.499 49.728C130.867 49.328 131.299 49.012 131.795 48.78C132.291 48.54 132.831 48.42 133.415 48.42C134.015 48.42 134.563 48.548 135.059 48.804C135.555 49.052 135.979 49.38 136.331 49.788C136.683 50.196 136.955 50.66 137.147 51.18C137.339 51.7 137.435 52.228 137.435 52.764C137.435 53.332 137.331 53.876 137.123 54.396C136.923 54.908 136.643 55.364 136.283 55.764C135.923 56.156 135.495 56.472 134.999 56.712C134.503 56.944 133.963 57.06 133.379 57.06ZM131.015 52.74C131.015 53.108 131.067 53.464 131.171 53.808C131.283 54.152 131.439 54.456 131.639 54.72C131.847 54.984 132.099 55.196 132.395 55.356C132.691 55.516 133.027 55.596 133.403 55.596C133.787 55.596 134.123 55.516 134.411 55.356C134.707 55.188 134.955 54.968 135.155 54.696C135.355 54.424 135.507 54.12 135.611 53.784C135.715 53.44 135.767 53.092 135.767 52.74C135.767 52.372 135.711 52.016 135.599 51.672C135.487 51.328 135.327 51.024 135.119 50.76C134.919 50.496 134.671 50.288 134.375 50.136C134.087 49.976 133.759 49.896 133.391 49.896C133.007 49.896 132.667 49.98 132.371 50.148C132.083 50.308 131.835 50.524 131.627 50.796C131.427 51.06 131.275 51.364 131.171 51.708C131.067 52.044 131.015 52.388 131.015 52.74ZM138.722 57L138.722 48.48H142.49C142.882 48.48 143.242 48.564 143.57 48.732C143.906 48.892 144.194 49.108 144.434 49.38C144.674 49.644 144.862 49.948 144.998 50.292C145.134 50.628 145.202 50.968 145.202 51.312C145.202 51.864 145.062 52.368 144.782 52.824C144.51 53.272 144.138 53.596 143.666 53.796L145.67 57H143.798L142.01 54.144H140.378L140.378 57H138.722ZM140.378 52.692H142.454C142.606 52.692 142.746 52.656 142.874 52.584C143.01 52.512 143.126 52.416 143.222 52.296C143.318 52.168 143.394 52.02 143.45 51.852C143.506 51.684 143.534 51.504 143.534 51.312C143.534 51.112 143.502 50.928 143.438 50.76C143.374 50.592 143.286 50.448 143.174 50.328C143.07 50.2 142.946 50.104 142.802 50.04C142.666 49.968 142.526 49.932 142.382 49.932H140.378V52.692ZM152.981 49.932L150.269 49.932L150.269 57H148.613L148.613 49.932L145.889 49.932V48.48L152.981 48.48V49.932ZM159.966 55.548V57L154.05 57L154.05 48.48L159.858 48.48V49.932L155.706 49.932V51.984H159.294V53.328H155.706L155.706 55.548H159.966ZM164.163 57L164.163 48.48H167.259C167.955 48.48 168.563 48.592 169.083 48.816C169.611 49.04 170.051 49.344 170.403 49.728C170.755 50.112 171.019 50.564 171.195 51.084C171.371 51.596 171.459 52.144 171.459 52.728C171.459 53.376 171.359 53.964 171.159 54.492C170.967 55.012 170.687 55.46 170.319 55.836C169.951 56.204 169.507 56.492 168.987 56.7C168.475 56.9 167.899 57 167.259 57H164.163ZM169.791 52.728C169.791 52.32 169.735 51.944 169.623 51.6C169.511 51.256 169.347 50.96 169.131 50.712C168.915 50.464 168.647 50.272 168.327 50.136C168.015 50 167.659 49.932 167.259 49.932H165.819L165.819 55.548H167.259C167.667 55.548 168.027 55.476 168.339 55.332C168.659 55.188 168.923 54.992 169.131 54.744C169.347 54.488 169.511 54.188 169.623 53.844C169.735 53.5 169.791 53.128 169.791 52.728ZM178.693 55.548V57L172.777 57L172.777 48.48L178.585 48.48V49.932L174.433 49.932V51.984L178.021 51.984V53.328L174.433 53.328L174.433 55.548L178.693 55.548ZM182.89 57L182.89 48.48L186.502 48.48C186.894 48.48 187.254 48.564 187.582 48.732C187.918 48.892 188.206 49.108 188.446 49.38C188.686 49.644 188.874 49.948 189.01 50.292C189.146 50.628 189.214 50.968 189.214 51.312C189.214 51.672 189.15 52.024 189.022 52.368C188.894 52.704 188.714 53.004 188.482 53.268C188.25 53.532 187.97 53.744 187.642 53.904C187.314 54.064 186.954 54.144 186.562 54.144L184.546 54.144L184.546 57H182.89ZM184.546 52.692L186.466 52.692C186.77 52.692 187.022 52.568 187.222 52.32C187.43 52.072 187.534 51.736 187.534 51.312C187.534 51.096 187.502 50.904 187.438 50.736C187.374 50.56 187.29 50.412 187.186 50.292C187.082 50.172 186.958 50.084 186.814 50.028C186.678 49.964 186.538 49.932 186.394 49.932H184.546V52.692ZM188.87 57L192.23 48.48L193.574 48.48L196.922 57L195.17 57L194.39 54.876L191.402 54.876L190.622 57H188.87ZM192.902 50.268L191.678 53.712L194.09 53.712L192.902 50.268ZM199.487 51.54L199.487 57H197.831L197.831 48.48H199.115L203.555 54.072V48.492L205.211 48.492L205.211 57L203.867 57L199.487 51.54ZM213.356 49.932L210.644 49.932L210.644 57L208.988 57L208.988 49.932H206.264V48.48L213.356 48.48V49.932ZM214.425 57L214.425 48.492H216.081L216.081 57H214.425ZM219.515 51.54L219.515 57L217.859 57L217.859 48.48H219.143L223.583 54.072V48.492H225.239L225.239 57H223.895L219.515 51.54ZM233.314 51.468L229.438 51.468V50.004L235.846 50.004L231.61 58.524H229.798L233.314 51.468ZM239.177 53.172C239.577 53.172 239.949 53.24 240.293 53.376C240.637 53.504 240.933 53.688 241.181 53.928C241.437 54.168 241.633 54.456 241.769 54.792C241.913 55.128 241.985 55.5 241.985 55.908C241.985 56.34 241.905 56.732 241.745 57.084C241.585 57.436 241.365 57.736 241.085 57.984C240.805 58.24 240.473 58.436 240.089 58.572C239.705 58.716 239.289 58.788 238.841 58.788C238.217 58.788 237.657 58.656 237.161 58.392C236.673 58.128 236.301 57.768 236.045 57.312L236.969 56.352C237.201 56.664 237.481 56.912 237.809 57.096C238.145 57.28 238.493 57.372 238.853 57.372C239.285 57.372 239.637 57.244 239.909 56.988C240.189 56.724 240.329 56.376 240.329 55.944C240.329 55.528 240.197 55.192 239.933 54.936C239.677 54.68 239.349 54.552 238.949 54.552C238.685 54.552 238.437 54.612 238.205 54.732C237.981 54.852 237.801 55.016 237.665 55.224H236.261C236.261 55.2 236.277 55.112 236.309 54.96C236.341 54.8 236.381 54.6 236.429 54.36C236.477 54.112 236.529 53.84 236.585 53.544C236.641 53.24 236.701 52.932 236.765 52.62C236.909 51.884 237.069 51.06 237.245 50.148L241.445 50.148V51.612H238.409L238.073 53.52C238.169 53.416 238.309 53.332 238.493 53.268C238.677 53.204 238.905 53.172 239.177 53.172ZM249.157 53.484C249.157 54.012 249.077 54.5 248.917 54.948C248.765 55.388 248.549 55.772 248.269 56.1C247.997 56.42 247.669 56.672 247.285 56.856C246.909 57.032 246.501 57.12 246.061 57.12C245.613 57.12 245.197 57.032 244.813 56.856C244.437 56.672 244.109 56.42 243.829 56.1C243.557 55.772 243.341 55.388 243.181 54.948C243.029 54.5 242.953 54.012 242.953 53.484C242.953 52.956 243.029 52.472 243.181 52.032C243.341 51.584 243.557 51.2 243.829 50.88C244.109 50.552 244.437 50.296 244.813 50.112C245.197 49.928 245.613 49.836 246.061 49.836C246.501 49.836 246.909 49.928 247.285 50.112C247.669 50.296 247.997 50.552 248.269 50.88C248.549 51.2 248.765 51.584 248.917 52.032C249.077 52.472 249.157 52.956 249.157 53.484ZM247.537 53.484C247.537 53.164 247.501 52.872 247.429 52.608C247.357 52.336 247.253 52.104 247.117 51.912C246.989 51.72 246.833 51.572 246.649 51.468C246.473 51.364 246.277 51.312 246.061 51.312C245.837 51.312 245.633 51.364 245.449 51.468C245.265 51.572 245.105 51.72 244.969 51.912C244.841 52.104 244.741 52.336 244.669 52.608C244.597 52.872 244.561 53.164 244.561 53.484C244.561 53.804 244.597 54.096 244.669 54.36C244.741 54.624 244.841 54.852 244.969 55.044C245.105 55.236 245.265 55.384 245.449 55.488C245.633 55.592 245.837 55.644 246.061 55.644C246.277 55.644 246.473 55.592 246.649 55.488C246.833 55.384 246.989 55.236 247.117 55.044C247.253 54.852 247.357 54.624 247.429 54.36C247.501 54.096 247.537 53.804 247.537 53.484ZM255.376 55.548V57L250.504 57V55.548L252.208 55.548L252.208 51.912C252.136 52.008 252.024 52.108 251.872 52.212C251.72 52.308 251.552 52.4 251.368 52.488C251.184 52.576 250.992 52.648 250.792 52.704C250.592 52.76 250.416 52.788 250.264 52.788V51.288C250.408 51.288 250.584 51.244 250.792 51.156C251 51.06 251.204 50.948 251.404 50.82C251.604 50.692 251.78 50.568 251.932 50.448C252.084 50.32 252.176 50.22 252.208 50.148H253.852L253.852 55.548L255.376 55.548ZM256.038 53.112C256.038 52.696 256.118 52.308 256.278 51.948C256.438 51.588 256.654 51.276 256.926 51.012C257.206 50.74 257.534 50.528 257.91 50.376C258.294 50.224 258.706 50.148 259.146 50.148C259.626 50.148 260.058 50.236 260.442 50.412C260.834 50.588 261.166 50.844 261.438 51.18C261.71 51.516 261.918 51.928 262.062 52.416C262.214 52.896 262.29 53.444 262.29 54.06C262.29 54.836 262.21 55.524 262.05 56.124C261.898 56.716 261.678 57.212 261.39 57.612C261.11 58.02 260.766 58.328 260.358 58.536C259.95 58.744 259.494 58.848 258.99 58.848C258.454 58.848 257.958 58.732 257.502 58.5C257.046 58.268 256.662 57.936 256.35 57.504L257.274 56.496C257.466 56.8 257.714 57.036 258.018 57.204C258.322 57.372 258.654 57.456 259.014 57.456C259.55 57.456 259.974 57.244 260.286 56.82C260.606 56.396 260.774 55.796 260.79 55.02C260.63 55.308 260.394 55.536 260.082 55.704C259.77 55.872 259.41 55.956 259.002 55.956C258.578 55.956 258.186 55.884 257.826 55.74C257.466 55.596 257.154 55.396 256.89 55.14C256.626 54.884 256.418 54.584 256.266 54.24C256.114 53.888 256.038 53.512 256.038 53.112ZM259.146 51.504C258.93 51.504 258.726 51.548 258.534 51.636C258.35 51.716 258.186 51.832 258.042 51.984C257.898 52.128 257.782 52.3 257.694 52.5C257.614 52.692 257.574 52.896 257.574 53.112C257.574 53.328 257.614 53.532 257.694 53.724C257.782 53.908 257.894 54.072 258.03 54.216C258.174 54.36 258.342 54.472 258.534 54.552C258.726 54.632 258.93 54.672 259.146 54.672C259.362 54.672 259.566 54.632 259.758 54.552C259.95 54.472 260.114 54.36 260.25 54.216C260.394 54.072 260.506 53.908 260.586 53.724C260.674 53.532 260.718 53.328 260.718 53.112C260.718 52.896 260.674 52.692 260.586 52.5C260.506 52.3 260.394 52.128 260.25 51.984C260.106 51.84 259.938 51.724 259.746 51.636C259.562 51.548 259.362 51.504 259.146 51.504ZM266.48 57V48.48L270.092 48.48C270.484 48.48 270.844 48.564 271.172 48.732C271.508 48.892 271.796 49.108 272.036 49.38C272.276 49.644 272.464 49.948 272.6 50.292C272.736 50.628 272.804 50.968 272.804 51.312C272.804 51.672 272.74 52.024 272.612 52.368C272.484 52.704 272.304 53.004 272.072 53.268C271.84 53.532 271.56 53.744 271.232 53.904C270.904 54.064 270.544 54.144 270.152 54.144H268.136V57L266.48 57ZM268.136 52.692H270.056C270.36 52.692 270.612 52.568 270.812 52.32C271.02 52.072 271.124 51.736 271.124 51.312C271.124 51.096 271.092 50.904 271.028 50.736C270.964 50.56 270.88 50.412 270.776 50.292C270.672 50.172 270.548 50.084 270.404 50.028C270.268 49.964 270.128 49.932 269.984 49.932H268.136V52.692ZM272.46 57L275.82 48.48H277.164L280.512 57L278.76 57L277.98 54.876L274.992 54.876L274.212 57H272.46ZM276.492 50.268L275.268 53.712L277.68 53.712L276.492 50.268ZM281.421 57V48.48L285.189 48.48C285.581 48.48 285.941 48.564 286.269 48.732C286.605 48.892 286.893 49.108 287.133 49.38C287.373 49.644 287.561 49.948 287.697 50.292C287.833 50.628 287.901 50.968 287.901 51.312C287.901 51.864 287.761 52.368 287.481 52.824C287.209 53.272 286.837 53.596 286.365 53.796L288.369 57L286.497 57L284.709 54.144L283.077 54.144V57H281.421ZM283.077 52.692L285.153 52.692C285.305 52.692 285.445 52.656 285.573 52.584C285.709 52.512 285.825 52.416 285.921 52.296C286.017 52.168 286.093 52.02 286.149 51.852C286.205 51.684 286.233 51.504 286.233 51.312C286.233 51.112 286.201 50.928 286.137 50.76C286.073 50.592 285.985 50.448 285.873 50.328C285.769 50.2 285.645 50.104 285.501 50.04C285.365 49.968 285.225 49.932 285.081 49.932L283.077 49.932V52.692ZM289.507 57V48.492H291.163V57H289.507ZM298.029 50.712C297.973 50.656 297.869 50.58 297.717 50.484C297.573 50.388 297.393 50.296 297.177 50.208C296.969 50.112 296.741 50.032 296.493 49.968C296.245 49.904 295.993 49.872 295.737 49.872C295.281 49.872 294.941 49.956 294.717 50.124C294.493 50.292 294.381 50.528 294.381 50.832C294.381 51.008 294.421 51.156 294.501 51.276C294.589 51.388 294.713 51.488 294.873 51.576C295.033 51.664 295.233 51.744 295.473 51.816C295.721 51.888 296.005 51.964 296.325 52.044C296.741 52.156 297.117 52.276 297.453 52.404C297.797 52.532 298.085 52.692 298.317 52.884C298.557 53.076 298.741 53.308 298.869 53.58C298.997 53.844 299.061 54.172 299.061 54.564C299.061 55.02 298.973 55.412 298.797 55.74C298.629 56.06 298.401 56.32 298.113 56.52C297.825 56.72 297.489 56.868 297.105 56.964C296.721 57.052 296.321 57.096 295.905 57.096C295.265 57.096 294.633 57 294.009 56.808C293.385 56.616 292.825 56.344 292.329 55.992L293.061 54.564C293.133 54.636 293.261 54.732 293.445 54.852C293.637 54.964 293.861 55.08 294.117 55.2C294.373 55.312 294.657 55.408 294.969 55.488C295.281 55.568 295.601 55.608 295.929 55.608C296.841 55.608 297.297 55.316 297.297 54.732C297.297 54.54 297.245 54.38 297.141 54.252C297.037 54.124 296.889 54.012 296.697 53.916C296.505 53.82 296.273 53.732 296.001 53.652C295.729 53.572 295.425 53.488 295.089 53.4C294.681 53.288 294.325 53.168 294.021 53.04C293.725 52.904 293.477 52.748 293.277 52.572C293.077 52.396 292.925 52.188 292.821 51.948C292.725 51.708 292.677 51.424 292.677 51.096C292.677 50.664 292.757 50.28 292.917 49.944C293.077 49.608 293.297 49.328 293.577 49.104C293.865 48.88 294.197 48.712 294.573 48.6C294.949 48.48 295.353 48.42 295.785 48.42C296.385 48.42 296.937 48.516 297.441 48.708C297.945 48.892 298.385 49.112 298.761 49.368L298.029 50.712Z" fill="black"/>
					</svg>
				</a>
				{# LINE MOBILE #}
				<div class="line-mobile"></div>
			</nav>
			{# LINE #}
			<div class="line"></div>
			{# GRID #}
			<div class="parent">
				<a href="{{ path("genese") }}" class="div1">
					<span>{{ "Genèse"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/genese-2.jpg') }}')"></div>
				</a>
				<a href="{{ path("acces") }}" class="div2">
					<span>{{ "Accès"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/acces.jpg') }}')"></div>
				</a>
				<a href="{{ path("quartier") }}" class="div3">
					<span>{{ "Quartier"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/quartier.jpg') }}')"></div>
				</a>
				<a href="{{ path("bureaux") }}" class="div4">
					<span>{{ "Bureaux"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/bureaux.jpg') }}')"></div>
				</a>
				<a href="{{ path("ecosysteme") }}" class="div5">
					<span>{{ "Écosystème"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/ecosysteme.jpg') }}')"></div>
				</a>
				<a href="{{ path("films-images") }}" class="div6">
					<span>{{ "Films & Images"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/images-films.jpg') }}')"></div>
				</a>
				<a href="{{ path("cahier-technique") }}" class="div7">
					<span>{{ "Cahier technique"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/plans.jpg') }}')"></div>
				</a>
				<a href="{{ path("labels-certifications") }}" class="div8">
					<span class="text-center">{{ "Labels & certifications"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/labels.jpg') }}')"></div>
				</a>
				<a href="{{ path("dates-cles") }}" class="div9">
					<span>{{ "Dates clés"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/dates.jpg') }}')"></div>
				</a>
				<a href="{{ path("contact") }}" class="div10">
					<span>{{ "Contact"|trans }}</span>
					<div class="bg cover" style="background-image: url('{{ asset('build/images/grid-accueil/contact.jpg') }}')"></div>
				</a>
			</div>
			<nav class="bottom-nav">
				<ul>
					<li><a href="{{ path("mentions-legales") }}">{{ "Mentions légales"|trans }}</a></li>
					<li><a href="{{ path("credits") }}">{{ "Crédits"|trans }}</a></li>
				</ul>
			</nav>
			{# DESCS MOBILE #}
		</section>
	</main>
	{# NAV MOBILE #}
	<nav class="bottom-nav--alt">
		<ul>
			<li><a href="{{ path("mentions-legales") }}">{{ "Mentions légales"|trans }}</a></li>
			<li><a href="{{ path("credits") }}">{{ "Crédits"|trans }}</a></li>
		</ul>
	</nav>


<style>
    .langues a{
        text-transform:uppercase;
    }
</style>
{% endblock %}


