{% extends 'base.html.twig' %}
{% block title %}{{ "Bureaux"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<section
		class="bureaux">
		{# NAV #}
		<div class="button-group">
			<div class="buttons">
				<button class="button tablinks active" onclick="tabsIt(event, 'Axonometrie')">{{ "Axonométrie"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'Surface')">{{ "Surfaces"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'images_interieures')">{{ "Images intérieures"|trans }}</button>
				{# <button class="button tablinks active" onclick="tabsIt(event, 'Coupe')">{{ "Coupe"|trans }}</button> #}
				{# <button class="button tablinks" onclick="tabsIt(event, 'Flux')">{{ "Flux"|trans }}</button> #}
			</div>
		</div>
		{# AXO #}
		<div class="w-100 tabcontent tab-visible" id="Axonometrie">
			<div class="wrapper px-0p b-0 no-pad-mobile">
				<div class="axo-texte">
					<div class="grid-50">
                        {{ content.axonometrie_texte_gauche|raw }}
                        {{ content.axonometrie_texte_droite|raw }}
					</div>
				</div>
				<div class="mt-padding position-relative z2">
					<div id="axonometrie"></div>
				</div>
				<div class="axo-texte mb-padding position-relative z3">
					<p class="w-100 text-center bureau-p">{{ "Les plateaux de tous les possibles"|trans }}</p>


				</div>
			</div>
		</div>
		{# IMAGES INTE #}
		<div class="w-100 tabcontent tab-hidden" id="images_interieures">
			<div class="wrapper px-0" data-flickity='{ "cellAlign": "center", "contain": true ,"prevNextButtons": true,"draggable":true,"imagesLoaded": true}'>
                {% for img in content.images_interieurs %}
                    <div class="slide"><img class="img-fluid" src="{{ api_url ~ "assets/" ~ img.directus_files_id }}" alt="Vues intérieures"></div>
                {% endfor %}

            </div>
		</div>
		{# SURFACE #}
		<div class="w-100 tabcontent tab-hidden" id="Surface">
			<div class="px-0">
				<img class="d-block m-auto img-fluid" src="{{ asset('build/images/bureaux/Bureaux_FR.svg'|trans) }}" alt="Surfaces" style="width:768px">
                {{ content.surfaces|raw }}
                <style>
                    .titre-surface { margin-bottom: 1rem; }
                    /*.tableau { overflow: scroll; }*/
                    .tableau, .titre-surface, .estimated-total { display: none; }
                    @media (min-width: 768px ) {
                        .tabcontent#Surface img { display: none; }
                        .tableau, .titre-surface, .estimated-total { display: block; }
                        /*.tableau { overflow: inherit; } */
                    }
                    table { margin: 0 auto; }
                    table tbody tr:not(:first-child) { border-bottom: 1px solid black; }
                    table tbody tr td { padding: 1rem; }
                </style>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		jQuery(document).ready(function () {
jQuery("#axonometrie").mapSvg({
width: 1500,
height: 620.5,
colors: {
baseDefault: "#000000",
background: "#fff",
selected: 40,
hover: 20,
directory: "#fafafa",
status: {}
},
viewBox: [
0, 0, 1500, 620.5
],
zoom: {
on: true,
limit: [
0, 10
],
delta: 2,
buttons: {
on: true,
location: "right"
},
mousewheel: false
},
scroll: {
on: true,
limit: true,
background: false,
spacebar: false
},
gauge: {
on: false,
labels: {
low: "low",
high: "high"
},
colors: {
lowRGB: {
r: 85,
g: 0,
b: 0,
a: 1
},
highRGB: {
r: 238,
g: 0,
b: 0,
a: 1
},
low: "#550000",
high: "#ee0000",
diffRGB: {
r: 153,
g: 0,
b: 0,
a: 0
}
},
min: 0,
max: false
},
source: "/mapsvg/maps/user-uploads/Axonometrie.svg",
title: "Axonometrie",
responsive: true
});
});
	</script>
{% endblock %}
