{% extends 'base.html.twig' %}
{% block title %}{{ "Cahier technique"|trans }}
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <section class="plans">
        <div class="button-group">
            <div class="buttons">
                <button class="button tablinks active" onclick="tabsIt(event, 'R-2')">{{ "R-2"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'Rdj')">{{ "Rdj"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'Rdc')">{{ "Rdc"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R1')">{{ "R+1"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R2')">{{ "R+2"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R3')">{{ "R+3"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R4')">{{ "R+4"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R5')">{{ "R+5"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R6')">{{ "R+6"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R7')">{{ "R+7"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'R8')">{{ "R+8"|trans }}</button>
                <button class="button tablinks" onclick="tabsIt(event, 'Spaceplanning')">Space planning</button>
                <button class="button tablinks" onclick="tabsIt(event, 'technique')">Technique</button>
            </div>
        </div>
        <div class="mt-padding">
            <div class="wrapper px-0 w-100 tabcontent tab-visible" id="R-2">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R-2.gif'|trans) }}" alt="Plan Cité Universelle Paris">
            </div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="Rdj">
{#                {% if app.request.locale == "fr" %}#}
{#                    {% include 'cite_u/_plans/rdj.html.twig' %}#}
                    <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-RDJ.gif'|trans) }}" alt="Plan Cité Universelle Paris">
{#                {% else %}#}
{#                    {% include 'cite_u/_plans/rdj_en.html.twig' %}#}
{#                {% endif %}#}
            </div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="Rdc">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-RDC.gif'|trans) }}" alt="Plan Cité Universelle Paris">
            </div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R1">
{#                {% if app.request.locale == "fr" %}#}
                    <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R1.gif'|trans) }}" alt="Plan Cité Universelle Paris">
{#                    {% include 'cite_u/_plans/r-1.html.twig' %}#}
{#                {% else %}#}
{#                    {% include 'cite_u/_plans/r-1_en.html.twig' %}#}
{#                    {% include 'cite_u/_plans/r-1_en.html.twig' %}#}
{#                {% endif %}#}
            </div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R2">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R2.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R3">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R3.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R4">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R4.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R5">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R5.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R6">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R6.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R7">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R7.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="R8">
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/CiteU_plans-R8.gif'|trans) }}" alt="Plan Cité Universelle Paris"></div>
            <div class="wrapper px-0 w-100 tabcontent tab-hidden" id="Spaceplanning">
                <div class="mw-80 mx-auto">
                    <img loading="lazy" width="800" class="img-fluid d-block" src="{{ asset('build/images/plans/spacePlanning_titre.gif'|trans) }}" alt="Plan Cité Universelle Paris" style="max-width:50%;margin:0;">
                    <div id="spacePlanning" class="mt-padding"></div>
                    <div class="space-planning-container d-flex flex-wrap justify-content-around">
                        {% if app.request.locale == "fr" %}
                            <div>
                                <div class="info-general">
                                    <p class="h3">Infos générales</p>
                                    <p>- Plateau niveau R+5</p>
                                    <p>- Effectif maximum selon notice de sécurité 350 personnes</p>
                                    <p>- Space planning conforme aux exigences d'accessibilité universelle</p>
                                    <p>*SUBL privative hors parties communes</p>
                                </div>
                                <div class="zoning">
                                    <p class="h3">Zoning</p>
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <div class="rectangle-couleur">
                                            <p>Zone panoramique <br> Accueil / business center</p>
                                            <p>Zone panoramique <br> collaborative</p>
                                            <p>Salles de réunions / bulles</p>
                                            <p>Sanitaires</p>
                                        </div>
                                        <div class="cercle-couleur">
                                            <p>Accueil</p>
                                            <p>01 Espace direction</p>
                                            <p>04 Espaces de convivialité</p>
                                            <p>04 Espaces <br> reprographie-courrier</p>
                                            <p>03 Espaces inspirants</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="poste-de-travail">
                                    <p class="h3">Postes de travail : 324 postes</p>
                                    <p>11 m² &nbsp; SUBL* / poste</p>
                                    <p class="d-flex align-items-center">Postes ergonomiques : 104 <img src="{{ asset('build/images/plans/space-planning/postes-ergonomiques.png') }}" alt=""></p>
                                    <p>Postes alternatifs : 220</p>
                                    <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/poste-retrait.png') }}" alt="">Postes de retrait</p>
                                    <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/postes-equipe-projet.png') }}" alt="">Postes équipe projet</p>
                                </div>
                                <div class="espace-communs">
                                    <p class="h3">Espaces communs : 315 places</p>
                                    <div class="d-flex flex-column justify-content-between">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/07-bulles.png') }}" alt="">07 Bulles de 1 pers.</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/12-bulles.png') }}" alt="">12 Bulles de 2 pers.</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/02-bulles.png') }}" alt="">02 Bulles de réunion de 4 pers.</p>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p>39 places <br> 90 m² SUBL*</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/09-salles.png') }}" alt="">09 Salles de réunion de 6 pers.</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/203m2.png') }}" alt="">02 Salles de réunion de 10 pers.</p>
                                                <div class="d-flex">
                                                    <img src="{{ asset('build/images/plans/space-planning/2-salles-reunions.png') }}" alt="">
                                                    <div><p>02 Salles de réunion de 16 pers.</p></div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p>106 places<br>203 m² SUBL*</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div><p>Autres assises informelles</p></div>
                                            <div class="d-flex align-items-center"><p>170 places</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        {% else %}


                            <div>
                                <div class="info-general">
                                    <p class="h3">General informations</p>
                                    <p>- 5th floor</p>
                                    <p>- Maximum capacity : 350 people</p>
                                    <p>- Space planning in compliance with accessiblity standards</p>
                                    <p>*Total useful floor area excluding share of common areas</p>
                                </div>
                                <div class="zoning">
                                    <p class="h3">Zoning</p>
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <div class="rectangle-couleur">
                                            <p>Lobby panoramic <br> Zone / business center</p>
                                            <p>Collaborative panoramic <br> zone</p>
                                            <p>Meeting rooms / isolated area</p>
                                            <p>Sanitary facilities</p>
                                        </div>
                                        <div class="cercle-couleur">
                                            <p>Lobby</p>
                                            <p>01 Management zone</p>
                                            <p>04 Convivial zone</p>
                                            <p>04 Mail and print zone</p>
                                            <p>03 Inspiring zone</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="poste-de-travail">
                                    <p class="h3">Number of seats: 324 seats</p>
                                    <p>11 sq m * / seat</p>
                                    <p class="d-flex align-items-center">Ergonomic seats: 104 <img src="{{ asset('build/images/plans/space-planning/postes-ergonomiques.png') }}" alt=""></p>
                                    <p>Alternative seats: 220</p>
                                    <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/poste-retrait.png') }}" alt="">Isolated seats</p>
                                    <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/postes-equipe-projet.png') }}" alt="">Project team seats</p>
                                </div>
                                <div class="espace-communs">
                                    <p class="h3">Common area: 315 seats</p>
                                    <div class="d-flex flex-column justify-content-between">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/07-bulles.png') }}" alt="">07 isolated areas of 1 person</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/12-bulles.png') }}" alt="">12 isolated areas of 2 people</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/02-bulles.png') }}" alt="">02 isolated meeting rooms of 4 people</p>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p>39 seats <br>90 sq m *</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/09-salles.png') }}" alt="">09 meeting rooms of 6 people</p>
                                                <p class="d-flex align-items-center"><img src="{{ asset('build/images/plans/space-planning/203m2.png') }}" alt="">02 meeting rooms of 10 people</p>
                                                <div class="d-flex">
                                                    <img src="{{ asset('build/images/plans/space-planning/2-salles-reunions.png') }}" alt="">
                                                    <div>
                                                        <p>02 meeting rooms of 16 people</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p>106 seats <br>203 sq m *</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div><p>Other informal seats</p></div>
                                            <div class="d-flex align-items-center"><p>170 seats</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
{#                <div class="legende--alt">#}
{#                    <img loading="lazy" class="img-fluid" src="{{ asset('build/images/plans/legende-mobile.png'|trans) }}" alt="Plan Cité Universelle Paris">#}
{#                </div>#}
            </div>
            <div id="technique" class="wrapper px-padding tabcontent tab-hidden">
                {{ content.technique|raw }}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#spacePlanning").mapSvg({
                width: 2940,
                height: 1441,
                colors: {
                    baseDefault: "#000000",
                    background: "#ffffff",
                    selected: 40,
                    hover: 20,
                    directory: "#fafafa",
                    status: {}
                },
                viewBox: [
                    0, 0, 2940, 1441
                ],
                zoom: {
                    on: true,
                    limit: [
                        0, 34
                    ],
                    delta: 2,
                    buttons: {
                        on: true,
                        location: "right"
                    },
                    mousewheel: false
                },
                scroll: {
                    on: true,
                    limit: true,
                    background: false,
                    spacebar: false
                },
                gauge: {
                    on: false,
                    labels: {
                        low: "low",
                        high: "high"
                    },
                    colors: {
                        lowRGB: {
                            r: 85,
                            g: 0,
                            b: 0,
                            a: 1
                        },
                        highRGB: {
                            r: 238,
                            g: 0,
                            b: 0,
                            a: 1
                        },
                        low: "#550000",
                        high: "#ee0000",
                        diffRGB: {
                            r: 153,
                            g: 0,
                            b: 0,
                            a: 0
                        }
                    },
                    min: 0,
                    max: false
                },
                source: "/mapsvg/maps/user-uploads/spacePlanning.svg",
                title: "SpacePlanning",
                responsive: true
            });
        });
    </script>
{% endblock %}
