{% extends 'base.html.twig' %}
{% block title %}Contact
{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<div
		class="contact">
		{# TITRE PAGE #}
{#		<div class="titre-page text-center mt-24">#}
{#			<h2>#}
{#				<span>{{ "Contactez-nous"|trans }}</span>#}
{#			</h2>#}
{#		</div>#}
		<div
			class="grid-40-60">
			{# PHOTO #}
			<div class="photo cover" style="background-image: url('{{ asset('build/images/pages/contact.jpg') }}')"></div>
			{# FORM #}
			<div>
				{% if app.session.flashBag.has('success') %}
					<div class="alert alert-success" role="alert">
						{{ app.session.flashbag.get("success")[0] }}
					</div>
				{% else %}
					{{ form_start(form) }}
					{{ form_widget(form.nom, {'attr': {'class': 'class_test', 'placeholder': 'Nom'|trans }}) }}
					{{ form_widget(form.email, {'attr': {'class': 'class_test', 'placeholder': 'Email'|trans }}) }}
					{{ form_widget(form.sujet, {'attr': {'class': 'class_test', 'placeholder': 'Objet'|trans }}) }}
					{{ form_widget(form.message, {'attr': {'class': 'class_test', 'placeholder': 'Votre message'|trans }}) }}
					{% trans %}
					<input type="submit" value="Envoyer">
					{% endtrans %}
					{{ form_end(form) }}
				{% endif %}
				<div class="cards mt-padding">
					<div class="card">
						<div class="placeholder">
							<img src="{{ asset('build/images/natalieChapuis.jpeg') }}" alt="Natalie Chapuis">
						</div>
						<div class="texte">
							<span class="bold">Nathalie CHAPUIS</span>
{#							{{ "Directrice de programmes"|trans }} / <span>CiteUniverselle@ga.fr</span> / <span>01 53 93 96 96</span>#}
                            <ul>
                                <li>{{ "Directrice Innovation Urbaine et Grands Projets"|trans }}</li>
{#                                <li>citeuniverselle@ga.fr</li>#}
                                <li>01 53 93 96 96</li>
                            </ul>
{#							<a href="mailto:n.chapuis@ga.fr" title="envoyer un email à Nathalie CHAPUIS">n.chapuis@ga.fr</a>#}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
