{% extends 'base.html.twig' %}
{% block title %}{{ "Dates clés"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}

    <div class="d-flex dates">
        <div>
            <img src="{{ api_url ~ "assets/" ~ content.image }}" alt="">
        </div>
        <div class="wrapper">
            {{ content.contenu|raw }}
        </div>
    </div>

{% endblock %}
