{% extends 'base.html.twig' %}
{% block title %}{{ "Écosystème"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}

    {% set tab_items = [] %}
	<section class="ecosysteme p-0">
		{# NAV #}
		<div class="button-group">
			<div class="buttons">
                {% for item in content.tabs %}
                    {% set tab_items = tab_items|merge([item.tab_item|lower|replace({" ": "-"})|remove_accents]) %}
                    <button class="button tablinks {% if loop.first %}active{% endif %}" onclick="tabsIt(event, '{{ item.tab_item|lower|replace({" ": "-"})|remove_accents }}')">{{ item.tab_item }}</button>
                {% endfor %}

{#				<button class="button tablinks active" onclick="tabsIt(event, 'notre_histoire')">{{ "4 pôles complémentaires"|trans }}</button>#}
{#				<button class="button tablinks" onclick="tabsIt(event, 'pole_coworking')">{{ "pôle coworking"|trans }}</button>#}
{#				<button class="button tablinks" onclick="tabsIt(event, 'pole_hospitality')">{{ "pôle hospitality"|trans }}</button>#}
{#				<button class="button tablinks" onclick="tabsIt(event, 'pole_sante')">{{ "pôle santé et bien-être"|trans }}</button>#}
{#				<button class="button tablinks" onclick="tabsIt(event, 'pole_sportif')">{{ "pôle sportif"|trans }}</button>#}
			</div>
		</div>
		{# CAROUSEL #}
		<div>
            {# 4 pôles complementaires #}
{#            <div class="wrapper w-100 px-0 tabcontent tab-visible" id="notre_histoire">#}
            <div class="wrapper w-100 px-0 tabcontent tab-visible" id="{{ tab_items[0] }}">
                <div class="grid-40-60">
                    <div>
                        {{ content.pole_complementaire_texts|raw }}
                    </div>
                    <div class="parent-4">
                        {% for img in content.pole_complementaire_images %}
                            <div class="{{ "div" ~ loop.index }} cover" style="background-image: url('{{ api_url ~ "assets/" ~ img.directus_files_id }}')"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# COUPE #}
            <div class="wrapper px-0 w-100 pt-0-xs tabcontent tab-hidden" id="{{ tab_items[1] }}">
                {# 2EME NAV #}
                <nav class="navbar--coupe">
                    <ul>
                        <li class="violet">{{ "Hôtel"|trans }}</li>
                        <li class="jaune">{{ "Bureaux"|trans }}</li>
                        <li class="green">{{ "Coworking"|trans }}</li>
                        <li class="blue">{{ "Salle omnisports"|trans }}</li>
                        <li class="pink">{{ "Pôle santé"|trans }}</li>
                        <li class="grey">{{ "Espaces communs"|trans }}</li>
                        <li class="red">{{ "Parking"|trans }}</li>
                    </ul>
                </nav>
                {# INFOS BATIMENT #}
                <div class="batiment__infos">
                    <div id="bureau__desc" class="texte-add">
                        <span class="titre">{{ "Bureaux"|trans }}</span>
                        <span class="desc">{{ "20 000 m<sup>2</sup> et son restaurant d'entreprise de 1300 m<sup>2</sup>"|trans|raw}}</span>
                    </div>
                    <div id="red__desc" class="texte-add">
                        <span class="titre">{{ "Parking"|trans }}</span>
                        <span class="desc">{{ "130 stationnements véhicules et 480 stationnements vélos"|trans}}</span>
                    </div>
                    <div id="blue__desc" class="texte-add">
                        <span class="titre">{{ "Salle omnisports"|trans }}</span>
                        <span class="desc">{{ "1 000 places modulables"|trans }}</span>
                    </div>
                    <div id="violet__desc" class="texte-add">
                        <span class="titre">{{ "Hôtel ****"|trans }}</span>
                        <span class="desc">{{ "109 chambres"|trans }}</span>
                    </div>
                    <div id="green__desc" class="texte-add">
                        <span class="titre">{{ "Coworking"|trans }}</span>
                        <span class="desc">{{ "1 100 m<sup>2</sup>"|trans|raw }}
                        </span>
                    </div>
                    <div id="grey__desc" class="texte-add">
                        <span class="titre">{{ "Commerce & Espaces communs"|trans }}</span>
                        <span class="desc">{{ "Halls, jardin partagé en rooftop, 300m² de commerce, vestiaires vélos"|trans }}</span>
                    </div>
                    <div id="pink__desc" class="texte-add">
                        <span class="titre">{{ "Pôle santé"|trans }}</span>
                        <span class="desc">{{ "8 salles de consultation"|trans }}</span>
                    </div>
                </div>
                <svg class="d-block m-auto img-fluid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1221" height="531" viewbox="0 0 1221 531">
                    <defs>
                        <clipPath id="clip-batiment"><rect width="1221" height="531"/></clipPath>
                    </defs>
                    <g id="batiment" clip-path="url(#clip-batiment)">
                        <rect width="1221" height="531" fill="rgba(0,0,0,0)"/>
                        <g id="BATIMENT-2" data-name="BATIMENT" transform="translate(2 66)">
                            <image id="arbres" width="1219" height="222" transform="translate(0 139)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image.png') }}"/>
                            <g id="grey" transform="translate(89 7)" class="bloc-immeuble">
    {#							<image id="grey-2" data-name="grey" width="982" height="87" transform="translate(44 248)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image2.png') }}"/>#}
                                <image class="grey" data-name="grey" transform="translate(44 248)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/commercesGauche.png') }}"/>
                                <image class="grey" data-name="grey" transform="translate(740 276)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/commercesDroite.png') }}"/>
                                <path id="Vector_2" d="M308.1,306H41.1V249.8H141.5v30.9H308.1Zm-261-6h255V286.7H135.5V255.8H47.1Z" fill="#616161"/>
                                <path id="Vector_3" d="M879.7,309.3H743.8V278.9h279.5v29.787Zm-129.9-6H879.6l.1,3-.013-3,137.613-.587V284.9H749.8Z" fill="#616161"/>
                            </g>
                            <g id="jaune" transform="translate(89 7)" class="bloc-immeuble jaune">
                                <image id="yellow" width="997" height="151" transform="translate(-8 97)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image3.png') }}"/>
                                <path id="Vector_4" d="M148.7,251.5H0V235.6l18-1.9V205.2H44.1V165.585c-12.9-1.1-25.767-2.2-38.534-3.194L2.8,162.175V114.826l34.055,5.008L50.1,109.477V96.8H926.9v22.76l28.4-5.594v48.245l-2.586.36L928.9,165.8v39.7l30.629.3,11.673,3.958c4.826,1.7,9.638,3.393,14.417,5.121l2,.724-.022,2.129-.231,32.169H148.7ZM6,245.5H142.7v-1.6H981.42l.165-24.1q-6.16-2.211-12.376-4.386l-10.719-3.792-29.62-.125H922.9V160.626l5.144-.791,21.256-2.859V121.251l-28.4,5.589V102.8H56.1v9.522l-2.2,1.8L38.546,126.165l-2.6-.4L8.8,121.773v34.853c11.9.941,23.877,1.963,35.855,2.984l5.445.4V211.2H24v27.885l-5.369.6L6,241Z" fill="#ffca00"/>
                            </g>
                            <g id="violet" transform="translate(89 7)" class="bloc-immeuble violet">
                                <image id="violet-2" data-name="violet" width="1040" height="104" transform="translate(11 -7)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image4.png') }}"/>
                                <path id="Vector" d="M926.9,96.6H43.2V76H62.1V47.7h16V46.235L71,43.05V16.8H84.678l1.036.215,17,5.629L335.2,22.5h8.6V1.041l17.4,25.7V51.273c1.543,1.762,3.085,3.518,4.628,5.227H605.1V33l.4-1.492L614.3,16.8H630v5.3h9.4v1.4h46.55l1.514-1.7h2.761l5.505-4,1.77-.6H872.3V32h2V50.667q1.232-.537,2.464-1.044l.546-.223,1.19-.3h5.437L900.9,43.172V80.4l17.7-4.7.8-.1h7.5Zm-877.7-6H920.9v-9h-1.1l-24.9,6.623V51.628L880.3,56.7V55.1h-1.2c-2.229.962-4.394,1.947-6.559,2.931L868.3,59.959V38h-2V23.2H698.5l-6.33,4.6-2.04.007-.709.814-.879.879H633.4V28.1h-2.3l-3,.6H624V22.8l-6.328.043-6.6,11L611.1,62.5H363.177l-.892-.977c-2.114-2.315-4.228-4.731-6.342-7.147l-.742-.848V28.5l-5.4-7.941V28.5h-248l-9.3-2.9-8.319-2.74L77,22.8l.018,16.359L84.1,42.365V53.7h-16V82H49.2Z" fill="#b57db0"/>
                            </g>
                            <g id="red" class="bloc-immeuble red">
                                <image id="red-2" data-name="red" width="974" height="108" transform="translate(134 320)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image5.png') }}"/>
                                <path id="rouge" d="M886.552,308.4h136.232l.633,115.9H46.5v-87l840.052-.573Zm130.265,6H892.552v28.325L52.5,343.3v75h964.884Z" transform="translate(89 7)" fill="#e9530e"/>
                            </g>
                            <g id="blue" transform="translate(89 7)" class="bloc-immeuble blue">
    {#							<image id="blue-2" data-name="blue" width="842" height="95" transform="translate(44 243)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image6.png') }}"/>#}
                                <image id="blue-2" data-name="blue" transform="translate(306 243)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/omnisportHaut.png') }}"/>
                                <image id="blue-2" data-name="blue" transform="translate(44 309)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/omnisportBas.png') }}"/>
                                <path id="Vector_5" d="M41.1,305.7H308v31.7H41.1Zm260.9,6H47.1v19.7H302Z" fill="#1280a3"/>
                                <path id="Vector_6" d="M308.1,249.8H743.8v87.7H308.1Zm429.7,6H314.1v75.7H737.8Z" fill="#1280a3"/>
                                <path id="Vector_7" d="M737.8,308H886.83v29.4H737.8Zm143.03,6H743.8v17.4H880.83Z" fill="#1280a3"/>
                            </g>
                            <g id="green" transform="translate(89 7)" class="bloc-immeuble green">
    {#							<image id="green-2" data-name="green" width="735" height="37" transform="translate(141 243)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image7.png') }}"/>#}
                                <image data-name="green" transform="translate(141 243)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/coworkingGauche.png') }}"/>
                                <image data-name="green" transform="translate(740 243)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/coworkingDroite.png') }}"/>
                                <path id="Vector_8" d="M743.8,249.8H876.6v29.8H743.8Zm126.8,6H749.8v17.8H870.6Z" fill="#7fbc4f"/>
                                <path id="Vector_9" d="M141.1,249.8H308v32H141.1Zm160.9,6H147.1v20H302Z" fill="#7fbc4f"/>
                            </g>
                            <g id="pink" class="bloc-immeuble pink">
                                <image id="pink-2" data-name="pink" width="171" height="37" transform="translate(968 250)" xlink:href="{{ asset('build/images/bureaux/coupe-batiment/batiment-image8.png') }}"/>
                                <path id="rose" d="M876.6,249.8h146.7v29.8H876.6Zm140.7,6H882.6v17.8h134.7Z" transform="translate(89 7)" fill="#d72655"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="w-100 text-center bureau-p">{{ "Un écosystème mixte unique en Europe"|trans }}</p>
                <p class="w-100 text-center">{{ "Un immeuble de 30 800 m² en R+8"|trans }}</p>
                <image src="{{ asset('build/images/bureaux/roseVent.svg') }}" class="rose-vent"/>
            </div>
            {# FLUX #}
            <div class="wrapper p-0 w-100 tabcontent tab-hidden" id="{{ tab_items[2] }}">
                {% if app.request.locale == "fr" %}
                    {% include 'cite_u/_bureaux/flux.html.twig' %}
                {% else %}
                    {% include 'cite_u/_bureaux/flux_en.html.twig' %}
                {% endif %}
            </div>
            {# Pôle coworking #}
{#            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="pole_coworking">#}
            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="{{ tab_items[3] }}">
                <div class="grid-40-60">
                    <div>
                        {{ content.pole_hospitality_text|raw }}
                    </div>
                    <div class="parent">
                        {% for img in content.pole_hospitality_images %}
                            <div class="{{ "div" ~ loop.index }} cover" style="background-image: url('{{ api_url ~ "assets/" ~ img.directus_files_id }}')"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# Pôle hospitality #}
{#            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="pole_hospitality">#}
            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="{{ tab_items[4] }}">
                <div class="grid-40-60">
                    <div>
                        {{ content.pole_sante_bien_etre_text|raw }}
                    </div>
                    <div class="parent-double">
                        {% for img in content.pole_sante_bien_etre_images %}
                            <div class="{{ "div" ~ loop.index }} cover" style="background-image: url('{{ api_url ~ "assets/" ~ img.directus_files_id }}')"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# Pôle santé et bien-être #}
{#            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="pole_sante">#}
            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="{{ tab_items[5] }}">
                <div class="grid-40-60">
                    <div>
                        {{ content.pole_coworking_text|raw }}
                    </div>
                    <div class="mono-pic">
                        <div class=" cover" style="background-image: url('{{ api_url ~ "assets/" ~ content.pole_coworking_image }}')"></div>
                    </div>
                </div>
            </div>
            {# Pôle sportif #}
{#            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="pole_sportif">#}
            <div class="wrapper w-100 px-0 tabcontent tab-hidden" id="{{ tab_items[6] }}">
                <div class="grid-40-60">
                    <div>
                        {{ content.pole_sportif_text|raw }}
                    </div>
                    <div class="mono-pic">
                        {% for img in content.pole_sportif_images %}
                            <div class="{{ "div" ~ loop.index }} cover" style="background-image: url('{{ api_url ~ "assets/" ~ img.directus_files_id }}')"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</div>
	</section>
{% endblock %}
