{% extends 'base.html.twig' %}
{% block title %}{{ "Genèse"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<section
		class="ecosysteme  p-0 genese">
		{# MODAL VIDEO BIG#}
		<div class="overlay">
			<a class="close">&times;</a>
			<div class="video-container">
				<video id="video_principale" class="img-fluid m-auto d-block" src="{{ asset('build/images/videos/210920_CITE_UNIVERSELLE_VF_1_1.mp4') }}" controls preload></video>
			</div>
		</div>
		{# MODAL MANIFESTE #}
		<div class="overlay--manifeste">
			<a class="close">&times;</a>
			<div class="video-container">
				<video id="video_manifeste" class="img-fluid m-auto d-block" src="{{ asset('build/images/videos/Manifeste-de-la-Cite-Universelle-ReinventerParis.mp4') }}" controls preload></video>
			</div>
		</div>
		<div
			class="mt-padding">
			{# 1 #}
			<div class="wrapper w-100 px-0">
				<div
					class="grid-60-40">
					{# VIDEO #}
					<div class="video cover" style="background-image: url('{{ asset('build/images/pages/labels.jpg') }}')">
                        <div class="filtre-noir"></div>
						<span class="vidbut open-video">
                            {% if app.request.locale == "fr" %}
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="150" viewbox="0 0 91.57 108.323">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <rect id="Rectangle_3" data-name="Rectangle 3" width="68.151" height="68.151" fill="none"/>
                                        </clipPath>
                                    </defs>
                                    <g id="Groupe_3" data-name="Groupe 3" transform="translate(-3227.765 481.325)">
                                        <g id="play" transform="translate(3239.475 -481.325)" clip-path="url(#clip-path)">
                                            <path id="Tracé_3" data-name="Tracé 3" d="M34.12,68.151A34.075,34.075,0,1,1,68.239,34.12,34.121,34.121,0,0,1,34.12,68.151Zm0-66.383A32.352,32.352,0,1,0,66.471,34.12,32.367,32.367,0,0,0,34.12,1.768Z" fill="#fff"/>
                                            <path id="Tracé_4" data-name="Tracé 4" d="M32.2,20V52.794L48.641,36.441Z" transform="translate(-3.738 -2.321)" fill="#fff"/>
                                        </g>
                                        <path id="Tracé_5" data-name="Tracé 5" d="M1.7,4V-14.2H4.007V1.946H14.155V4Zm27.32-2.05V4H16.667V-14.2H28.789v2.05H18.973v5.894h8.534v1.922H18.973V1.946ZM38.656,4V-14.2h12.02v2.05H40.962v6.074h8.175v1.922H40.962V4ZM53.6,4V-14.2H55.9V4Zm6.663,0V-14.2h2.307V1.946H72.716V4Zm30.7,0v-14.07L84.915.716H83.608L77.534-10.074V4H75.227V-14.2h2.435L84.249-2.385,90.861-14.2H93.27V4Z" transform="translate(3226.065 -376.998)" fill="#fff"/>
                                    </g>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="150" viewbox="0 0 91.57 108.323">
                                    <g id="Groupe_3" transform="translate(-3227.765 481.325)">
                                        <g id="play" transform="translate(3239.475 -481.325)">
                                            <path fill="#fff" id="Tracé_3" class="st0" d="M34.1,68.2c-18.8,0-34.1-15.3-34-34.1S15.4,0,34.2,0s34.1,15.3,34,34.1C68.2,52.9,52.9,68.1,34.1,68.2z M34.1,1.8C16.3,1.8,1.8,16.3,1.8,34.1c0,17.9,14.5,32.4,32.4,32.4S66.5,52,66.5,34.1l0,0C66.5,16.3,52,1.8,34.1,1.8z"/>
                                            <path fill="#fff" id="Tracé_4" class="st0" d="M28.5,17.7v32.8l16.4-16.4L28.5,17.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <path class="st0" d="M12.1,79.1H7.6v11.8H4.8V79.1H0.3v-2.4h11.8V79.1z" fill="#fff"/>
                                        <path class="st0" d="M25.8,76.7v14.2h-2.7v-6.1h-6.4v6.1h-2.8V76.7h2.8v5.7h6.4v-5.7H25.8z" fill="#fff"/>
                                        <path class="st0" d="M38.6,88.5v2.4h-9.9V76.7h9.7v2.4h-6.9v3.4h6v2.2h-6v3.7h7.1V88.5z" fill="#fff"/>
                                        <path class="st0" d="M45.6,90.9V76.7h9.5v2.4h-6.8v3.7H54V85h-5.6v5.9H45.6z" fill="#fff"/>
                                        <path class="st0" d="M57.1,90.9V76.7h2.8v14.2C59.9,90.9,57.1,90.9,57.1,90.9z" fill="#fff"/>
                                        <path class="st0" d="M62.8,90.9V76.7h2.8v11.8h7.2v2.4H62.8z" fill="#fff"/>
                                        <path class="st0" d="M86.1,90.9v-9.4l-3.7,7H81l-3.7-7v9.4h-2.8V76.7h3l4.2,8.1l4.2-8.1h2.9v14.2C88.8,90.9,86.1,90.9,86.1,90.9z" fill="#fff"/>
                                    </g>
                                </svg>
                            {% endif %}
						</span>
					</div>
					    <div class="px-padding texte">
                            {# TEXTE #}
{#                            <h2 class="mb-24">#}
{#                                <span>{{ "Edito"|trans }}</span>#}
{#                            </h2>#}
{#                            <h3 class="mb-24">{{ "La Cité Universelle, c’est une intuition qui s’est imposée comme une conviction."|trans }}</h3>#}
{#							{% trans %}#}
{#							<p class="mb-24">#}
{#								En plaçant l’accessibilité et la mixité au cœur de ce projet, nous avons fait le choix de l’innovation par l’inclusion. C’était alors un changement de paradigme pour nos métiers, c’est aujourd’hui devenu une évidence. #}
{#								La Cité Universelle est d’abord une ambition collective : prendre en compte les besoins spécifiques des uns pour améliorer l’expérience de tous. La télécommande, le clavier et même le téléphone ontété créés pour répondre aux besoins des personnes en situation #}
{#								de handicap et ont finalement changé nos vies.#}
{#							</p>#}
{#							<p class="mb-24">C’est ensuite une transformation : sociétale, architecturale et jusque dans les usages. La Cité Universelle revendique sa mixité comme catalyseur d’énergie, en associant le sport, l’hôtellerie, le coworking à des bureaux, des commerces et des servicesde santé en un écosystème vertueux. Aller au bureau dans la Cité Universelle, c’est vivre et partager une expérience unique.#}
{#							</p>#}
{#							<p class="mb-24">Sébastien Matty#}
{#								<br/>#}
{#								PRÉSIDENT GA SMART BUILDING#}
{#							</p>#}
{#							{% endtrans %}#}

                            {{ content.edito|raw }}

{#							 VIDBUT#}
							<div class="vidbut open-video-manifeste">
								<h3 class="uppercase">
									{{ "Le Manifeste"|trans }}
								</h3>
								<img loading="lazy" src="{{ asset('build/images/vidbutimg.svg') }}" alt="Manifeste">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
