{% extends 'base.html.twig' %}
{% block title %}
	{{ "Films & Images"|trans }}
{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	{# MODAL VIDEO BIG#}
	<div class="overlay">
		<a class="close">&times;</a>
		<div class="video-container">
			<video id="video_principale" class="img-fluid m-auto d-block" src="{{ asset('build/images/videos/210920_CITE_UNIVERSELLE_VF_1_1.mp4') }}" controls preload></video>
		</div>
	</div>
	{# MODAL MANIFESTE #}
	<div class="overlay--manifeste">
		<a class="close">&times;</a>
		<div class="video-container">
			<video id="video_manifeste" class="img-fluid m-auto d-block" src="{{ asset('build/images/videos/Manifeste-de-la-Cite-Universelle-ReinventerParis.mp4') }}" controls preload></video>
		</div>
	</div>
	<section class="images">
		<div class="button-group">
			<div class="buttons">
				<button class="button tablinks active" onclick="tabsIt(event, 'film')">{{ "Film"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'manifeste')">{{ "Manifeste"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'images_exterieures')">{{ "Images extérieures"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'images_interieures')">{{ "Images intérieures"|trans }}</button>
			</div>
		</div>
		<div class="wrapper px-0 w-100 tabcontent tab-visible" id="film">
			<div class="video cover" style="background-image: url('/build/images/pages/labels.jpg')">
                <div class="filtre-noir"></div>
				<span class="vidbut open-video">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="140" viewbox="0 0 68.151 68.151">
						<defs>
							<clipPath id="clip-path">
								<rect id="Rectangle_3" data-name="Rectangle 3" width="68.151" height="68.151" fill="none"/>
							</clipPath>
						</defs>
						<g id="play" clip-path="url(#clip-path)">
							<path id="Tracé_3" data-name="Tracé 3" d="M34.12,68.151A34.075,34.075,0,1,1,68.239,34.12,34.075,34.075,0,0,1,34.12,68.151Zm0-66.383A32.352,32.352,0,1,0,66.471,34.12,32.352,32.352,0,0,0,34.12,1.768Z" fill="#fff"/>
							<path id="Tracé_4" data-name="Tracé 4" d="M32.2,20V52.794L48.641,36.441Z" transform="translate(-3.738 -2.321)" fill="#fff"/>
						</g>
					</svg>
				</span>
			</div>
		</div>
		<div class="wrapper px-0 w-100 tabcontent tab-hidden" id="manifeste">
			<div class="video cover" style="background-image: url('/build/images/pages/manifeste_vignette.jpg')">
                <div class="filtre-noir"></div>
				<span class="vidbut open-video-manifeste">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="140" viewbox="0 0 68.151 68.151">
						<defs>
							<clipPath id="clip-pathh">
								<rect id="Rectangle_3" data-name="Rectangle 3" width="68.151" height="68.151" fill="none"/>
							</clipPath>
						</defs>
						<g id="play" clip-path="url(#clip-path)">
							<path id="Tracé_3" data-name="Tracé 3" d="M34.12,68.151A34.075,34.075,0,1,1,68.239,34.12,34.075,34.075,0,0,1,34.12,68.151Zm0-66.383A32.352,32.352,0,1,0,66.471,34.12,32.352,32.352,0,0,0,34.12,1.768Z" fill="#fff"/>
							<path id="Tracé_4" data-name="Tracé 4" d="M32.2,20V52.794L48.641,36.441Z" transform="translate(-3.738 -2.321)" fill="#fff"/>
						</g>
					</svg>
				</span>
			</div>
		</div>
		<div class="w-100 tabcontent tab-hidden" id="images_exterieures">
			<div class="wrapper px-0" data-flickity='{ "cellAlign": "center", "contain": true ,"prevNextButtons": true,"draggable":true,"imagesLoaded": true}'>
                {% for img in content.images_exterieures %}
                    <div class="slide"><img class="img-fluid" src="{{ api_url ~ "assets/" ~ img.directus_files_id }}" alt="Vues extérieures"></div>
                {% endfor %}
			</div>
		</div>
		<div class="w-100 tabcontent tab-hidden" id="images_interieures">
			<div class="wrapper px-0" data-flickity='{ "cellAlign": "center", "contain": true ,"prevNextButtons": true,"draggable":true,"imagesLoaded": true}'>
                {% for img in content.images_interieures %}
                    <div class="slide"><img class="img-fluid" src="{{ api_url ~ "assets/" ~ img.directus_files_id }}" alt="Vues intérieures"></div>
                {% endfor %}
			</div>
		</div>
	</section>
	<style>
		.video {
            position: relative;
			display: flex;
			margin: auto;
			min-height: 520px;
			height: 580px;
		}
        .video .filtre-noir {
            position: absolute;
            background: black;
            top: 0; left: 0; bottom: 0; right: 0;
            opacity: .5;
            z-index: 0;
        }
		@media(min-width:768px) {
			.video {
				width: 60%;
			}
		}
		.video .vidbut {
			margin: auto;
			cursor: pointer;
            z-index: 1;
		}
	</style>
{% endblock %}
