{% extends 'base.html.twig' %}
{% block title %}{{ "Labels & certifications"|trans }}
{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<div
		class="wrapper label_certification px-0">
		{# TITRE PAGE #}
		<div class="titre-page text-center mb-padding">
			<h2>
				<span>{{ "UN IMMEUBLE INTELLIGENT ET BAS CARBONE"|trans }}</span>
			</h2>
		</div>
		{# BLOC IMAGE #}
		<div class="grid-50 nogap mb-padding">
			<div>
{#                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/certifs/CertificationCiteU.png'|trans) }}" alt="CERTIFICATIONS CITÉ U">#}
                <img loading="lazy" class="img-fluid" src="{{ asset('build/images/pages/labels_logo_2.png') }}" alt="CERTIFICATIONS CITÉ U"
                style="max-width: 80%; padding: 2rem;">
            </div>
			<div class="bloc-image cover" style="background-image: url('{{ asset('build/images/pages/schemaBatimentCarbone2.png') }}'); background-size: contain"></div>
		</div>
		{% trans %}
		<h3 class="m-auto d-block text-center mb-24">Performances environnementales au niveau des exigences de demain</h3>
		<p class="lastp text-center">Un bâtiment intelligent et bas carbone grâce aux bons matériaux aux bons endroits : mixité de bois, métal & béton bas carbone et une vraie place pour la biodiversité avec la prairie méllifère sur le toit.</p>
		{% endtrans %}
	</div>
{% endblock %}
