{% extends 'base.html.twig' %}
{% block title %}{{ "Mentions légales"|trans }}{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="wrapper contact">
        <div class="mt-padding">
            {{ content.contenu|raw }}
        </div>
    </div>
{% endblock %}

