{% extends 'base.html.twig' %}
{% block title %}{{ "Quartier"|trans }}{% endblock %}
{% block body %}
	{% include 'header.html.twig' %}
	<section class="quartier">
		<div class="button-group">
			<div class="buttons">
				<button class="button tablinks active" onclick="tabsIt(event, 'env_culturel')">{{ "Environnement culturel"|trans }}</button>
				<button class="button tablinks" onclick="tabsIt(event, 'mapping_eco')">{{ "Mapping eco"|trans }}</button>
			</div>
		</div>
		<div class="mt-padding">
			{# Environnement culturel #}
			<div class="wrapper p-0 w-100 tabcontent position-relative tab-visible" id="env_culturel">
                <h1 class="h2 my-2 text-center">{{ "Un quartier effervescent"|trans }}</h1>
				<div class="logos-culture">
					<a target="_blank" href="{{ 'https://www.glazart.com'|trans }}"><img loading="lazy" src="{{ asset('build/images/logos-salles/glazart_logo.png') }}" alt="glazart"></a>
					<a target="_blank" href="{{ 'https://philharmoniedeparis.fr'|trans }}"><img loading="lazy" src="{{ asset('build/images/logos-salles/Philharmonie_de_Paris_2010_logo.png') }}" alt="Philharmonie de Paris"></a>
					<a target="_blank" href="{{ 'http://www.letrabendo.net'|trans }}"><img loading="lazy" src="{{ asset('build/images/logos-salles/trabendo.png') }}" alt="trabendo"></a>
					<a target="_blank" href="{{ 'http://www.le-zenith.com'|trans }}"><img loading="lazy" src="{{ asset('build/images/logos-salles/Zenith_Paris_intro_logo_noir.png') }}" alt="Zenith Paris"></a>
					<a target="_blank" href="{{ 'https://www.cite-sciences.fr'|trans }}"><img loading="lazy" src="{{ asset('build/images/logos-salles/cite_sciences.svg') }}" alt="cité des sciences"></a>
				</div>
				<div class="map-container">
{#					<div id="mapsvgEco"></div>#}
                    <img src="{{ asset("build/images/quartier/environnementCulturel.svg") }}" alt="">
				</div>
			</div>
			{# MAPPING ECO #}
			<div class="wrapper p-0 w-100 tabcontent position-relative tab-hidden" id="mapping_eco">
				<div class="map-container">
{#					<div id="mapsvg"></div>#}
					<img loading="lazy" src="{{ asset('build/images/quartier/MappingEco_2.svg') }}" alt="Légende" style="width: 100%">
				</div>
				<div class="legendes">
					<img loading="lazy" src="{{ asset('build/images/quartier/legendesMappingEco.svg'|trans) }}" alt="Légende" style="width: 100%">
				</div>
			</div>
		</div>
	</section>
	<script>
		jQuery(document).ready(function () { // MAPPING ECO
            $("#mapsvg").mapSvg({
                markerLastID: 33,
                width: 478.3,
                height: 461,
                loadingText: "chargement",
                colors: {
                    baseDefault: "#000000",
                    background: "#ffffff",
                    selected: 40,
                    hover: 20,
                    directory: "#fafafa",
                    status: {}
                },
                viewBox: [ 0, -0.09999999999999432, 478.3, 461 ],
                zoom: {
                    on: false,
                    limit: true,
                    delta: 2,
                    buttons: {
                        on: true,
                        location: "right"
                    },
                    mousewheel: false
                },
                scroll: {
                    on: true,
                    limit: true,
                    background: false,
                    spacebar: false
                },
                tooltips: {
                    mode: "off",
                    on: false,
                    priority: "local",
                    position: "bottom-right"
                },
                popovers: {
                    mode: "on",
                    on: true,
                    priority: "local",
                    position: "top",
                    centerOn: false,
                    width: 300,
                    maxWidth: 50,
                    maxHeight: 50,
                    resetViewboxOnClose: true,
                    mobileFullscreen: 0
                },
                gauge: {
                    on: false,
                    labels: {
                        low: "low",
                        high: "high"
                    },
                    colors: {
                        lowRGB: { r: 85, g: 0, b: 0, a: 1 },
                        highRGB: { r: 238, g: 0, b: 0, a: 1 },
                        low: "#550000",
                        high: "#ee0000",
                        diffRGB: { r: 153, g: 0, b: 0, a: 0 }
                    },
                    min: 0,
                    max: false
                },
                source: "/mapsvg/maps/user-uploads/MAPPING%20Eco%203.svg",
                title: "MAPPING%20Eco%203",
                markers: [
                    {
                        id: "marker_1",
                        attached: true,
                        isLink: false,
                        tooltip: "Veolia",
                        popover: "Veolia",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 80.74306151645207,
                        y: 88.33510930793992
                    },
                    {
                        id: "marker_2",
                        attached: true,
                        isLink: false,
                        tooltip: "Ministère de la justice",
                        popover: "Ministère de la justice",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 124.23376623376623,
                        y: 71.99249695616882
                    },
                    {
                        id: "marker_3",
                        attached: true,
                        isLink: false,
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 97.8340909090909,
                        y: 99.94509435876623
                    },
                    {
                        id: "marker_4",
                        attached: true,
                        isLink: false,
                        tooltip: "ARS",
                        popover: "ARS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 97.8340909090909,
                        y: 99.94509435876623
                    }, {
                        id: "marker_5",
                        attached: true,
                        isLink: false,
                        tooltip: "ICADE",
                        popover: "ICADE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 138.21006493506493,
                        y: 84.42061272162896
                    }, {
                        id: "marker_6",
                        attached: true,
                        isLink: false,
                        tooltip: "MEDIAS PARTICPATIONS",
                        popover: "MEDIAS PARTICPATIONS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 95.50470779220778,
                        y: 128.67889194240817
                    }, {
                        id: "marker_7",
                        attached: true,
                        isLink: false,
                        tooltip: "CLUB MED",
                        popover: "CLUB MED",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 153.7392857142857,
                        y: 130.23181402033026
                    }, {
                        id: "marker_9",
                        attached: true,
                        isLink: false,
                        tooltip: "ORANGE",
                        popover: "ORANGE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 178.19780844155844,
                        y: 124.79658674760299
                    }, {
                        id: "marker_10",
                        attached: true,
                        isLink: false,
                        tooltip: "PIERRE ET VACANCES",
                        popover: "PIERRE ET VACANCES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 154.3048667783861,
                        y: 150.79714929778854
                    }, {
                        id: "marker_11",
                        attached: true,
                        isLink: false,
                        tooltip: "CHANEL",
                        popover: "CHANEL",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 287.3905579399142,
                        y: 118.86023330251888
                    }, {
                        id: "marker_12",
                        attached: true,
                        isLink: false,
                        tooltip: "BNP PARIBAS SECURITE",
                        popover: "BNP PARIBAS SECURITE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 258.65150214592273,
                        y: 148.28355232970057
                    }, {
                        id: "marker_13",
                        attached: true,
                        isLink: false,
                        tooltip: "CHANEL",
                        popover: "CHANEL",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 307.23419170243204,
                        y: 153.07339496203247
                    }, {
                        id: "marker_14",
                        attached: true,
                        isLink: false,
                        tooltip: "ELIS",
                        popover: "ELIS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 336.65751072961376,
                        y: 157.17897436117408
                    }, {
                        id: "marker_15",
                        attached: true,
                        isLink: false,
                        tooltip: "BETC",
                        popover: "BETC",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 362.6595135908441,
                        y: 146.91502586332
                    }, {
                        id: "marker_16",
                        attached: true,
                        isLink: false,
                        tooltip: "LES ATELIERS HERMES",
                        popover: "LES ATELIERS HERMES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 274.389556509299,
                        y: 170.86423902497953
                    }, {
                        id: "marker_17",
                        attached: true,
                        isLink: false,
                        tooltip: "HERMES",
                        popover: "HERMES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 250.4403433476395,
                        y: 199.60329481897094
                    }, {
                        id: "marker_18",
                        attached: true,
                        isLink: false,
                        tooltip: "EST ENSEMBLE",
                        popover: "EST ENSEMBLE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 449.56094420600857,
                        y: 178.3911345900725
                    }, {
                        id: "marker_19",
                        attached: true,
                        isLink: false,
                        tooltip: "CCMSA",
                        popover: "CCMSA",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 442.20511444921317,
                        y: 153.12582458583412
                    }, {
                        id: "marker_20",
                        attached: true,
                        isLink: false,
                        tooltip: "BANQUE DE FRANCE",
                        popover: "BANQUE DE FRANCE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 334.7757868383405,
                        y: 197.94506635979693
                    }, {
                        id: "marker_21",
                        attached: true,
                        isLink: false,
                        tooltip: "DIRECTION DES FINANCES PUBLIQUES",
                        popover: "DIRECTION DES FINANCES PUBLIQUES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 298.8519670958512,
                        y: 210.60393617381695
                    }, {
                        id: "marker_23",
                        attached: true,
                        isLink: false,
                        tooltip: "ESMOD",
                        popover: "ESMOD",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 259.84896280400574,
                        y: 229.07904346995429
                    }, {
                        id: "marker_24",
                        attached: true,
                        isLink: false,
                        tooltip: "WWF",
                        popover: "WWF",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 275.2448855507868,
                        y: 241.7379132839743
                    }, {
                        id: "marker_25",
                        attached: true,
                        isLink: false,
                        tooltip: "ACADEMIE DE PARIS",
                        popover: "ACADEMIE DE PARIS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 229.39924892703863,
                        y: 269.1084426115852
                    }, {
                        id: "marker_26",
                        attached: true,
                        isLink: false,
                        tooltip: "MEDECIN SANS FRONTIERES",
                        popover: "MEDECIN SANS FRONTIERES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 169.52621602288986,
                        y: 285.18862859155655
                    }, {
                        id: "marker_27",
                        attached: true,
                        isLink: false,
                        tooltip: "VIVARTE",
                        popover: "VIVARTE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 145.2348712446352,
                        y: 255.7653095643749
                    }, {
                        id: "marker_28",
                        attached: true,
                        isLink: false,
                        tooltip: "WEWORK",
                        popover: "WEWORK",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 132.57600143061518,
                        y: 298.873893255362
                    }, {
                        id: "marker_29",
                        attached: true,
                        isLink: false,
                        tooltip: "DOUANES",
                        popover: "DOUANES",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 309.21949320508,
                        y: 328.5500731068449
                    }, {
                        id: "marker_30",
                        attached: true,
                        isLink: false,
                        tooltip: "POLE EMPLOI ANTALIS",
                        popover: "POLE EMPLOI ANTALIS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 303.06112410636763,
                        y: 338.81402160469895
                    }, {
                        id: "marker_31",
                        attached: true,
                        isLink: false,
                        tooltip: "PUBLICIS",
                        popover: "PUBLICIS",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 261.321066881761,
                        y: 366.8688141655001
                    }, {
                        id: "marker_32",
                        attached: true,
                        isLink: false,
                        tooltip: "AIR FRANCE",
                        popover: "AIR FRANCE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 447.11377850868536,
                        y: 412.37660757952403
                    }, {
                        id: "marker_33",
                        attached: true,
                        isLink: false,
                        tooltip: "ORANGE",
                        popover: "ORANGE",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 24,
                        height: 52,
                        x: 355.39456384983527,
                        y: 392.1824087052898
                    }
                ],
                responsive: true
            });
// ENV CULTUREL
            jQuery("#mapsvgEco").mapSvg({
                markerLastID: 15,
                disableAll: true,
                width: 800,
                height: 400,
                colors: {
                    baseDefault: "#000000",
                    background: "#ffffff",
                    selected: 40,
                    hover: 20,
                    directory: "#fafafa",
                    status: {}
                },
                regions: {
                    'Tracé_110': { disabled: true },
                    'Tracé_109': { disabled: true },
                    'Ligne_17': { disabled: true },
                    'Ligne_1': { disabled: true },
                    'Ligne_10': { disabled: true },
                    'Ligne_11': { disabled: true },
                    'Tracé_140': { disabled: true },
                    'Tracé_236': { disabled: true },
                    'Tracé_235': { disabled: true },
                    'Tracé_234': { disabled: true },
                    'Tracé_233': { disabled: true },
                    'Tracé_232': { disabled: true }
                },
                viewBox: [ 0, 80, 800, 380 ],
                zoom: {
                    on: false,
                    limit: [ 0, 10 ],
                    delta: 2,
                    buttons: {
                        on: true,
                        location: "right"
                    },
                    mousewheel: false
                },
                scroll: {
                    on: true,
                    limit: true,
                    background: false,
                    spacebar: false
                },
                tooltips: {
                    mode: "off",
                    on: false,
                    priority: "local",
                    position: "bottom-right"
                },
                popovers: {
                    mode: "on",
                    on: true,
                    priority: "local",
                    position: "top",
                    centerOn: false,
                    width: 300,
                    maxWidth: 50,
                    maxHeight: 50,
                    resetViewboxOnClose: true,
                    mobileFullscreen: 0
                },
                gauge: {
                    on: false,
                    labels: {
                        low: "low",
                        high: "high"
                    },
                    colors: {
                        lowRGB: { r: 85, g: 0, b: 0, a: 1 },
                        highRGB: { r: 238, g: 0, b: 0, a: 1 },
                        low: "#550000",
                        high: "#ee0000",
                        diffRGB: { r: 153, g: 0, b: 0, a: 0 }
                    },
                    min: 0,
                    max: false
                },
                source: "/mapsvg/maps/user-uploads/mapQuartier.svg",
                title: "MapQuartier",
                markers: [
                    {
                        id: "marker_1",
                        attached: true,
                        isLink: false,
                        tooltip: "Centre sportif de Lagoumège",
                        popover: "Centre sportif de Lagoumège",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 552.869352869353,
                        y: 251.15995115995116
                    },
                    {
                        id: "marker_2",
                        attached: true,
                        isLink: false,
                        tooltip: "Le Trabendo",
                        popover: "Le Trabendo",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 506.959706959707,
                        y: 292.1855921855922
                    },
                    {
                        id: "marker_3",
                        attached: true,
                        isLink: false,
                        tooltip: "Philarmonie",
                        popover: "Philarmonie",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 511.84371184371184,
                        y: 333.2112332112332
                    },
                    {
                        id: "marker_4",
                        attached: true,
                        isLink: false,
                        tooltip: "Cité de la musique",
                        popover: "Cité de la musique",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 506.959706959707,
                        y: 383.0280830280831
                    }, {
                        id: "marker_5",
                        attached: true,
                        isLink: false,
                        tooltip: "Conservatoire",
                        popover: "Conservatoire",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 415.14041514041514,
                        y: 398.6568986568987
                    }, {
                        id: "marker_6",
                        attached: true,
                        isLink: false,
                        tooltip: "Théâtre Paris La Vilette",
                        popover: "Théâtre Paris La Vilette",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 418.0708180708181,
                        y: 376.1904761904762
                    }, {
                        id: "marker_7",
                        attached: true,
                        isLink: false,
                        tooltip: "La Grande Halle",
                        popover: "La Grande Halle",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 426.8620268620269,
                        y: 342.002442002442
                    }, {
                        id: "marker_8",
                        attached: true,
                        isLink: false,
                        tooltip: "Cinéma PleinAir",
                        popover: "Cinéma PleinAir",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 404.39560439560444,
                        y: 282.4175824175824
                    }, {
                        id: "marker_9",
                        attached: true,
                        isLink: false,
                        tooltip: "La Géode",
                        popover: "La Géode",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 398.5347985347986,
                        y: 215.995115995116
                    }, {
                        id: "marker_10",
                        attached: true,
                        isLink: false,
                        tooltip: "Vill'Up",
                        popover: "Vill'Up",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 397.5579975579976,
                        y: 193.52869352869354
                    }, {
                        id: "marker_11",
                        attached: true,
                        isLink: false,
                        tooltip: "Le Zénith Paris-La Vilette",
                        popover: "Le Zénith Paris-La Vilette",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 472.7716727716728,
                        y: 223.80952380952382
                    }, {
                        id: "marker_12",
                        attached: true,
                        isLink: false,
                        tooltip: "Cité des sciences",
                        popover: "Cité des sciences",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 342.8571428571429,
                        y: 172.03907203907204
                    }, {
                        id: "marker_13",
                        attached: true,
                        isLink: false,
                        tooltip: "Le Glazart ",
                        popover: "Le Glazart ",
                        data: {},
                        src: "/mapsvg/markers/mark.svg",
                        width: 15,
                        height: 24,
                        x: 295.970695970696,
                        y: 114.40781440781441
                    }
                ],
                responsive: true
            });
        });
    </script>
{% endblock %}
