<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ "Bienvenue!"|trans }}
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link
		rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon_io/favicon.ico') }}"/>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<link href="/mapsvg/css/mapsvg.css" rel="stylesheet">
		<link href="/mapsvg/css/nanoscroller.css" rel="stylesheet">
		<script src="/mapsvg/js/jquery.mousewheel.min.js"></script>
		<script src="/mapsvg/js/jquery.nanoscroller.min.js"></script>
		<script src="/mapsvg/js/mapsvg.min.js"></script>
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('flickity') }}
			{{ encore_entry_script_tags('gsap') }}
			{{ encore_entry_script_tags('draggable') }}
			{# {{ encore_entry_script_tags('mapsvg') }} #}
			{{ encore_entry_script_tags('custom') }}
		{% endblock %}
		<script>
	// TABS ******************************************************
	function tabsIt(evt, tabName) {
		let styleHide = {
		"opacity": "0",
		"z-index": "-99999",
		"position": "fixed",
		"top": "-2000px",
		"left": "0",
		"transition": "max-height 500ms ease-out",
		"max-height": "0",
		"overflow": "hidden"
		};
		let styleVisible = {
		"opacity": "1",
		"z-index": "1",
		"top": "0",
		"position": "relative",
		"max-height": "unset",
		"overflow": "visible"
		};
		evt.preventDefault();
		let i,
		tabcontent,
		tablinks;

		// TAB CONTENT
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			Object.assign(tabcontent[i].style, styleHide);
		}
		
		// LIENS NAV
		tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		evt.currentTarget.className += " active";

		// ON AFFICHE LA TAB
		Object.assign(document.getElementById(tabName).style, styleVisible);
	}
		</script>
	</body>
</html>
