<nav class="topnav cover" style="background-image: url('{{ asset(bgImage) }}')">
	{# LOGO #}
	<a href="{{ path("accueil") }}" title="Cité Universelle | Paris">
		<svg id="logo" data-name="Groupe 27" xmlns="http://www.w3.org/2000/svg" width="155.45" height="156.3" viewbox="0 0 155.45 156.3">
			<g id="Groupe_22" data-name="Groupe 22">
				<path id="Tracé_219" data-name="Tracé 219" d="M17.03,103.68c.94,2.24.49,3.32-1.66,4.22l-7.73,3.22c-1.09.45-1.21.16-1.98-1.7l8.58-3.58c.87-.36,1.08-.88.7-1.78l-1.53-3.67,1.92-.8Z"/>
				<path id="Tracé_220" data-name="Tracé 220" d="M12.22,85.66,9.91,86.94l.88,5.28c.86.14,1.73.25,2.58.34l.43,2.59A71.98,71.98,0,0,1,2.6,92.61a1.952,1.952,0,0,0-1.53-.02A6.4,6.4,0,0,1,0,90.05l11.56-6.94.23-.04Zm-9,4.97c1.76.52,3.63.92,5.52,1.28l-.66-3.96Z"/>
				<path id="Tracé_221" data-name="Tracé 221" d="M15.2,51.64c1.45.49,1.37,2.6.72,4.51-1.27,3.71-4.46,5.19-8.56,3.79a5.875,5.875,0,0,1-3.78-7.92C4.4,49.61,6.22,48.16,8,48.76a1.455,1.455,0,0,1,.97,1.97l-.2.58-.43-.15a2.141,2.141,0,0,0-2.88,1.59,3.834,3.834,0,0,0,2.69,4.87c2.65.9,5.01.05,6.01-2.86a8.162,8.162,0,0,0,.38-3.35Z"/>
				<path id="Tracé_222" data-name="Tracé 222" d="M19.86,46.91,9.84,41.21c-1.02-.58-.86-.87.13-2.61l11.04,6.28Z"/>
				<path id="Tracé_223" data-name="Tracé 223" d="M26.42,37.11l-8.05-6.75-2.59,3.09-1.62-1.36,6.16-7.34c.54-.65,1.1-.18,2.16.71l-2.61,3.11,8.05,6.75Z"/>
				<path id="Tracé_224" data-name="Tracé 224" d="M40.95,23.67l-3.89,2.99c-1.93,1.48-3.08,1.33-4.5-.52l-5.04-6.56c-.73-.95-.45-1.16,1.12-2.37l3.9-3c.62-.48,1.04.07,1.84,1.11l-4.53,3.47,2.18,2.85,3.64-2.79,1.12,1.46L33.15,23.1l1.1,1.43a1.207,1.207,0,0,0,1.98.23l3.49-2.67ZM28.58,16.12l-.17.13-1.03-.44,1.01-4.51a4.364,4.364,0,0,1,2.48,1.01Z"/>
				<path id="Tracé_225" data-name="Tracé 225" d="M66.01,13.99c-2.86.5-5.45-.92-6.07-4.44L58.86,3.33c-.2-1.16.13-1.22,2.1-1.56l1.23,7.09c.46,2.63,1.73,3.34,3.45,3.04s2.8-1.42,2.34-4.05L66.76.84l2.3-.4,1.27,7.3C70.99,11.51,68.83,13.5,66.01,13.99Z"/>
				<path id="Tracé_226" data-name="Tracé 226" d="M85.95,13.51,80.31,3.99l-.72,8.78-2.29-.19L78.3.46A5.675,5.675,0,0,1,80.56,0l5.66,9.42L86.93.7l2.29.19-1,12.16A5.758,5.758,0,0,1,85.95,13.51Z"/>
				<path id="Tracé_227" data-name="Tracé 227" d="M94.29,15.02,97.46,3.93c.32-1.13.64-1.04,2.57-.49l-3.5,12.22Z"/>
				<path id="Tracé_228" data-name="Tracé 228" d="M108.04,20.15a7.358,7.358,0,0,1-2.14-.65l1.45-13.32.11-.21,2.41,1.23-1.45,9.98a82.844,82.844,0,0,0,7.28-7.01l2.34,1.19A81.657,81.657,0,0,1,108.04,20.15Z"/>
				<path id="Tracé_229" data-name="Tracé 229" d="M122.68,30.88l-3.75-3.15c-1.86-1.56-1.96-2.72-.46-4.51l5.32-6.34c.77-.92,1.04-.69,2.56.58l3.77,3.16c.6.5.16,1.03-.68,2.04l-4.37-3.67-2.31,2.75,3.51,2.95-1.18,1.41-3.51-2.95-1.16,1.38a1.218,1.218,0,0,0,.2,1.99l3.36,2.82Z"/>
				<path id="Tracé_230" data-name="Tracé 230" d="M134.55,37.2l-.82,2.81a2.164,2.164,0,0,0,.33,2.21l.18.23-.3.23c-.73.56-1.62.1-2.19-.65-.58-.77-.81-1.43-.23-3.02l1.05-2.99-1.24-1.64-3.26,2.48L126.66,35l9.12-6.92c.94-.71,1.14-.44,2.35,1.15l1.33,1.75c1.67,2.2,1.83,4.59-.15,6.09A3.905,3.905,0,0,1,134.55,37.2Zm3.04-5.43-1.03-1.36-3.67,2.78L134,34.66a2.471,2.471,0,0,0,3.56.7C138.85,34.37,138.51,32.98,137.59,31.77Z"/>
				<path id="Tracé_231" data-name="Tracé 231" d="M136.58,50.89c-.69-1.52-.93-3.19.44-3.82l.71-.32a7.015,7.015,0,0,0,.59,3.02c.5,1.11,1.3,1.88,2.23,1.46,1.98-.9-1.48-5.74,2.52-7.55,2.38-1.08,4.59.16,5.71,2.62.95,2.11.6,4.14-.82,4.78a1.388,1.388,0,0,1-2-.75l-.23-.52.39-.18a1.821,1.821,0,0,0,.81-2.63,1.847,1.847,0,0,0-2.44-1.2c-2.61,1.18,1.09,5.92-2.62,7.6C139.57,54.46,137.56,53.07,136.58,50.89Z"/>
				<path id="Tracé_232" data-name="Tracé 232" d="M142.21,68.64l-1.03-4.79c-.51-2.38.12-3.36,2.4-3.85l8.09-1.74c1.17-.25,1.24.09,1.66,2.03l1.04,4.81c.17.77-.51.91-1.79,1.19l-1.2-5.58-3.51.75.96,4.49-1.8.39-.96-4.49-1.76.38c-.96.21-1.27.71-1.06,1.69l.92,4.29Z"/>
				<path id="Tracé_233" data-name="Tracé 233" d="M142.76,77.61c-.02-2.43.8-3.26,3.13-3.28l8.37-.06c1.18-.01,1.18.31,1.19,2.33l-9.29.06c-.94.01-1.33.4-1.32,1.38l.03,3.98-2.08.01Z"/>
				<path id="Tracé_234" data-name="Tracé 234" d="M141.62,90.47c.46-2.39,1.43-3.04,3.72-2.6l8.22,1.59c1.16.22,1.1.53.71,2.51l-9.13-1.76c-.92-.18-1.38.13-1.57,1.09l-.75,3.91-2.04-.39Z"/>
				<path id="Tracé_235" data-name="Tracé 235" d="M136.12,107.33,138,102.8c.93-2.24,2.01-2.69,4.16-1.79l7.64,3.18c1.1.46.97.78.21,2.61l-1.89,4.54c-.3.72-.93.46-2.15-.04l2.19-5.27-3.31-1.38-1.76,4.24-1.7-.71,1.76-4.24-1.67-.69c-.9-.38-1.45-.14-1.83.79l-1.69,4.05Z"/>
			</g>
			<g id="Groupe_23" data-name="Groupe 23">
				<path id="Tracé_236" data-name="Tracé 236" d="M45.97,145.16l-1.05-.48-1.67,3.66-2.16-.99,4.84-10.59c.5-1.09.81-.95,2.65-.1l1.3.6c2.96,1.35,4.43,3.3,3.17,6.05C51.85,145.96,48.96,146.52,45.97,145.16Zm2.89-6.18-1.11-.51-2.02,4.42.92.42c1.87.85,3.45.52,4.16-1.04C51.54,140.69,50.35,139.66,48.86,138.98Z"/>
				<path id="Tracé_237" data-name="Tracé 237" d="M65.69,155.36l-.39-2.66-5.34-1.05c-.44.77-.86,1.56-1.25,2.33l-2.62-.52a74.234,74.234,0,0,1,6.43-9.75,2.018,2.018,0,0,0,.57-1.45,6.336,6.336,0,0,1,2.8-.12l2.47,13.49-.05.24Zm-1.5-10.35c-1.13,1.48-2.18,3.13-3.2,4.79l4.01.79Z"/>
				<path id="Tracé_238" data-name="Tracé 238" d="M83.8,150.85l1.92,2.28a2.227,2.227,0,0,0,2.06.97l.3-.02.02.38c.06.93-.83,1.43-1.79,1.49s-1.67-.12-2.69-1.51l-1.94-2.58-2.09.13.26,4.16-2.37.15-.72-11.62c-.07-1.19.27-1.21,2.29-1.34l2.23-.14c2.8-.17,4.92,1.03,5.07,3.56A3.93,3.93,0,0,1,83.8,150.85Zm-2.89-5.64-1.73.11.29,4.68,1.87-.12a2.5,2.5,0,0,0,2.59-2.62C83.83,145.61,82.46,145.12,80.91,145.21Z"/>
				<path id="Tracé_239" data-name="Tracé 239" d="M96.33,153.83,93.31,142.5c-.31-1.16.02-1.24,1.98-1.77l3.32,12.48Z"/>
				<path id="Tracé_240" data-name="Tracé 240" d="M110.73,148.87c-1.53.74-3.22,1.02-3.89-.36l-.35-.72a6.981,6.981,0,0,0,3.06-.68c1.11-.54,1.88-1.37,1.43-2.3-.96-1.99-5.8,1.64-7.74-2.38-1.15-2.39.05-4.67,2.53-5.86,2.12-1.02,4.19-.71,4.88.72a1.418,1.418,0,0,1-.71,2.05l-.52.25-.19-.39a1.844,1.844,0,0,0-2.69-.76,1.865,1.865,0,0,0-1.16,2.5c1.26,2.62,5.99-1.25,7.79,2.48C114.28,145.74,112.92,147.81,110.73,148.87Z"/>
			</g>
			<g id="Groupe_24" data-name="Groupe 24">
				<path id="Tracé_241" data-name="Tracé 241" d="M116.84,39.65c-.08-.15-.93.17-1.11.28a.042.042,0,0,1-.06-.05c.09-.2.09-.43-.2-.44-.21-.01-1.88,1.18-2.95,1.75-1.03.55-1.46,1.69-2.44,2.31-.71.44-8.47,3.38-9.59,3.86-1.46.62-3.68,2.24-4.15,2.27-1.6.13-7.78,1.96-10.05,2.44-.53.11-1.01.21-1.48.31a6.754,6.754,0,0,1-3.75-.3,1.788,1.788,0,0,1-.37-.18,2.95,2.95,0,0,1-.9-2.16c.08-.74.79-1.38.92-2.05a.53.53,0,0,1,.34-.18c.47-.1.88-3.24.69-3.3a.465.465,0,0,0-.4,0,6.343,6.343,0,0,0,.11-1.6A4.474,4.474,0,0,0,80,39.25a3.606,3.606,0,0,0-2.72-1.02,3.721,3.721,0,0,0-2.72,1.02,4,4,0,0,0-1.45,3.36,6.844,6.844,0,0,0,.11,1.6.433.433,0,0,0-.4,0c-.19.06.22,3.2.69,3.3a.53.53,0,0,1,.34.18c.12.62.84,1.36.92,2.05a2.711,2.711,0,0,1-.9,2.16,1.383,1.383,0,0,1-.37.18,6.754,6.754,0,0,1-3.75.3c-.47-.09-.94-.19-1.48-.31-2.26-.49-8.45-2.31-10.05-2.44-.47-.04-2.69-1.65-4.15-2.27-1.12-.48-8.89-3.41-9.59-3.86-.98-.62-1.41-1.76-2.44-2.31-1.07-.57-2.74-1.76-2.95-1.75-.3.01-.3.24-.2.44.02.03-.02.07-.06.05-.18-.11-1.03-.43-1.11-.28a6.966,6.966,0,0,0,.31,2.82,16.79,16.79,0,0,0,3.3,2.91c.54.37,1.58.33,2.22.59.08.03,7.77,5.64,10.26,6.19.9.2,1.84.24,2.72.5,1.23.36,6.91,3.65,8.77,4.35,1.68.64,3.63,2.32,3.63,3.33h0c.04,1.71,1.98,10.46,1.81,11.69-.09.64-1.84,5.38-2.32,6.66-.64,1.72-3.74,14.18-4.89,16.63-.37.86-1.34,1.49-1.78,2.38a10.378,10.378,0,0,1-1.06,2.2c-.88,1.07-6.31,16-6.71,16.84-.24.5-3.18,3.48-3.65,3.52-.31.03-.88-.02-1.1.31-.43.65.92,1.15,1.4,1.42.65.36,2.4,1.19,2.6,1.31a1.459,1.459,0,0,0,2.15-.78,45.524,45.524,0,0,1,1.46-4.95c.81-1.65,7.62-14.52,8.53-15.31a10.533,10.533,0,0,0,1.7-1.95c1.77-2.5,8.84-13.75,9.1-14.11.13-.18.32-.84.9-1.02a.562.562,0,0,1,.2-.03.6.6,0,0,1,.2.03c.58.18.78.83.9,1.02.25.36,7.33,11.61,9.1,14.11a10.533,10.533,0,0,0,1.7,1.95c.91.79,7.72,13.66,8.53,15.31a42.788,42.788,0,0,1,1.46,4.95,1.465,1.465,0,0,0,2.15.78c.2-.12,1.94-.95,2.6-1.31.48-.27,1.83-.77,1.4-1.42-.22-.33-.79-.29-1.1-.31-.48-.04-3.41-3.02-3.65-3.52-.4-.84-5.83-15.77-6.71-16.84a10.378,10.378,0,0,1-1.06-2.2c-.45-.89-1.42-1.52-1.78-2.38-1.15-2.44-4.26-14.91-4.89-16.63-.47-1.28-2.23-6.02-2.32-6.66-.17-1.23,1.77-9.97,1.81-11.69h0c0-1.01,1.95-2.69,3.63-3.33,1.86-.71,7.54-3.99,8.77-4.35.89-.26,1.82-.3,2.72-.5,2.49-.55,10.18-6.16,10.26-6.19.64-.26,1.68-.23,2.22-.59a15.653,15.653,0,0,0,3.3-2.91A6.513,6.513,0,0,0,116.84,39.65Z"/>
			</g>
			<g id="Groupe_25" data-name="Groupe 25">
				<circle id="Ellipse_2" data-name="Ellipse 2" cx="1.98" cy="1.98" r="1.98" transform="translate(24.92 126.45)"/>
			</g>
			<g id="Groupe_26" data-name="Groupe 26">
				<circle id="Ellipse_3" data-name="Ellipse 3" cx="1.98" cy="1.98" r="1.98" transform="translate(126.51 126.45)"/>
			</g>
		</svg>
	</a>
	{# TITRE PAGE #}
	<h1>{{titre}}</h1>
	{# LANGUES #}
	<nav class="langues langues--alt">
		<ul>
			<li>
				{% for locale in locales() %}
                    {% if app.request.locale != locale.code %}
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.code }}</a>
                    {% endif %}
				{% endfor %}
			</li>
		</ul>
	</nav>
	{# TOGGLER #}

	<a href="#" id="toggler" title="Voir le menu de navigation">
		<div class="togtop"></div>
		<div class="togmil"></div>
		<div class="togbot"></div>
	</a>
	{# TOGGLE MENU #}
	<nav
		class="togglemenu">
		{# CLOSE #}
		<div class="toggleclose" id="close">
			<svg width="34" height="34" viewbox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="34" height="34" fill="white"/>
				<rect x="2" y="30.2842" width="40" height="3" transform="rotate(-45 2 30.2842)" fill="black"/>
				<rect x="4.12134" y="2" width="40" height="3" transform="rotate(45 4.12134 2)" fill="black"/>
			</svg>
		</div>
		{# LOGO #}
		<div class="logo mb-24">
			<a href="{{ path("accueil") }}">
				<svg data-name="Groupe 27" xmlns="http://www.w3.org/2000/svg" width="155.45" height="156.3" viewbox="0 0 155.45 156.3">
					<g id="Groupe_22" data-name="Groupe 22">
						<path id="Tracé_219" data-name="Tracé 219" d="M17.03,103.68c.94,2.24.49,3.32-1.66,4.22l-7.73,3.22c-1.09.45-1.21.16-1.98-1.7l8.58-3.58c.87-.36,1.08-.88.7-1.78l-1.53-3.67,1.92-.8Z"/>
						<path id="Tracé_220" data-name="Tracé 220" d="M12.22,85.66,9.91,86.94l.88,5.28c.86.14,1.73.25,2.58.34l.43,2.59A71.98,71.98,0,0,1,2.6,92.61a1.952,1.952,0,0,0-1.53-.02A6.4,6.4,0,0,1,0,90.05l11.56-6.94.23-.04Zm-9,4.97c1.76.52,3.63.92,5.52,1.28l-.66-3.96Z"/>
						<path id="Tracé_221" data-name="Tracé 221" d="M15.2,51.64c1.45.49,1.37,2.6.72,4.51-1.27,3.71-4.46,5.19-8.56,3.79a5.875,5.875,0,0,1-3.78-7.92C4.4,49.61,6.22,48.16,8,48.76a1.455,1.455,0,0,1,.97,1.97l-.2.58-.43-.15a2.141,2.141,0,0,0-2.88,1.59,3.834,3.834,0,0,0,2.69,4.87c2.65.9,5.01.05,6.01-2.86a8.162,8.162,0,0,0,.38-3.35Z"/>
						<path id="Tracé_222" data-name="Tracé 222" d="M19.86,46.91,9.84,41.21c-1.02-.58-.86-.87.13-2.61l11.04,6.28Z"/>
						<path id="Tracé_223" data-name="Tracé 223" d="M26.42,37.11l-8.05-6.75-2.59,3.09-1.62-1.36,6.16-7.34c.54-.65,1.1-.18,2.16.71l-2.61,3.11,8.05,6.75Z"/>
						<path id="Tracé_224" data-name="Tracé 224" d="M40.95,23.67l-3.89,2.99c-1.93,1.48-3.08,1.33-4.5-.52l-5.04-6.56c-.73-.95-.45-1.16,1.12-2.37l3.9-3c.62-.48,1.04.07,1.84,1.11l-4.53,3.47,2.18,2.85,3.64-2.79,1.12,1.46L33.15,23.1l1.1,1.43a1.207,1.207,0,0,0,1.98.23l3.49-2.67ZM28.58,16.12l-.17.13-1.03-.44,1.01-4.51a4.364,4.364,0,0,1,2.48,1.01Z"/>
						<path id="Tracé_225" data-name="Tracé 225" d="M66.01,13.99c-2.86.5-5.45-.92-6.07-4.44L58.86,3.33c-.2-1.16.13-1.22,2.1-1.56l1.23,7.09c.46,2.63,1.73,3.34,3.45,3.04s2.8-1.42,2.34-4.05L66.76.84l2.3-.4,1.27,7.3C70.99,11.51,68.83,13.5,66.01,13.99Z"/>
						<path id="Tracé_226" data-name="Tracé 226" d="M85.95,13.51,80.31,3.99l-.72,8.78-2.29-.19L78.3.46A5.675,5.675,0,0,1,80.56,0l5.66,9.42L86.93.7l2.29.19-1,12.16A5.758,5.758,0,0,1,85.95,13.51Z"/>
						<path id="Tracé_227" data-name="Tracé 227" d="M94.29,15.02,97.46,3.93c.32-1.13.64-1.04,2.57-.49l-3.5,12.22Z"/>
						<path id="Tracé_228" data-name="Tracé 228" d="M108.04,20.15a7.358,7.358,0,0,1-2.14-.65l1.45-13.32.11-.21,2.41,1.23-1.45,9.98a82.844,82.844,0,0,0,7.28-7.01l2.34,1.19A81.657,81.657,0,0,1,108.04,20.15Z"/>
						<path id="Tracé_229" data-name="Tracé 229" d="M122.68,30.88l-3.75-3.15c-1.86-1.56-1.96-2.72-.46-4.51l5.32-6.34c.77-.92,1.04-.69,2.56.58l3.77,3.16c.6.5.16,1.03-.68,2.04l-4.37-3.67-2.31,2.75,3.51,2.95-1.18,1.41-3.51-2.95-1.16,1.38a1.218,1.218,0,0,0,.2,1.99l3.36,2.82Z"/>
						<path id="Tracé_230" data-name="Tracé 230" d="M134.55,37.2l-.82,2.81a2.164,2.164,0,0,0,.33,2.21l.18.23-.3.23c-.73.56-1.62.1-2.19-.65-.58-.77-.81-1.43-.23-3.02l1.05-2.99-1.24-1.64-3.26,2.48L126.66,35l9.12-6.92c.94-.71,1.14-.44,2.35,1.15l1.33,1.75c1.67,2.2,1.83,4.59-.15,6.09A3.905,3.905,0,0,1,134.55,37.2Zm3.04-5.43-1.03-1.36-3.67,2.78L134,34.66a2.471,2.471,0,0,0,3.56.7C138.85,34.37,138.51,32.98,137.59,31.77Z"/>
						<path id="Tracé_231" data-name="Tracé 231" d="M136.58,50.89c-.69-1.52-.93-3.19.44-3.82l.71-.32a7.015,7.015,0,0,0,.59,3.02c.5,1.11,1.3,1.88,2.23,1.46,1.98-.9-1.48-5.74,2.52-7.55,2.38-1.08,4.59.16,5.71,2.62.95,2.11.6,4.14-.82,4.78a1.388,1.388,0,0,1-2-.75l-.23-.52.39-.18a1.821,1.821,0,0,0,.81-2.63,1.847,1.847,0,0,0-2.44-1.2c-2.61,1.18,1.09,5.92-2.62,7.6C139.57,54.46,137.56,53.07,136.58,50.89Z"/>
						<path id="Tracé_232" data-name="Tracé 232" d="M142.21,68.64l-1.03-4.79c-.51-2.38.12-3.36,2.4-3.85l8.09-1.74c1.17-.25,1.24.09,1.66,2.03l1.04,4.81c.17.77-.51.91-1.79,1.19l-1.2-5.58-3.51.75.96,4.49-1.8.39-.96-4.49-1.76.38c-.96.21-1.27.71-1.06,1.69l.92,4.29Z"/>
						<path id="Tracé_233" data-name="Tracé 233" d="M142.76,77.61c-.02-2.43.8-3.26,3.13-3.28l8.37-.06c1.18-.01,1.18.31,1.19,2.33l-9.29.06c-.94.01-1.33.4-1.32,1.38l.03,3.98-2.08.01Z"/>
						<path id="Tracé_234" data-name="Tracé 234" d="M141.62,90.47c.46-2.39,1.43-3.04,3.72-2.6l8.22,1.59c1.16.22,1.1.53.71,2.51l-9.13-1.76c-.92-.18-1.38.13-1.57,1.09l-.75,3.91-2.04-.39Z"/>
						<path id="Tracé_235" data-name="Tracé 235" d="M136.12,107.33,138,102.8c.93-2.24,2.01-2.69,4.16-1.79l7.64,3.18c1.1.46.97.78.21,2.61l-1.89,4.54c-.3.72-.93.46-2.15-.04l2.19-5.27-3.31-1.38-1.76,4.24-1.7-.71,1.76-4.24-1.67-.69c-.9-.38-1.45-.14-1.83.79l-1.69,4.05Z"/>
					</g>
					<g id="Groupe_23" data-name="Groupe 23">
						<path id="Tracé_236" data-name="Tracé 236" d="M45.97,145.16l-1.05-.48-1.67,3.66-2.16-.99,4.84-10.59c.5-1.09.81-.95,2.65-.1l1.3.6c2.96,1.35,4.43,3.3,3.17,6.05C51.85,145.96,48.96,146.52,45.97,145.16Zm2.89-6.18-1.11-.51-2.02,4.42.92.42c1.87.85,3.45.52,4.16-1.04C51.54,140.69,50.35,139.66,48.86,138.98Z"/>
						<path id="Tracé_237" data-name="Tracé 237" d="M65.69,155.36l-.39-2.66-5.34-1.05c-.44.77-.86,1.56-1.25,2.33l-2.62-.52a74.234,74.234,0,0,1,6.43-9.75,2.018,2.018,0,0,0,.57-1.45,6.336,6.336,0,0,1,2.8-.12l2.47,13.49-.05.24Zm-1.5-10.35c-1.13,1.48-2.18,3.13-3.2,4.79l4.01.79Z"/>
						<path id="Tracé_238" data-name="Tracé 238" d="M83.8,150.85l1.92,2.28a2.227,2.227,0,0,0,2.06.97l.3-.02.02.38c.06.93-.83,1.43-1.79,1.49s-1.67-.12-2.69-1.51l-1.94-2.58-2.09.13.26,4.16-2.37.15-.72-11.62c-.07-1.19.27-1.21,2.29-1.34l2.23-.14c2.8-.17,4.92,1.03,5.07,3.56A3.93,3.93,0,0,1,83.8,150.85Zm-2.89-5.64-1.73.11.29,4.68,1.87-.12a2.5,2.5,0,0,0,2.59-2.62C83.83,145.61,82.46,145.12,80.91,145.21Z"/>
						<path id="Tracé_239" data-name="Tracé 239" d="M96.33,153.83,93.31,142.5c-.31-1.16.02-1.24,1.98-1.77l3.32,12.48Z"/>
						<path id="Tracé_240" data-name="Tracé 240" d="M110.73,148.87c-1.53.74-3.22,1.02-3.89-.36l-.35-.72a6.981,6.981,0,0,0,3.06-.68c1.11-.54,1.88-1.37,1.43-2.3-.96-1.99-5.8,1.64-7.74-2.38-1.15-2.39.05-4.67,2.53-5.86,2.12-1.02,4.19-.71,4.88.72a1.418,1.418,0,0,1-.71,2.05l-.52.25-.19-.39a1.844,1.844,0,0,0-2.69-.76,1.865,1.865,0,0,0-1.16,2.5c1.26,2.62,5.99-1.25,7.79,2.48C114.28,145.74,112.92,147.81,110.73,148.87Z"/>
					</g>
					<g id="Groupe_24" data-name="Groupe 24">
						<path id="Tracé_241" data-name="Tracé 241" d="M116.84,39.65c-.08-.15-.93.17-1.11.28a.042.042,0,0,1-.06-.05c.09-.2.09-.43-.2-.44-.21-.01-1.88,1.18-2.95,1.75-1.03.55-1.46,1.69-2.44,2.31-.71.44-8.47,3.38-9.59,3.86-1.46.62-3.68,2.24-4.15,2.27-1.6.13-7.78,1.96-10.05,2.44-.53.11-1.01.21-1.48.31a6.754,6.754,0,0,1-3.75-.3,1.788,1.788,0,0,1-.37-.18,2.95,2.95,0,0,1-.9-2.16c.08-.74.79-1.38.92-2.05a.53.53,0,0,1,.34-.18c.47-.1.88-3.24.69-3.3a.465.465,0,0,0-.4,0,6.343,6.343,0,0,0,.11-1.6A4.474,4.474,0,0,0,80,39.25a3.606,3.606,0,0,0-2.72-1.02,3.721,3.721,0,0,0-2.72,1.02,4,4,0,0,0-1.45,3.36,6.844,6.844,0,0,0,.11,1.6.433.433,0,0,0-.4,0c-.19.06.22,3.2.69,3.3a.53.53,0,0,1,.34.18c.12.62.84,1.36.92,2.05a2.711,2.711,0,0,1-.9,2.16,1.383,1.383,0,0,1-.37.18,6.754,6.754,0,0,1-3.75.3c-.47-.09-.94-.19-1.48-.31-2.26-.49-8.45-2.31-10.05-2.44-.47-.04-2.69-1.65-4.15-2.27-1.12-.48-8.89-3.41-9.59-3.86-.98-.62-1.41-1.76-2.44-2.31-1.07-.57-2.74-1.76-2.95-1.75-.3.01-.3.24-.2.44.02.03-.02.07-.06.05-.18-.11-1.03-.43-1.11-.28a6.966,6.966,0,0,0,.31,2.82,16.79,16.79,0,0,0,3.3,2.91c.54.37,1.58.33,2.22.59.08.03,7.77,5.64,10.26,6.19.9.2,1.84.24,2.72.5,1.23.36,6.91,3.65,8.77,4.35,1.68.64,3.63,2.32,3.63,3.33h0c.04,1.71,1.98,10.46,1.81,11.69-.09.64-1.84,5.38-2.32,6.66-.64,1.72-3.74,14.18-4.89,16.63-.37.86-1.34,1.49-1.78,2.38a10.378,10.378,0,0,1-1.06,2.2c-.88,1.07-6.31,16-6.71,16.84-.24.5-3.18,3.48-3.65,3.52-.31.03-.88-.02-1.1.31-.43.65.92,1.15,1.4,1.42.65.36,2.4,1.19,2.6,1.31a1.459,1.459,0,0,0,2.15-.78,45.524,45.524,0,0,1,1.46-4.95c.81-1.65,7.62-14.52,8.53-15.31a10.533,10.533,0,0,0,1.7-1.95c1.77-2.5,8.84-13.75,9.1-14.11.13-.18.32-.84.9-1.02a.562.562,0,0,1,.2-.03.6.6,0,0,1,.2.03c.58.18.78.83.9,1.02.25.36,7.33,11.61,9.1,14.11a10.533,10.533,0,0,0,1.7,1.95c.91.79,7.72,13.66,8.53,15.31a42.788,42.788,0,0,1,1.46,4.95,1.465,1.465,0,0,0,2.15.78c.2-.12,1.94-.95,2.6-1.31.48-.27,1.83-.77,1.4-1.42-.22-.33-.79-.29-1.1-.31-.48-.04-3.41-3.02-3.65-3.52-.4-.84-5.83-15.77-6.71-16.84a10.378,10.378,0,0,1-1.06-2.2c-.45-.89-1.42-1.52-1.78-2.38-1.15-2.44-4.26-14.91-4.89-16.63-.47-1.28-2.23-6.02-2.32-6.66-.17-1.23,1.77-9.97,1.81-11.69h0c0-1.01,1.95-2.69,3.63-3.33,1.86-.71,7.54-3.99,8.77-4.35.89-.26,1.82-.3,2.72-.5,2.49-.55,10.18-6.16,10.26-6.19.64-.26,1.68-.23,2.22-.59a15.653,15.653,0,0,0,3.3-2.91A6.513,6.513,0,0,0,116.84,39.65Z"/>
					</g>
					<g id="Groupe_25" data-name="Groupe 25">
						<circle id="Ellipse_2" data-name="Ellipse 2" cx="1.98" cy="1.98" r="1.98" transform="translate(24.92 126.45)"/>
					</g>
					<g id="Groupe_26" data-name="Groupe 26">
						<circle id="Ellipse_3" data-name="Ellipse 3" cx="1.98" cy="1.98" r="1.98" transform="translate(126.51 126.45)"/>
					</g>
				</svg>
			</a>
		</div>
		{# MENU #}
		<ul>
			<li>
				<a href="{{ path("genese") }}">{{ "Genèse"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("acces") }}">{{ "Accès"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("quartier") }}">{{ "Quartier"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("bureaux") }}">{{ "Bureaux"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("ecosysteme") }}">{{ "Écosystème"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("films-images") }}">{{ "Films & Images"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("cahier-technique") }}">{{ "Cahier technique"|trans }}</a>
			</li>
			<li>
				<a href="{{ path("labels-certifications") }}">{{ "Labels & certifications"|trans }}</a>
			</li>
			{# <li><a href="date-cles">Dates clés</a></li> #}
            <li>
                <a href="{{ path("dates-cles") }}">{{ "Dates clés"|trans }}</a>
            </li>
			<li>
				<a href="{{ path("contact") }}">{{ "Contact"|trans }}</a>
			</li>
		</ul>
	</nav>
	{# LINE #}
	<div class="line">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</nav>

<style>
.langues a{
	text-transform:uppercase;
}
.langues--alt
{
	text-transform: uppercase;
	color:white;
	right: 46px;
}
.langues--alt a
{
	text-transform: uppercase;
	color:white !important;
}
</style>